<div class="col-8 offset-2">
    <h3>Security Release Report</h3>
    <form [formGroup]="form" (ngSubmit)="onRunReport()" novalidate>
        <div class="row">
            <div class="col-12">
                <br/>
                <div class="form-group row">
                    <label class="col-4 col-form-label font-weight-bold">Report Type</label>
                    <div class="col-8">
                        <select class="form-control" formControlName="reportType">
                            <option value="1">One Year</option>
                            <option value="2">Two Years</option>
                            <option value="3">Three Years</option>
                            <option value="4">Four to Seven Years</option>
                            <option value="7">All</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group row">
                    <label class="col-4 col-form-label font-weight-bold">Date</label>
                    <div class="col-8">
                        <div class="input-group">
                            <input id="date" class="form-control" placeholder="yyyy-mm-dd" formControlName="date" (focus)="date.toggle()" [firstDayOfWeek]="7"  ngbDatepicker #date="ngbDatepicker" [minDate]="{year: 1900, month: 1, day: 1}">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="oi oi-calendar" (click)="date.toggle()" title="Open Calendar" aria-hidden="true" style="cursor: pointer"></span>
                                </div>
                            </div>
                        </div>
                        <div class="custom-invalid-feedback" *ngIf="form.errors?.date">{{form.errors.date}}</div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Open Report</button>
            </div>
        </div>
    </form>
</div>
