/**
Defaults
**/
html {
    font-size: 14px;
}

body{
    width: 100%;
	margin: 0 auto;
	padding: 0px;
	background-color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
    color: #000000;
    font-size: 1rem;
    line-height: 22px;
	-webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
	-ms-overflow-style: scrollbar;
}

h1, h2, h3, h4 {
    font-weight: 500;
    color: $tarionBlue;
}

a {
	outline: 0;
}
