app-footer {
    display: block;
    background-color: $tarionBlue;
    color: $tarionBlue;
    width: 100%;
    margin-top: 50px;
}

app-footer .separator {
    display:block;
    height: 25px;
    width: 100%;
    background-color: #486ca3;
}

app-footer .bottom {
    display:block;
    bottom: 0;
    height: 50px;
    background-color: $tarionYellow;
    color: $tarionWhite;
}

app-footer p {
	font-weight: bold;
	line-height: 50px;
}
