$path: '../src/assets/img/';

.t-icon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-style: normal;
	font-weight: normal;
	line-height: 1em;
	background-size: contain;
	width: 1em;
	height: 1em;
    	text-align: center;
    	box-sizing: content-box;
}

.t-icon-sticky-note {
	/*Creative Commons 3.0 https://creativecommons.org/licenses/by/3.0/
	  Original https://www.iconfinder.com/paomedia */
	background-image: url(assets/img/sticky_note.svg);	
}
.t-icon-view-360 {
	/*Creative Commons 3.0 https://creativecommons.org/licenses/by/3.0/
	  Original https://www.iconfinder.com/paomedia */
	background-image: url(assets/img/360-view.gif);	
}
.t-icon-wheelchair {
	background-image: url(assets/img/wheelchair.svg);
}

.t-icon-web-page {
	background-image: url(assets/img/web-page.svg);
}

.t-icon-cancel {
	background-image: url(assets/img/cancel.svg);
}

.t-icon-web-page-lg {
	@extend .t-icon-web-page;
	width: 64px;
	height: 64px;
	margin: -5px 5px 0px 0px;
	float: left;
}