app-navbar {
    color: $tarionTextBlue;
    display: block;
    width: 100%;
}

app-navbar .navbar-top, app-footer .bottom div {
    max-width: 1400px;
    margin: 0 auto;
}

app-navbar .navbar-top .logo {
    background-image: url(assets/img/logo.svg);
    background-repeat: no-repeat;
    height: 38px;
    margin: 15px 0 0 15px;
    padding: 0;
    width: 210px;
    line-height: 38px;
    display: inline-block;
}

app-navbar .navbar-top h2 {
	margin-top: 15px;
	line-height: 38px;
	display: inline-block;
	
}

app-navbar .navbar-top .userinfo {
    display: inline-block;
}

app-navbar .navbar-top .pad {
    padding-top: 10px;
}

app-navbar nav {
    background-color: $tarionBlue;
    min-height: 39px;
    display:block;
    margin-bottom: 50px;
}

app-navbar nav, app-navbar nav a, app-navbar nav button.dropdown-toggle {
    color: $tarionWhite;
}

app-navbar nav .dropdown-menu {
    background-color: $tarionYellow;
    
}

app-navbar nav .dropdown-menu a.dropdown-item {
    color: #000000;
    background-color: $tarionYellow;
}
app-navbar nav a.nav-link:hover{
    color: $tarionWhite;
}

app-navbar nav a.nav-link-selected{
	color: $tarionYellow !important;
 }

app-navbar nav a.dropdown-toggle:hover, app-navbar nav a.dropdown-item:hover, app-navbar nav a.nav-link:hover {
    text-decoration: underline !important;
    cursor: pointer;
}
app-navbar div {
    max-width: 1400px;
    margin: 0 auto;
}

app-navbar .page-header span {
	margin: 15px 15px 0 0;
	display: inline-block;
	line-height: 38px;
}

app-navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}