<div class="row">
	<div class="col-xl-4 offset-xl-4 col-lg-6 offset-lg-3 col-10 offset-1">
		<h2>VBS Login</h2>
		<br>
		<form name="form" (ngSubmit)="login(f)" #f="ngForm" novalidate>
		<div class="form-row">
			<div class="form-group col-12">
				<label for="username">Username</label>
				<input type="text" class="form-control" id="username" name="username" [(ngModel)]="model.username" #username="ngModel" required />
				<div *ngIf="username.invalid && (username.dirty || username.touched)" class="invalid-feedback">
					Please enter your username.
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-12">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
				<div class="invalid-feedback">
					Please enter your password.
				</div>
			</div>
		</div>
		<div *ngIf="authenticationError" class="col-12 form-row alert alert-danger">
			{{authenticationErrorReason}}
		</div>
		<div class="form-row">
			<div class="form-group col-12">
				<button class="btn btn-primary" [disabled]="f.invalid || loggingIn">
					{{(loggingIn) ? 'Logging In...' : 'Login'}}
				</button>
			</div>
		</div>

		</form>
	</div>
</div>