<div class="row">
    <div class="col-12" *ngIf="mode==='view'">
        <button class="btn btn-primary float-right mb-3" (click)="newAlert()" type="button">Add
            Alert
        </button>
    </div>

    <div class="col-12" *ngIf="financialInstitution!=null">


        <ngx-datatable class="bootstrap table-bordered table-hover table-striped"
                       *ngIf="financialInstitution.alerts!=null && financialInstitution.alerts.length > 0"
                       [rows]="financialInstitution.alerts"
                       [limit]="50"
                       [columnMode]="'flex'"
                       [headerHeight]="'auto'"
                       [rowHeight]="'auto'"
                       [footerHeight]="'auto'"
                       #dataTable>

            <ngx-datatable-footer>
                <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-offset="offset">
                    <div class="page-count">
                        <ng-container *ngIf="!alertsTableEmpty;else zeroTotal">
                            {{rowCount}} total
                        </ng-container>
                        <ng-template #zeroTotal>0 total</ng-template>
                    </div>
                </ng-template>
            </ngx-datatable-footer>

            <ngx-datatable-column [flexGrow]="1" prop="createDate" name="Date created">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <ng-container *ngIf="row.createDate != null">
                        <a [href]="null" (click)="$event.preventDefault();loadAlert(row)">{{row.createDate | dateFormat}}</a>
                    </ng-container>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [flexGrow]="1" prop="createUser" name="Created by">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <ng-container *ngIf="row.createUser != null">
                        {{row.createUser}}
                    </ng-container>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [flexGrow]="1" name="Alert Type">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <ng-container *ngIf="row.alertType != null">
                        {{row.alertType.description}}
                        <span *ngIf="row.alertType.id === 1" class="oi oi-flag red"></span>
                        <span *ngIf="row.alertType.id === 2" class="oi oi-flag orange"></span>
                        <span *ngIf="row.alertType.id === 3" class="oi oi-flag yellow"></span>
                    </ng-container>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [flexGrow]="1" prop="status" name="Status">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <ng-container *ngIf="row.status != null">
                        {{row.status}}
                    </ng-container>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [flexGrow]="1" prop="updateDate" name="Last modified">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <ng-container *ngIf="row.updateDate != null">
                        {{row.updateDate | dateFormat}} {{row.updateDate | date : 'shortTime'}}
                    </ng-container>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [flexGrow]="1" prop="updateUser" name="Modified by">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <ng-container *ngIf="row.updateUser != null">
                        {{row.updateUser}}
                    </ng-container>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [flexGrow]="1" prop="endDate" name="Start date">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <ng-container *ngIf="row.startDate != null">
                        {{row.startDate | dateFormat}}
                    </ng-container>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [flexGrow]="1" prop="endDate" name="End date">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <ng-container *ngIf="row.endDate != null">
                        {{row.endDate | dateFormat}}
                    </ng-container>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [flexGrow]="1" prop="endUser" name="End by">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <ng-container *ngIf="row.endUser != null">
                        {{row.endUser}}
                    </ng-container>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [flexGrow]="3" prop="description" name="Description">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <ng-container *ngIf="row.description != null">
                        <div [innerHtml]="getAlertDescription(row.description)"></div>
                    </ng-container>
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>

        <div class="col-12" #alertDetail>
            <app-financial-institution-alert-detail (formClosed)="onFormClosed($event)" [hidden]="mode=='view'" [modeTitle]="modeTitle()"></app-financial-institution-alert-detail>
        </div>
    </div>
</div>
