<div class="modal-header">
	<h4 class="modal-title">Add Reasons</h4>
	<button type="button" class="close" aria-label="Close" (click)="c()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<form [formGroup]="form" (submit)="save()" *ngIf="!showReasonsProgress;else progress">
	<div class="modal-body" formArrayName="reasons">
		<div class="form-group row" >
      <div class="col-6" [formGroupName]="i" *ngFor="let reason of form.get('reasons').value; let i = index;">
        <div class="form-check-inline">
          <input class="custom-checkbox form-check-input" type="checkbox" id="selected-{{i}}" formControlName="selected">
          <label class="form-check-label" for="selected-{{i}}">{{reason.description}}</label>
        </div>
      </div>
    </div>
  </div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" (click)="save()" [disabled]="noReasonsSelected() || showReasonsProgress">Save</button>
		<button type="button" class="btn btn-primary" (click)="c()"> Close</button>
	</div>
</form>
<ng-template #progress>
  <div class="row">
    <div class="col-10 offset-1">
      <br/>&nbsp;<br/>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
      </div>
      <br/>&nbsp;<br/>
    </div>
  </div>
</ng-template>
