<div class="row" *ngIf="decision != null">
    <div class="col-10 offset-1">
        <form ></form>
        <h3>Add CE Enrolment to Blanket Security</h3>
        <br>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Enrolment Number</label>
            <div class="col-md-3">
                <span class="form-control-plaintext">{{decision.enrolmentNumber}}</span>
			</div>			
			<label class="col-md-3 col-form-label">Enter No. of Units to Cover</label>
			<div class="col-md-1">
				<input type="number" class="form-control {{(unitsError) ? ' is-invalid' : ''}}" name="unitsToCover" [(ngModel)]="decision.unitsToCover" />
				<div class="invalid-feedback">
					The number of units to cover must be entered if this Enrolment should be added.
				</div>
			</div>
		</div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Enrolment Address</label>
            <div class="col-md-8">
                <span class="form-control-plaintext">{{decision.enrolmentAddress}}</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">Enrolling VB</label>
            <div class="col-md-8">
                <span class="form-control-plaintext">{{decision.vbNumber}} - {{decision.vbName}}</span>
            </div>
        </div>
        <hr/>
        <h4>Blanket Securities</h4>
        <br>
        The Enrolment would be added to the following blanket securities:
        <br/><br/>
        <ngx-datatable
            class="bootstrap table-bordered table-hover table-striped"
            [rows]="decision.blanketSecurities"
            [columnMode]="'flex'"
            [headerHeight]="'auto'"
            [rowHeight]="'auto'"
            [footerHeight]="'auto'">

            <ngx-datatable-column [flexGrow]="1" [sortable]="false" name="Security Number" prop="id"></ngx-datatable-column>
            <ngx-datatable-column [flexGrow]="1" [sortable]="false" name="Pool ID" prop="poolId"></ngx-datatable-column>
            <ngx-datatable-column [flexGrow]="1" [sortable]="false" name="Security Type" prop="securityTypeId">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{getTypeNameById(row.securityTypeId)}}
                </ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column [flexGrow]="1" [sortable]="false" name="Identity Type" prop="identityTypeId">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{getIdentityTypeNameById(row.identityTypeId)}}
                </ng-template>
			</ngx-datatable-column>
            <ngx-datatable-column [flexGrow]="1" [sortable]="false" name="Original Amount" prop="originalAmount">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    ${{row.originalAmount | vbsCurrency}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [flexGrow]="1" [sortable]="false" name="Current Amount" prop="currentAmount">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    ${{row.currentAmount | vbsCurrency}}
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>

        <hr/>
        <br/>
        <div class="row">
        <div class="col-2">
            <button type="button" class="btn btn-secondary" (click)="updateDecision(false);disableButtons=true;" [disabled]="disableButtons">Do NOT Add Enrolment to Security</button>
        </div>

        <div class="col-2 offset-8 text-right">
            <button type="button" class="btn btn-primary" (click)="updateDecision(true);disableButtons=true;" [disabled]="disableButtons">Add Enrolment to Security</button>
        </div>
            <div class="col-12"><br/>&nbsp;</div>
        </div>
    </div>
</div>
