<div class="row">
	<div class="col-md-10 offset-md-1">
		<form [formGroup]="form" #f="ngForm" novalidate>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group row">
						<label class="col-md-4 col-form-label font-weight-bold">Deleted Date</label>
						<div ngbDropdown class="input-group col-md-8">
							<div class="input-group-prepend">
								<button class="btn input-group-text dropdown-toggle" type="button" id="updateDateTypeDD" ngbDropdownToggle>{{textForSearchType(searchParams.updateDateType)}}</button>
								<div ngbDropdownMenu aria-labelledby="updateDateTypeDD">
									<button class="dropdown-item" (click)="form.controls['updateDateType'].setValue('EQUALS')">=</button>
									<button class="dropdown-item" (click)="form.controls['updateDateType'].setValue('BETWEEN')">Between</button>
									<button class="dropdown-item" (click)="form.controls['updateDateType'].setValue('LESS_THAN')">&lt;</button>
									<button class="dropdown-item" (click)="form.controls['updateDateType'].setValue('GREATER_THAN')">&gt;</button>
									<button class="dropdown-item" (click)="form.controls['updateDateType'].setValue('EQUALS_LESS_THAN')">&lt;=</button>
									<button class="dropdown-item" (click)="form.controls['updateDateType'].setValue('EQUALS_GREATER_THAN')">&gt;=</button>
								</div>
							</div>
							<input class="form-control" placeholder="yyyy-mm-dd" formControlName="updateDate" (focus)="updateDate.toggle()" ngbDatepicker [firstDayOfWeek]="7" #updateDate="ngbDatepicker" [minDate]="{year: 1900, month: 1, day: 1}" weekStartsOn="4" showValidation>
							<div class="input-group-append">
								<div class="input-group-text">
									<span class="oi oi-calendar" (click)="updateDate.toggle()" title="Open Calendar" aria-hidden="true" style="cursor: pointer"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group row" *ngIf="searchParams.updateDateType == 'BETWEEN'">
						<label class="col-md-4 col-form-label font-weight-bold">and</label>
						<div class="col-md-8">
							<div class="input-group">
								<input class="form-control" placeholder="yyyy-mm-dd" [attr.data-label]="'Update Date'" formControlName="updateDateBetweenTo" (focus)="updateDateBetweenTo.toggle()" ngbDatepicker [firstDayOfWeek]="7" #updateDateBetweenTo="ngbDatepicker" [minDate]="{year: 1900, month: 1, day: 1}" weekStartsOn="4" showValidation>
								<div class="input-group-append">
									<div class="input-group-text">
										<span class="oi oi-calendar" (click)="updateDateBetweenTo.toggle()" title="Open Calendar" aria-hidden="true" style="cursor: pointer"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-1">
					<button type="button" class="btn btn-primary" (click)="search()" [disabled]="form.invalid || searchingForm">
						{{searchingForm ? 'Searching' : 'Search'}}
					</button>
				</div>
				<div class="col-1">
					<button type="button" class="btn btn-secondary" (click)="clear()">Clear</button>
				</div>
				<div *ngIf="results != null && results.length > 0" class="col-1 offset-9">
					<button  class="btn btn-secondary float-right" (click)="exportToExcel()" [disabled]="downloadingExcel">{{(downloadingExcel) ? 'Downloading...' : 'Download'}}</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div *ngIf="searched ==true" class="results">
	<div class="row" *ngIf="results;else noresults">
		<div class="col-12">
			<ngx-datatable #datatable class="bootstrap table-bordered table-hover table-striped table-small-font"
			[rows]="results"
			[limit]="100"
			[virtualization]="false"
			[reorderable]="false"
			[columnMode]="'force'"
			[headerHeight]="'auto'"
			[footerHeight]="'auto'"
			[rowHeight]="'auto'"
            [scrollbarH]="showScrollbar()"
			(page)="onPage()">
			
			<ngx-datatable-column name="Security Number" [resizeable]="false" [maxWidth]="80">
				<ng-template let-row="row" ngx-datatable-cell-template>
					<a [routerLink]="['/security']" [queryParams]="{id: row.securityNumber}" >{{row.securityNumber}}</a>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column name="Instrument Number" [resizeable]="false" [maxWidth]="100">
				<ng-template let-row="row" ngx-datatable-cell-template>
					<a [routerLink]="['/security']" [queryParams]="{id: row.securityNumber}" >{{row.instrumentNumber}}</a>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column name="Received Date" [comparator]="compareDate" prop="receivedDate" [resizeable]="false" [maxWidth]="80">
				<ng-template let-row="row" ngx-datatable-cell-template>
					{{row.receivedDate | dateFormat }}
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column name="Pool Id" [resizeable]="false" [maxWidth]="70" >
				<ng-template let-row="row" ngx-datatable-cell-template>
					{{row.poolId}}
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column name="Security Type" prop="securityTypeName" [resizeable]="false" >
				<ng-template let-row="row" ngx-datatable-cell-template>
					{{row.securityTypeName}}
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column name="VB Number" [resizeable]="false" [maxWidth]="70" >
				<ng-template let-row="row" ngx-datatable-cell-template>
					<a href="{{ session.getProperty('crmCompanyUrl', 'B'+row.vbNumber) }}" target="_blank" *ngIf="row.vbNumber != null">B{{row.vbNumber}}</a>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column name="VB Name" [resizeable]="false" [minWidth]="200" >
				<ng-template let-row="row" ngx-datatable-cell-template>
					<a href="{{ session.getProperty('crmCompanyUrl', 'B'+row.vbNumber) }}" target="_blank" *ngIf="row.vbNumber != null">{{row.vbName}}</a>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column name="Security Purpose" prop="securityPurposeName" [resizeable]="false" [minWidth]="120">
				<ng-template let-row="row" ngx-datatable-cell-template>
					{{row.securityPurposeName}}
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column name="Original Amount" prop="originalAmount" [resizeable]="false" >
				<ng-template let-row="row" ngx-datatable-cell-template>
					<div *ngIf="row.originalAmount != null" class="float-right">${{row.originalAmount | vbsCurrency}}</div>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column name="Current Amount" prop="currentAmount" [resizeable]="false" >
				<ng-template let-row="row" ngx-datatable-cell-template>
					<div *ngIf="row.currentAmount != null" class="float-right">${{row.currentAmount | vbsCurrency}}</div>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column name="Current Interest Amount"  prop="currentInterestAmount" [resizeable]="false" >
				<ng-template let-row="row" ngx-datatable-cell-template>
					<div *ngIf="row.currentInterestAmount != null" class="float-right">${{row.currentInterestAmount | vbsCurrency}}</div>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column name="Total Available Cash Amount (Inc Interest)"  prop="totalAvailableAmount" [resizeable]="false" >
				<ng-template let-row="row" ngx-datatable-cell-template>
					<div *ngIf="row.totalAvailableAmount != null" class="float-right">${{row.totalAvailableAmount | vbsCurrency}}</div>
				</ng-template>
			</ngx-datatable-column>
		</ngx-datatable>
	</div>
	
</div>

<ng-template #noresults><p>No results found.</p></ng-template>
</div>
