<div class="col-12" *ngIf="searching">
  <br><br>
  <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%">
      </div>
  </div>
</div>

<div *ngIf="!searching && results != null" class="results">
  <div class="row" *ngIf="results.length;else noResults">
    <div class="col-2 offset-10">
      <button type="button" class="btn btn-secondary float-right" (click)="exportToExcel()" [disabled]="downloadingExcel">{{(downloadingExcel) ? 'Downloading...' : 'Download'}}</button>
      <br><br>
    </div>
    <div class="col-12">
    <ngx-datatable class="bootstrap table-bordered table-hover table-striped"
    [rows]="results"
    [limit]="50"
    [columnMode]="'flex'"
    [headerHeight]="'auto'"
    [footerHeight]="'auto'"
    [rowHeight]="'auto'">
      <ngx-datatable-column name="Security Number" [flexGrow]="1" prop='securityNumber'>
      </ngx-datatable-column>
      <ngx-datatable-column name="VB Number" [flexGrow]="1" prop='vbNumber'>
      </ngx-datatable-column>
      <ngx-datatable-column name="VB Name" [flexGrow]="1" prop='vbName'>
      </ngx-datatable-column>
      <ngx-datatable-column name="Instrument Number" [flexGrow]="1" prop='instrumentNumber'>
      </ngx-datatable-column>
      <ngx-datatable-column name="Issued Date" [flexGrow]="1" prop='issuedDate'>
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value | dateFormat}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Received Date" [flexGrow]="1" prop='receivedDate'>
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value | dateFormat}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Original Amount" [flexGrow]="1" prop='originalAmount'>
          <ng-template let-value="value" ngx-datatable-cell-template>
              {{value | vbsCurrency}}
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Current Amount" [flexGrow]="1" prop='currentAmount'>
          <ng-template let-value="value" ngx-datatable-cell-template>
              {{value | vbsCurrency}}
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Last Interest Calculated Date" [flexGrow]="1" prop='lastInterestCalculatedDate'>
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value | dateFormat}}
        </ng-template>
      </ngx-datatable-column>
        <ngx-datatable-column name="Missing Interest Date(s)" [flexGrow]="2" prop='missingInterestDates'></ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
</div>

<ng-template #noResults>No Interest Found.</ng-template>
