<div class="modal-header">
	<h4 class="modal-title">Contact Search (CRM)</h4>
	<button type="button" class="close" aria-label="Close" (click)="d()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<form [formGroup]="form" #f="ngForm" (keydown)="formKeyDown($event)">
		<div class="row">
            <div class="col-md-12">
				<div class="form-group row">
					<label class="col-md-4 col-form-label font-weight-bold">Contact Name</label>
					<div ngbDropdown class="input-group col-md-8">
                        <div class="input-group-prepend">
                            <button class="btn input-group-text dropdown-toggle" type="button" id="codeTypeDD" ngbDropdownToggle>{{textForSearchType(form.controls['nameType'].value)}}</button>
                            <div ngbDropdownMenu aria-labelledby="codeTypeDD">
                                <button class="dropdown-item" (click)="form.controls['nameType'].patchValue('EQUALS')">=</button>
                                <button class="dropdown-item" (click)="form.controls['nameType'].patchValue('CONTAINS')">Contains</button>
                                <button class="dropdown-item" (click)="form.controls['nameType'].patchValue('BEGINS_WITH')">Begins With</button>
                            </div>
                        </div>
						<input class="form-control" formControlName="name" type="text" />
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<button type="button" (click)="search()" class="btn btn-primary" [disabled]="!form.valid || searching">{{searching ? 'Searching...' : 'Search'}}</button>
			</div>
			<div class="col-md-2">
				<button type="button" class="btn btn-secondary" (click)="clear()">Clear</button>
			</div>
		</div>
	</form>
	
	<div *ngIf="searched" class="results">
		<hr/>
		<div class="row" *ngIf="results.length > 0;else noResults">
			<div class="col-12">
				<h4>Search Results</h4>
				<ngx-datatable class="bootstrap table-bordered table-hover table-striped"
				[rows]="results"
				[limit]="25"			
				[columnMode]="'flex'"
				[headerHeight]="'auto'"
				[footerHeight]="'auto'"
				[rowHeight]="'auto'" >
					<ngx-datatable-column name="Contact ID" [flexGrow]="1" prop="crmContactId">
						<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
							<a href="#" (click)="$event.preventDefault();select(row)">{{row.crmContactId}}</a>
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="Contact Name" [flexGrow]="2"  [comparator]="compareName">
						<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
              <a href="#" (click)="$event.preventDefault();select(row)">{{(row.companyName != null) ? row.companyName : row.firstName + " " + row.lastName}}</a>
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="Address" [flexGrow]="3" prop="address.addressConcat">
						<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
							{{(row.address.addressConcat != '') ? row.address.addressConcat : row.mailingAddress.addressConcat}}
						</ng-template>
					</ngx-datatable-column>
				</ngx-datatable>
			</div>
		
		</div>
		
		<ng-template #noResults><p>No results found.</p></ng-template>
	</div>

</div>

<div class="modal-footer"> 
	<button type="button" class="btn btn-primary" (click)="c()">Close</button>
</div>
