
<div class="modal-header">
	<h4 class="modal-title">Search Home</h4>
	<button type="button" class="close" aria-label="Close" (click)="d()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
<div *ngIf="addingEnrolment || loadingAvailable; else search" class="progress">
	<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
</div>

<ng-template #search>
	<form autocomplete="off">
		<div class="row">
			<div class="input-group col-12">
			<input #enrolmentNumber id="enrolmentNumber" type="text" class="form-control" placeholder="Filter by Enrolment #" (keyup)="filterEnrolments(enrolmentNumber.value)" ngbAutofocus>
			<div class="input-group-append" *ngIf="enrolmentNumber.value.length > 0">
				<button class="btn input-group-text" type="button" (click)="enrolmentNumber.value='';filterEnrolments('')"> Clear </button>
			</div>
			<div class="input-group-append">
				<button class="btn btn-primary rounded-right" type="button" (click)="addEnrolment(enrolmentNumber.value)" [disabled]="!enrolmentNumber.value.length"> Add </button>
			</div>
			</div>
			<div class="col-12"><br/></div>
		</div>
	</form>

	<div *ngIf="failedEnrolment != null" class="alert alert-danger" role="alert">{{failedEnrolment}} was not found</div>	
	<div *ngIf="notCondoConversion != null" class="alert alert-danger" role="alert">{{notCondoConversion}} is not a Condo Conversion and cannot be added</div>

	<div class="row" *ngIf="filteredEnrolments.length > 0;else noResults">
	<div class="col-12">
		<ngx-datatable class="bootstrap table-bordered table-hover table-striped"
						[rows]="filteredEnrolments"
						[limit]="25"
						[columnMode]="'flex'"
						[headerHeight]="'auto'"
						[footerHeight]="'auto'"
						[rowHeight]="'auto'" >
		<ngx-datatable-column name="Enrolment Number" [flexGrow]="2" prop="enrolmentNumber">
			<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
			<a href="#" (click)="addEnrolment(row.enrolmentNumber)">{{row.enrolmentNumber}}</a>
			</ng-template>
		</ngx-datatable-column>
		<ngx-datatable-column name="V/B Number" [flexGrow]="2" prop="enrollingVb">
			<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
			{{row.enrollingVb}}
			</ng-template>
		</ngx-datatable-column>
		</ngx-datatable>
	</div>
	</div>
</ng-template>

<ng-template #noResults><p>No matching enrolments found.</p></ng-template>

</div>
<div class="modal-footer">				
	<button type="button" class="btn btn-secondary" (click)="d()">Close</button>
</div>
