.highlight label {
	font-weight: 700;
}

.scrollbox {
	overflow-y: auto;
	max-height: calc(100vh - 180px);
}

.scrollbox>.row {
	margin-right: 0;
}

.line-diagonal {
	background-color: transparent;
	background-image: repeating-linear-gradient(-40deg, transparent 0%, transparent 45%, #FF0000 45%, #FF0000 55%, transparent 55%, transparent 100%)
}

label {
	font-weight: bold;
}

.seq-number {
	font-size: 12px;
	padding-right: 5px;
}


.validation {
	color: #cc0000;
	font-size: 12px;
}

.icon-history-right {
	float: right;
}

.icons span {
	margin-right: 5px;
}

.no-gutters {
	margin-right: 0;
	margin-left: 0.3em;
	padding-left: 0;
}

input[type="text"][disabled] {
	background-color: #DCDAD1;
}

a.hover {
	color: #8ab1e4;
	text-decoration: none;
}

a.hover:hover {
	text-decoration: underline;
}

.vb-header {
	background-color: #cccccc;
	margin-left: 0;
	margin-right: 0;
	border-radius: 0.25rem 0.25rem 0 0;
	padding: 1rem 0 0.5rem;
}
.jb-header{
	background-color: #cccccc;
}
.jb-border{
	border-style: solid;
	border-color: #ced4da;
	border-width: 1px 1px 1px 1px;
}
.vb-header label {
	font-size: 1rem;
	line-height: 1.5rem;
	color: #495057;
}

.vb-row {
	margin-left: 0;
	margin-right: 0;
	border-style: solid;
	border-color: #ced4da;
	border-width: 0 1px 1px 1px;
	padding: 0.5rem 0 0.5rem;
	color: #495057;
}

.vb-rows > div:last-of-type > .vb-row{
	border-radius: 0 0 0.25rem 0.25rem;
}

a.oi.oi-flag.red:hover {
	text-decoration: none;
	color: red;
}