<form *ngIf="form != null" [formGroup]="form" novalidate>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group row">
				<label class="col-md-4 col-form-label" for="instrumentNumber">*Instrument Number</label>
				<div class="col-md-7">
					<input class="form-control" id="instrumentNumber" formControlName="instrumentNumber" type="text" showValidation/>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group row">
				<label class="col-md-4 offset-md-1 col-form-label" for="poolId">Pool ID</label>
				<div class="col-md-7">
					<input class="form-control" id="poolId" formControlName="poolId" type="number" min="1" showValidation/>
				</div>
			</div>
		</div>
	</div>

    <div class="row">
        <div class="col-12">
            <ngx-datatable
                class="bootstrap table-bordered table-hover table-striped"
                [rows]="filteredVbList"
                [columnMode]="'flex'"
                [headerHeight]="'auto'"
                [rowHeight]="'auto'"
                [footerHeight]="'auto'" #vbTable>

                <ngx-datatable-column [flexGrow]="1" [sortable]="false">
                    <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <ng-container *ngIf="row.crmContactId != null">
                            <p class="form-control-plaintext">
                                <small>{{rowIndex+1}}.</small>
                            </p>
                        </ng-container>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [flexGrow]="2" [sortable]="false" name="VB #" prop="crmContactId">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <ng-container *ngIf="row.crmContactId != null">
                            <p class="form-control-plaintext">
                                <a href="{{crmCompanyUrl+row.crmContactId}}" target="_blank">{{row.crmContactId}}</a>
                            </p>
                        </ng-container>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [flexGrow]="12" [sortable]="false" name="Name" prop="companyName">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <p class="form-control-plaintext">{{row.companyName}}</p>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [flexGrow]="4" [sortable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <p class="form-control-plaintext">
							<a target="_blank" href="{{searchAndReplaceCrmUrls('%s', flagUrl, row.crmContactId)}}" class="oi oi-flag red" data-toggle="tooltip" data-placement="top" title="Red Flag" *ngIf="hasAlert(row, '1')"></a>
							<a target="_blank" href="{{searchAndReplaceCrmUrls('%s', flagUrl, row.crmContactId)}}" class="oi oi-flag darkorange" data-toggle="tooltip" data-placement="top" title="Orange Flag" *ngIf="hasAlert(row, '3')"></a>
							<a target="_blank" href="{{searchAndReplaceCrmUrls('%s', flagUrl, row.crmContactId)}}"  class="oi oi-flag yellow" data-toggle="tooltip" data-placement="top" title="Yellow Flag" *ngIf="hasAlert(row, '2')"></a>
                        
                            <span class="font-weight-bold red" *ngIf="row.unwilling == 'Y'">U/U</span>
                            <a target="_blank" href="{{yellowStickyUrl + row.crmContactId}}" class="t-icon t-icon-sticky-note" data-toggle="tooltip" data-placement="top" title="Yellow Sticky" *ngIf="row.yellowSticky"></a>
                            <span class="font-weight-bold t-icon t-icon-wheelchair" data-toggle="tooltip" data-placement="top" title="Accessibility" *ngIf="row.accessibility"></span>
                        </p>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [flexGrow]="4" [sortable]="false" name="Licence Status" prop="licenseStatus">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <p class="form-control-plaintext">
                            {{(row.licenseStatus != null) ? row.licenseStatus.description : ''}}
                        </p>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [flexGrow]="4" [sortable]="false" name="Primary" prop="primaryVb">
                    <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <ng-container *ngIf="row.crmContactId != null">
                            <div class="form-control-plaintext custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" [formControl]="getPrimaryVbFormControlForVbNumber(row.crmContactId)" id="primaryVb-{{rowIndex}}">
                                <label class="custom-control-label text-hide" style="vertical-align: top;" for="primaryVb-{{rowIndex}}">Primary VB</label>
                            </div>
                        </ng-container>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [flexGrow]="5" [sortable]="false">
                    <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <div class="row no-gutters" *ngIf="session.getUser().hasPermission('CREATE_SECURITY')">
                            <div class="col-5">
                                <button (click)="addVb()" type="button" class="btn btn-secondary form-control" [disabled]="isFullyReleased">
                                    <span class="oi oi-plus"></span>
                                </button>
                            </div>
                            <div class="col-5 offset-2">
                                <button (click)="deleteVb(row.crmContactId)" type="button" class="btn btn-secondary form-control" [disabled]="vbListIsEmpty || isFullyReleased || (isSecurityType(1) && securityHasId && row.primaryVb)">
                                    <span class="oi oi-trash"></span>
                                </button>
                            </div>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-footer>
                    <ng-template ngx-datatable-footer-template>
                        <ng-container *ngIf="form.get('instrumentNumber').disabled && form.get('instrumentNumber').errors && form.get('instrumentNumber').errors['serverErrors'] != undefined">
                            <div class="row" style="width:100%">
                                <div class="alert alert-danger col-10 offset-1">
                                    <span *ngFor="let msg of form.controls['instrumentNumber'].errors['serverErrors']">{{msg}}</span>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="form.controls['vbList'].errors && form.controls['vbList'].errors['serverErrors'] != undefined">
                            <div class="row" style="width:100%">
                                <div class="alert alert-danger col-10 offset-1">
                                    <span *ngFor="let msg of form.controls['vbList'].errors['serverErrors']">{{msg}}</span>
                                </div>
                            </div>
                        </ng-container>
                    </ng-template>
                </ngx-datatable-footer>
            </ngx-datatable>
        </div>
    </div>

	<div class="row">
		<div class="col-md-6">
			<div class="form-group row">
				<label class="col-md-4 col-form-label" for="originalAmount">*Original Amount</label>
				<div class="col-md-7">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">$</span>
						</div>
						<input class="form-control" id="originalAmount" formControlName="originalAmount" type="text" currencyFormatter showValidation/>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group row">
				<label class="col-md-4 offset-md-1 col-form-label" for="receivedDate">*Received Date</label>
				<div class="col-md-7">
					<div class="input-group">
						<input class="form-control" placeholder="yyyy-mm-dd" id="receivedDate" formControlName="receivedDate" (focus)="receivedDate.toggle()" ngbDatepicker [firstDayOfWeek]="7" #receivedDate="ngbDatepicker" [minDate]="{year: 1900, month: 1, day: 1}" required showValidation>
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="oi oi-calendar" (click)="receivedDate.toggle()" title="Open Calendar" aria-hidden="true" style="cursor: pointer"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6" *ngIf=" !isSecurityType(1) || !securityHasId">
			<div class="form-group row">
				<label class="col-md-4 col-form-label" for="currentAmount">Current Amount</label>
				<div class="col-md-7">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">$</span>
						</div>
						<input class="form-control" id="currentAmount" formControlName="currentAmount" type="text" currencyFormatter showValidation >
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6" *ngIf=" isSecurityType(1) && securityHasId">
				<div class="form-group row">
					<label class="col-md-4 col-form-label" for="availableAmount">Current Amount</label>
					<div class="col-md-7">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text">$</span>
							</div>
							<input class="form-control" id="availableAmount" [attr.disabled]="true" value="{{form.get('availableAmount').value | vbsCurrency}}" type="text">
						</div>
					</div>
				</div>
			</div>
		<div class="col-md-6">
			<div class="form-group row">
				<label class="col-md-4 offset-md-1 col-form-label" for="issuedDate">{{form.get('securityTypeId').value != 1 ? '*' : ''}}Issued Date</label>
				<div class="col-md-7">
					<div class="input-group">
						<input class="form-control" placeholder="yyyy-mm-dd" id="issuedDate" formControlName="issuedDate" (focus)="issuedDate.toggle()" ngbDatepicker [firstDayOfWeek]="7" #issuedDate="ngbDatepicker" [minDate]="{year: 1900, month: 1, day: 1}" required showValidation>
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="oi oi-calendar" (click)="issuedDate.toggle()" title="Open Calendar" aria-hidden="true" style="cursor: pointer"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" *ngIf="form.get('monthlyDate').errors != null && form.get('monthlyDate').errors['serverErrors'] != null">
        <div class="col-md-6">
            <br>
            <div class="alert alert-danger validation">
                {{form.get('monthlyDate').errors['serverErrors']}}
            </div>
        </div>
    </div>
	<div class="row" *ngIf="securityHasId">
		<div class="col-md-6">
			<div class="form-group row" *ngIf="isSecurityType(3)">
				<label class="col-md-4 col-form-label" for="monthlyReport">Update Monthly Report</label>
				<div class="col-md-7">
                    <p class="form-control-plaintext">
					    <input class="custom-checkbox" id="monthlyReport" formControlName="monthlyReport" type="checkbox" (change)="monthlyChange()">
                    </p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group row" *ngIf="isSecurityType(3) && form.get('monthlyReport').value">
				<label class="col-md-4 offset-md-1 col-form-label" for="monthlyMonth">*Monthly Date:</label>
				<div class="col-md-7">
					<div class="row">
                        <div class="col-6">
                            <select id="monthlyMonth" class="form-control" #monthlyMonth (change)="monthlyChange()">
                                <option *ngFor="let month of monthList" [value]="month.value" [selected]="defaultMonthlyMonth == month.value">{{month.name}}</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <select id="monthlyYear" class="form-control" #monthlyYear (change)="monthlyChange()">
                                <option *ngFor="let year of yearList" [value]="year" >{{year}}</option>
                            </select>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group row" *ngIf="form.get('securityPurposeId').value == 2">
				<label class="col-md-4 col-form-label" for="identityTypeId">Identity type</label>
				<div class="col-md-7">
					<select id="identityTypeId" class="form-control" formControlName="identityTypeId" showValidation (change)="onIdentityTypeChanged()">
                        <option [ngValue]="null"></option>
						<option *ngFor="let identityType of identityTypes" [value]="identityType.id">{{identityType.description}}</option>
					</select>
				</div>
			</div>
        </div>
		<div class="col-md-6">
			<div class="form-group row" *ngIf="isSecurityType(3) && form.get('monthlyReport').value">
				<label class="col-md-4 offset-md-1 col-form-label" for="securityDeposit">Security Deposit</label>
				<div class="col-md-7">
					<select id="securityDeposit" class="form-control" formControlName="securityDeposit" showValidation>
						<option *ngFor="let deposit of allSecurityDeposit" [value]="deposit.id">{{deposit.name}}</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group row" *ngIf="form.get('securityPurposeId').value != 2 || (form.get('securityPurposeId').value == 2 && form.get('identityTypeId').value == null)">
				<label class="col-md-4 col-form-label" for="unitsToCover">*Units Intended To Cover</label>
				<div class="col-md-7">
					<input id="unitsToCover" class="form-control" type="number" formControlName="unitsToCover" min="1" showValidation/>
				</div>
			</div>
			<div class="form-group row" *ngIf="form.get('securityPurposeId').value == 2 && (form.get('identityTypeId').value == 2 || form.get('identityTypeId').value == 3)">
				<label class="col-md-4 col-form-label" for="fhUnitsToCover">*Freehold Units Intended To Cover</label>
				<div class="col-md-7">
					<input id="fhUnitsToCover" class="form-control" type="number" formControlName="fhUnitsToCover" min="1" showValidation/>
				</div>
			</div>
			<div class="form-group row" *ngIf="form.get('securityPurposeId').value == 2 && (form.get('identityTypeId').value == 1 || form.get('identityTypeId').value == 3)">
				<label class="col-md-4 col-form-label" for="ceUnitsToCover">*Condo Units Intended To Cover</label>
				<div class="col-md-7">
					<input id="ceUnitsToCover" class="form-control" type="number" formControlName="ceUnitsToCover" min="1" showValidation/>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group row" *ngIf="form.get('securityTypeId').value == 3">
				<label class="col-md-4 offset-md-1 col-form-label" for="securityStatusId">Security Status</label>
				<div class="col-md-7">
					<select id="securityStatusId" class="form-control" formControlName="securityStatusId" showValidation>
						<option *ngFor="let status of allSecurityStatuses"  [value]="status.id">{{status.name}}</option>
					</select>
				</div>
			</div>
		</div>
	</div>


	<div class="row" *ngIf="form.get('securityTypeId').value != 1">
		<div class="col-md-12">
		    <hr/>
		</div>

		<ng-container formGroupName="financialInstitutionAndBranch">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="financialInstitution">
                        <a *ngIf="form.get('financialInstitutionAndBranch').value !=null && form.get('financialInstitutionAndBranch.financialInstitution').value !=null && form.get('financialInstitutionAndBranch.financialInstitution').value.id !=null"
                            target="_blank" [routerLink]="['/financialInstitution']" [queryParams]="{id: form.get('financialInstitutionAndBranch.financialInstitution').value.id}"><span class="oi oi-link-intact"></span></a>
							{{form.get('securityStatusId').value != 1 && form.get('securityStatusId').value != 2 && form.get('securityStatusId').value != 1 && form.get('securityStatusId').value != 9 && form.get('securityStatusId').value != 3 ? '*' : ''}}Financial Institution
                        <span *ngIf="!isFullyReleased" class="oi oi-magnifying-glass" title="Search" (click)="showSearchModal()"></span>
                    </label>
                    <div class="col-md-10" >
                        <input id="financialInstitution" type="text" class="form-control" formControlName="financialInstitution" [ngbTypeahead]="typeaheadFinancial"
                        [inputFormatter]="financialInstitutionFormatter" [resultTemplate]="rtf" showValidation>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="branch">{{form.get('securityStatusId').value != 1 && form.get('securityStatusId').value != 2 ? '*' : ''}}Branch</label>
                    <div class="col-md-10">
                        <select id="branch" class="form-control" [compareWith]="compareBranch" formControlName="branch" showValidation copyButton>
                            <option *ngIf="branches.length > 1" [ngValue]="newBranch()" selected>Select...</option>
                            <option *ngFor="let branch of branches" [ngValue]="branch">{{branch.id}} - {{branch.addressConcat}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </ng-container>

		<ng-container *ngIf="form.get('financialInstitutionAndBranch').value != null && form.get('financialInstitutionAndBranch.financialInstitution').value != null &&
		    (form.get('financialInstitutionAndBranch.financialInstitution').value.financialInstitutionTypeId == 8 || form.get('financialInstitutionAndBranch.financialInstitution').value.financialInstitutionTypeId == 9)">

            <div class="col-md-12" >
                <div class="from-group row">
                    <label class="col-md-2 col-form-label" for="financialInstitutionMaaPoaDTO">*{{financialInstitutionLabel}}</label>
                    <div class="col-md-10">
                        <select id="financialInstitutionMaaPoaDTO" class="form-control" [compareWith]="compareMaaPoa" formControlName="financialInstitutionMaaPoaDTO" showValidation  (change)="onMaaPoaChanged()">
                            <option *ngIf="maaPoas.length > 1" [ngValue]="null" selected>Select...</option>
                            <option *ngFor="let maaPoa of maaPoas" [ngValue]="maaPoa">{{financialInstitutionLabel + maaPoa.maaPoaSequence }}</option>
                        </select>
                    </div>
                </div>
            </div>

			<div class="col-md-12">
				<div class="from-group row">
				    <label class="col-md-2 col-form-label">Surety Company Details</label>
				    <div class="col-md-10">
                        <ngx-datatable class="bootstrap table-bordered table-hover table-striped" #maaPoaTable
                            [rows]="form.get('financialInstitutionMaaPoaDTO').value.maaPoaInstitutions"
                            [limit]="50"
                            [columnMode]="'flex'"
                            [headerHeight]="'auto'"
                            [footerHeight]="'auto'"
							[rowHeight]="'auto'"
							[summaryRow]="true"
        					[summaryPosition]="'bottom'"
        					[summaryHeight]="'auto'"
                            *ngIf="form.get('financialInstitutionMaaPoaDTO').value !=null
                                    && form.get('financialInstitutionMaaPoaDTO').value.maaPoaInstitutions != null
                                    && form.get('financialInstitutionMaaPoaDTO').value.maaPoaInstitutions.length > 0">

                            <ngx-datatable-column [flexGrow]="3" name="Name" prop="name">
                                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                    <ng-container>
                                        <span>
                                            <a target="_blank" [routerLink]="['/financialInstitution']" [queryParams]="{id: row.financialInstitution.id}">{{ row.financialInstitution!=null ? row.financialInstitution.id+' - '+row.financialInstitution.name : '' }}</a>
                                        </span>
                                    </ng-container>
                                </ng-template>
							</ngx-datatable-column>

							<ngx-datatable-column [flexGrow]="5" name="Branch" prop="branch" [summaryTemplate]="totalLabelMaaPoaSummaryCell">
								<ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
									<ng-container>
										<span>
											{{row.branch.addressConcat}}
										</span>
									</ng-container>
								</ng-template>
							</ngx-datatable-column>

                            <ngx-datatable-column [flexGrow]="2" name="Percentage" prop="percentage" [summaryTemplate]="percentageMaaPoaSummaryCell">
                                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                    % {{row.percentage | vbsCurrency}}
                                </ng-template>
							</ngx-datatable-column>

                            <ngx-datatable-column [flexGrow]="2" name="Original amount" prop="originalAmountOnInstitution" [summaryTemplate]="originalAmountMaaPoaSummaryCell">
                                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                    $ {{row.originalAmountOnInstitution | vbsCurrency}}
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [flexGrow]="2" name="Current Amount" prop="currentAmountOnInstitution" [summaryTemplate]="currentAmountMaaPoaSummaryCell">
                                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                    $ {{row.currentAmountOnInstitution | vbsCurrency}}
                                </ng-template>
							</ngx-datatable-column>
						</ngx-datatable>

						<ng-template #totalLabelMaaPoaSummaryCell>
							<strong>Total:</strong>
						</ng-template>

						<ng-template #percentageMaaPoaSummaryCell>
							<strong>% {{getMaaPoaPercentageSum() | vbsCurrency}}</strong>
						</ng-template>

						<ng-template #originalAmountMaaPoaSummaryCell>
							<strong>$ {{getMaaPoaOriginalAmountSum() | vbsCurrency}}</strong>
						</ng-template>

						<ng-template #currentAmountMaaPoaSummaryCell>
							<strong>$ {{getMaaPoaCurrentAmountSum() | vbsCurrency}}</strong>
						</ng-template>
				    </div>
				</div>
			</div>
        </ng-container>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group row" *ngIf="form.get('securityTypeId').value == 3">
				<label class="col-md-4 col-form-label" for="dtaAccountNumber">{{form.get('securityStatusId').value != 1 && form.get('securityStatusId').value != 2 ? '*' : ''}}DTA Account Number</label>
				<div class="col-md-7">
					<input id="dtaAccountNumber" class="form-control" formControlName="dtaAccountNumber" type="text" showValidation required/>
				</div>
			</div>
			<div class="form-group row" *ngIf="form.get('securityTypeId').value == 5">
				<label class="col-md-4 col-form-label">*PEF Account Number</label>
				<div class="col-md-7">
					<input id="pefAccountNumber" class="form-control" formControlName="pefAccountNumber" type="text" showValidation/>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="form.get('securityTypeId').value == 3 || form.get('securityTypeId').value == 5">
		<div class="row">
			<div class="col-md-12">
				<hr/>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group row" formGroupName="escrowAgentLawyerAssistant">
					<label class="col-md-4 col-form-label" for="escrowAgent">{{form.get('securityStatusId').value != 1 && form.get('securityStatusId').value != 2 && form.get('securityStatusId').value != 3 ? '*' : ''}}Escrow Agent
						<span *ngIf="!isFullyReleased" class="oi oi-magnifying-glass" title="Search" (click)="showEscrowSearchModal()"></span>
					</label>
					<div class="col-md-7">
						<input id="escrowAgent" type="text" class="form-control" formControlName="escrowAgent" [ngbTypeahead]="typeaheadEscrow"
						[inputFormatter]="companyContactFormatter" [resultTemplate]="rtContact" showValidation copyButton>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group row">
					<label class="col-md-4 offset-md-1 col-form-label">Licence Status</label>
					<div class="col-md-7" *ngIf="form.get('escrowAgentLawyerAssistant').value.escrowAgent != undefined && form.get('escrowAgentLawyerAssistant').value.escrowAgent.crmContactId != undefined && form.get('escrowAgentLawyerAssistant').value.escrowAgent.licenseStatus != null">
						<p class="form-control-plaintext">
							{{form.get('escrowAgentLawyerAssistant').value.escrowAgent.licenseStatus.description}}
						<span class="float-right" *ngIf="form.get('escrowAgentLawyerAssistant').value.escrowAgent.crmContactId != null">
						<a href="{{crmCompanyUrl+form.get('escrowAgentLawyerAssistant').value.escrowAgent.crmContactId}}" target="_blank">EA Details</a>
						</span>
					</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 offset-md-6">
				<div class="form-group row">
					<label class="col-md-4 offset-md-1 col-form-label">Licence Application Status</label>
					<div class="col-md-7" *ngIf="form.get('escrowAgentLawyerAssistant').value.escrowAgent != undefined && form.get('escrowAgentLawyerAssistant').value.escrowAgent.escrowAgentLicenseApplicationStatus != undefined ">
						<p class="form-control-plaintext">
							{{form.get('escrowAgentLawyerAssistant').value.escrowAgent.escrowAgentLicenseApplicationStatus.description}}
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row" formGroupName="escrowAgentLawyerAssistant">
			<div class="col-md-6">
				<div class="form-group row">
					<label class="col-md-4 col-form-label" for="lawyer">Lawyer</label>
					<div class="col-md-7">
						<select id="lawyer" class="form-control" [compareWith]="compareContact" formControlName="lawyer" copyButton [copyAddress]="false" showValidation>
							<option [ngValue]="null"></option>
							<option *ngFor="let lawyer of lawyers" [ngValue]="lawyer">{{lawyer.crmContactId}} - {{lawyer.firstName}} {{lawyer.lastName}}</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group row">
					<label class="col-md-4 offset-md-1 col-form-label" for="assistant">Legal Assistant</label>
					<div class="col-md-7">
						<select id="assistant" class="form-control" [compareWith]="compareContact" formControlName="assistant" copyButton [copyAddress]="false">
							<option [ngValue]="null"></option>
							<option *ngFor="let assistant of assistants" [ngValue]="assistant">{{assistant.crmContactId}} - {{assistant.firstName}} {{assistant.lastName}}</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group row" *ngIf="form.get('securityTypeId').value == 1">
				<label class="col-md-4 col-form-label" for="thirdParty">Pay Out To Third Party:</label>
				<div class="col-md-7">
					<input id="thirdParty" class="custom-checkbox" formControlName="thirdParty" type="checkbox">
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group row" *ngIf="form.get('thirdParty').value">
				<label class="col-md-4 offset-md-1 col-form-label" for="thirdPartyContact">Contact:
				<span *ngIf="!isFullyReleased" class="oi oi-magnifying-glass" title="Search" (click)="showContactSearchModal()"></span>
				</label>
				<div class="col-md-7">
					<input id="thirdPartyContact" class="form-control" formControlName="thirdPartyContact" type="text" contactFormatter showValidation (blur)="loadThirdPartyContact()" [ngbTooltip]="thirdPartContactAddress">
				</div>
			</div>
		</div>
	</div>
	<div class="row" *ngIf="form.get('securityTypeId').value == 3">
		<div class="col-md-6">
			<div class="form-group row">
				<label class="col-md-4 col-form-label" for="ppsaNumber">{{form.get('securityStatusId').value != 1 && form.get('securityStatusId').value != 2 ? '*' : ''}}PPSA Number</label>
				<div class="col-md-7">
					<input id="ppsaNumber" class="form-control" formControlName="ppsaNumber" type="text" showValidation/>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group row">
				<label class="col-md-4 offset-md-1 col-form-label" for="ppsaExpiryDate">PPSA Expiry Date</label>
				<div class="col-md-7">
					<div class="input-group">
						<input id="ppsaExpiryDate" class="form-control" placeholder="yyyy-mm-dd" formControlName="ppsaExpiryDate" (focus)="ppsaDate.toggle()" [firstDayOfWeek]="7"  ngbDatepicker #ppsaDate="ngbDatepicker" [minDate]="{year: 1900, month: 1, day: 1}" required showValidation [readonly]="isFullyReleased">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="oi oi-calendar" (click)="ppsaDate.toggle()" title="Open Calendar" aria-hidden="true" style="cursor: pointer"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group row" *ngIf="form.get('securityTypeId').value == 3">
				<label class="col-md-4 col-form-label" for="ppsaFileNumber">PPSA File Number</label>
				<div class="col-md-7">
					<input id="ppsaFileNumber" class="form-control" formControlName="ppsaFileNumber" type="text"/>
				</div>
			</div>
		</div>
		<div class="col-md-6">
		</div>
	</div>

	<div *ngIf="form.get('securityTypeId').value == 6">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group row">
					<label class="col-md-4 col-form-label" for="jointAut">Joint Authorization and Agreement:</label>
					<div class="col-md-7">
						<input id="jointAut" class="custom-checkbox" formControlName="jointAut" type="checkbox">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group row">
					<label class="col-md-4 col-form-label" for="jointBond">Joint Bond Arrangement:</label>
					<div class="col-md-7">
						<input id="jointBond" class="custom-checkbox" formControlName="jointBond" type="checkbox">
					</div>
				</div>
			</div>
		</div>

        <ng-container *ngIf="securityHasId">
			<div class="row">
				<div class="col-md-12" *ngIf="form.get('jointBond').value">
					<div class="form-group row">
						<label class="col-md-2 col-form-label" for="releaseFirst">Release Security First:</label>
						<div class="col-md-2">
							<select id="releaseFirst" class="form-control" formControlName="releaseFirst" showValidation>
								<option *ngFor="let val of yesNoOptions" [ngValue]="val.value">{{val.description}}</option>
							</select>
						</div>
					</div>
				</div>

				<div class="col-md-12" *ngIf="form.get('jointBond').value">
					<div class="form-group row">
						<label class="col-md-2 col-form-label" for="demandFirst">Demand Security First:</label>
						<div class="col-md-2">
							<select id="demandFirst" class="form-control" formControlName="demandFirst" showValidation>
								<option *ngFor="let val of yesNoOptions" [ngValue]="val.value">{{val.description}}</option>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="row" *ngIf="form.get('jointBond').value">
				<div class="col-2 form-control-plaintext">
                    <label>Sum of JBA Original Amount</label>
                </div>
                <div class="col-2 form-control-plaintext">
                    <span *ngIf="form.get('jointBondOriginalAmount').value != null">$ {{form.get('jointBondOriginalAmount').value | vbsCurrency : 3}}</span>
				</div>
				<div class="col-2 offset-1 form-control-plaintext">
					<label>Sum of JBA Current Amount</label>
				</div>
				<div class="col-2 form-control-plaintext">
					<span *ngIf="form.get('jointBondCurrentAmount').value != null">$ {{form.get('jointBondCurrentAmount').value | vbsCurrency : 3}}</span>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12" *ngIf="form.get('jointBond').value">
					<div class="row">
						<div class="col-12">
							<ngx-datatable
								class="bootstrap table-bordered table-hover table-striped"
								[rows]="jointBondSecurities"
								[columnMode]="'flex'"
								[headerHeight]="'auto'"
								[rowHeight]="'auto'"
								[footerHeight]="'auto'" #jbaTable>

								<ngx-datatable-column [flexGrow]="1" [sortable]="false" name="Id" prop="id">
									<ng-template let-row="row" ngx-datatable-cell-template>
										<p class="form-control-plaintext">{{row.id}}</p>
									</ng-template>
								</ngx-datatable-column>
								<ngx-datatable-column [flexGrow]="1" [sortable]="false" name="Instrument Number" prop="instrumentNumber">
									<ng-template let-row="row" ngx-datatable-cell-template>
										<p class="form-control-plaintext">{{row.instrumentNumber}}</p>
									</ng-template>
								</ngx-datatable-column>

								<ngx-datatable-column [flexGrow]="1" [sortable]="false" name="Release First" prop="releaseFirst">
									<ng-template let-row="row" ngx-datatable-cell-template>
										<p class="form-control-plaintext">{{row.releaseFirst}}</p>
									</ng-template>
								</ngx-datatable-column>

                                <ngx-datatable-column [flexGrow]="1" [sortable]="false" name="Demand First" prop="demandFirst">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <p class="form-control-plaintext">{{row.demandFirst}}</p>
                                    </ng-template>
                                </ngx-datatable-column>

								<ngx-datatable-column [flexGrow]="1" [sortable]="false" name="Linked to Multiple CE" prop="linkedToMultipleCE">
									<ng-template let-row="row" ngx-datatable-cell-template>
										<p class="form-control-plaintext">{{row.linkedToMultipleCE==false ? 'NO' : 'YES'}}</p>
									</ng-template>
								</ngx-datatable-column>

								<ngx-datatable-column [flexGrow]="1" [sortable]="false" name="Original Amount" prop="originalAmount">
									<ng-template let-row="row" ngx-datatable-cell-template>
										<p class="form-control-plaintext">{{row.originalAmount | vbsCurrency}}</p>
									</ng-template>
								</ngx-datatable-column>

								<ngx-datatable-column [flexGrow]="1" [sortable]="false" name="Current Amount" prop="currentAmount">
									<ng-template let-row="row" ngx-datatable-cell-template>
										<p class="form-control-plaintext">{{row.currentAmount | vbsCurrency}}</p>
									</ng-template>
								</ngx-datatable-column>

								<ngx-datatable-column [flexGrow]="1" [sortable]="false" name="Issued Date" prop="issuedDate">
									<ng-template let-row="row" ngx-datatable-cell-template>
										<p class="form-control-plaintext">{{row.issuedDate | dateFormat}}</p>
									</ng-template>
								</ngx-datatable-column>

								<ngx-datatable-column [flexGrow]="1" [sortable]="false" name="Received Date" prop="receivedDate">
									<ng-template let-row="row" ngx-datatable-cell-template>
										<p class="form-control-plaintext">{{row.receivedDate | dateFormat}}</p>
									</ng-template>
								</ngx-datatable-column>
							</ngx-datatable>
						</div>
					</div>
				</div>

			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group row" *ngIf="form.get('jointBond').value">
						<label class="col-md-4 col-form-label" for="linkedToMultipleCE">Linked to Multiple CE:</label>
						<div class="col-md-7">
							<input id="linkedToMultipleCE" class="custom-checkbox" formControlName="linkedToMultipleCE" type="checkbox">
						</div>
					</div>
				</div>
			</div>
        </ng-container>
	</div>
	<div class="row">
		<div class="col-md-12">
			<hr/>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-12">
			<label class="form-group font-weight-bold" for="enrolmentList">Homes Covered:</label>
			<div class="row">
				<div class="col-md-12">
					<textarea id="enrolmentList" rows="3" class="form-control" [readOnly]="true">{{enrolmentList}}</textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-12">
			<div class="row">
				<div class="col-md-11">
					<label class="form-group font-weight-bold" for="comment" >Comment: </label>
				</div>
				<div class="col-md-1">
                    <a href="#" class="oi oi-document icon-history-right" title="Comment History" (click)="openCommentHistory($event)"></a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<ng-template #fullComment><div class="pre-line">{{form.get('comment').value}}</div></ng-template>
					<textarea rows="5" id="comment" formControlName="comment" class="form-control" [attr.disabled]="!session.getUser().hasPermission('EDIT_SECURITY_COMMENT') ? 'true' : null" [ngbTooltip]="fullComment" container="body"></textarea>
				</div>
			</div>
			<br/>
		</div>
	</div>
	<div class="row modified" *ngIf="form.get('updateUser').value != null && form.get('updateDate').value != null">
		<div class="col-md-3">
			<label>Created By:</label><br>{{form.get('createUser').value}}
		</div>
		<div class="col-md-3">
			<label>Date:</label><br>{{form.get('createDate').value | dateFormat}} {{form.get('createDate').value | date : 'shortTime'}}
		</div>
		<div class="col-md-3">
			<label>Modified By:</label><br>{{form.get('updateUser').value}}
		</div>
		<div class="col-md-3">
			<label>Date:</label><br>{{form.get('updateDate').value | dateFormat}} {{form.get('updateDate').value | date : 'shortTime'}}
		</div>
	</div>
</form>
<ng-template #rtf let-r="result" let-t="term">
	{{r.id}} - {{r.name}}
</ng-template>

<ng-template #rtContact let-r="result" let-t="term">
	{{r.crmContactId}} - {{r.companyName}}
</ng-template>

<ng-template #commentHistoryModal let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Comment History</h4>
		<button type="button" class="close" aria-label="Close" (click)="d()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
        <ng-container *ngIf="commentHistory != null;else progress">
            <div class="row" *ngFor="let history of commentHistory">
                <div class="col-md-4">
                    <strong>Date: </strong>{{history.updateTime | dateFormat}} {{history.updateTime | date : 'shortTime'}} <br/>
                    <strong>Update User:</strong> {{history.updateUser}}
                </div>
                <div class="col-md-8" [innerHTML]="history.fieldValue | nl2br"></div>
                <div class="col-md-12">
                    <hr/>
                </div>
            </div>
        </ng-container>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-primary" (click)="c()">Close</button>
	</div>
</ng-template>
<ng-template #reasonsModal let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Reason - DTA Withdrawn</h4>
		<button type="button" class="close" aria-label="Close" (click)="d()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<label> </label>
		<a href="{{session.getProperty('withdrawUrl', form.get('primaryVb').value.crmContactId, form.get('id').value)}}" target="_blank">Withdraw DTA</a>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="d()">Close</button>
	</div>
</ng-template>

<ng-template #progress>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
    </div>
</ng-template>
