<div class="modal-header">
	<h4 class="modal-title">{{title}}</h4>
	<button type="button" class="close" aria-label="Close" (click)="dismiss()" *ngIf="allowDismiss">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body" [innerHTML]="body"></div>
<div class="modal-footer"> 
	<button type="button" class="btn btn-primary" ngbAutofocus (click)="accept()">{{acceptButtonText}}</button>
	<button type="button" class="btn btn-secondary" (click)="reject()" *ngIf="!alertOnly">{{rejectButtonText}}</button>
</div>
