<ng-template #loadingTemplate>
    <div class="row">
        <div class="col">
            Loading Financial Institution...
            <br/>
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="progress col">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                 style="width: 100%"></div>
        </div>
    </div>
</ng-template>

<form *ngIf="form != null else loadingTemplate" [formGroup]="form" #f="ngForm" novalidate>

    <div class="row">
        <div *ngIf="canEditFinancialInstitutions" class="col-md-3">
            <button type="button" (click)="validateAndSave()" class="btn btn-primary"
                    [disabled]="saving">{{getSaveButtonText}}</button>
        </div>
        <div class="col-md-2">
            <button type="button" [routerLink]="['/financialInstitutionSearch']" class="btn btn-secondary"
                    [disabled]="saving">Cancel
            </button>
        </div>
        <div class="col-md-2">
            <a [routerLink]="['/financialInstitutionSearch']" class="btn btn-secondary">Return To Search</a>
        </div>
       <div
            *ngIf="financialInstitution!=null && financialInstitution.id!=null && contentNavigatorUrl!=null && contentNavigatorUrl!='' ? true : false"
            class="col-md-2">
            <a href="{{contentNavigatorUrl + financialInstitution.id}}" target="_blank" class="btn btn-secondary"><span
                class="oi oi-folder"></span> Content Navigator</a>
        </div>
    </div>
    <br/>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label for="name" class="col-md-4 col-form-label font-weight-bold">Financial Institution
                    Name:</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <input [attr.disabled]="!canEditFinancialInstitutions ? true : null" id="name"
                               class="form-control" formControlName="name" type="text" required showValidation>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group row" *ngIf="financialInstitution.id!=null">
                <label class="col-md-5 col-form-label font-weight-bold">Financial Institution Code:</label>
                <div class="col-md-7 form-control-plaintext">
                    {{financialInstitution.id}}
                </div>
            </div>
        </div>
        <div class="col-md-1 form-control-plaintext font-weight-bold">
            <div class="rightFloatDiv">
                <ul class="list-inline">
                    <li *ngIf="hasAlertType('Red')" class="oi oi-flag red">&nbsp;&nbsp;</li>
                    <li *ngIf="hasAlertType('Orange')" class="oi oi-flag orange">&nbsp;&nbsp;</li>
                    <li *ngIf="hasAlertType('Yellow')" class="oi oi-flag yellow">&nbsp;&nbsp;</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label for="financialInstitutionTypeId" class="col-md-4 col-form-label font-weight-bold">Financial
                    Institution Type:</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <select [attr.disabled]="!canEditFinancialInstitutions ? true : null" class="form-control"
                                id="financialInstitutionTypeId" formControlName="financialInstitutionTypeId"
                                showValidation>
                            <option [ngValue]="null"></option>
                            <option *ngFor="let financialInstitutionType of financialInstitutionTypes"
                                    [selected]="financialInstitutionType.id == financialInstitution.financialInstitutionTypeId"
                                    [value]="financialInstitutionType.id">{{financialInstitutionType.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-12">
            <div class="row">
                <div class="col-md-11">
                    <label for="description" class="form-group font-weight-bold">Description:</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                            <textarea [attr.disabled]="!canEditFinancialInstitutions ? true : null" id="description"
                                      rows="10" formControlName="description" class="form-control"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label for="name" class="col-md-4 col-form-label font-weight-bold">Maximum Security Amount:</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input [attr.disabled]="!canEditFinancialInstitutions ? true : null" type="text"
                               class="form-control" formControlName="maxSecurityAmount" currencyFormatter>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label for="name" class="col-md-4 col-form-label font-weight-bold">Warning Max Security
                    Amount:</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input [attr.disabled]="!canEditFinancialInstitutions ? true : null" type="text"
                               class="form-control" formControlName="wnSecurityMaxAmount" currencyFormatter>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-4 col-form-label font-weight-bold">Expiration Date:</label>
                <div class="col-md-8">
                    <div *ngIf="canEditFinancialInstitutions" class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" formControlName="expiryDate"
                               (focus)="expiryDate.toggle()" ngbDatepicker [firstDayOfWeek]="7"
                               #expiryDate="ngbDatepicker" ngbDatepicker #d="ngbDatepicker"
                               [minDate]="{year: 1900, month: 1, day: 1}" [maxDate]="{year: 2099, month: 12, day: 31}"
                               weekStartsOn="4" required showValidation>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                        <span class="oi oi-calendar" (click)="expiryDate.toggle()" title="Open Calendar"
                                              aria-hidden="true" style="cursor: pointer"></span>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!canEditFinancialInstitutions" class="input-group">
                        <input [attr.disabled]="!canEditFinancialInstitutions ? true : null" class="form-control"
                               [readonly]="true" ngbDatepicker placeholder="yyyy-mm-dd" formControlName="expiryDate">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" *ngIf="financialInstitution.id > 0">
            <div class="form-group row">
                <label class="col-md-4 col-form-label font-weight-bold"></label>
                <div class="col-md-8">
                    <div>
                        <div>
                            <div>
                                <a [routerLink]="['/searchSecurity']"
                                   [queryParams]="{financialInstitutionId: financialInstitution.id}"
                                   target="_blank">View Security Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div *ngIf="form.get('originalAmountOnInstitution') != null" class="col-md-6">
            <div class="form-group row">
                <label for="name" class="col-md-4 col-form-label font-weight-bold">Original Amount on
                    Institution excluding DTA&PEF:</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input [attr.disabled]="true" type="text" class="form-control"
                               formControlName="originalAmountOnInstitution" currencyFormatter>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="form.get('currentAmountOnInstitution') != null" class="col-md-6">
            <div class="form-group row">
                <label for="name" class="col-md-4 col-form-label font-weight-bold">Current Amount on Institution excluding DTA&PEF:</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input [attr.disabled]="true" type="text" class="form-control"
                               formControlName="currentAmountOnInstitution" currencyFormatter>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="form.get('currentAmountOnInstitution') != null && form.get('maxSecurityAmount') != null && showAvailableAmountFi()"
            class="col-md-6">
            <div class="form-group row">
                <label for="name" class="col-md-4 col-form-label font-weight-bold">Available Amount on Institution:</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input [attr.disabled]="true" type="text" class="form-control"
                               formControlName="availableAmountFi" currencyFormatter>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <ngb-tabset #tabs *ngIf="financialInstitution.id > 0" [destroyOnHide]="false" justify="fill"
                (tabChange)="onTabChange($event)">
        <ngb-tab id="tab-info">
            <ng-template ngbTabTitle>
                <span class="title">Financial Institution Information</span>
            </ng-template>

            <ng-template ngbTabContent>
                <div class="row"
                     *ngIf="financialInstitution  && (form.get('financialInstitutionTypeId').value == 8 || form.get('financialInstitutionTypeId').value == 9)">
                    <div class="col-12">
                        <header>
                            <h4>{{ form.get('financialInstitutionTypeId').value == 8 ? 'MAA' : 'POA' }}
                                on {{ form.get('financialInstitutionTypeId').value == 8 ? 'Administrative Agent' : 'Administrative Broker' }}
                                <a href="#" (click)="toggleVisibility(0)"><span class="oi oi-{{visible[0] ? 'minus' : 'plus'}} plus-resize"></span></a>
                            </h4>
                        </header>
                        <ng-container *ngIf="visible[0]">

                        <button *ngIf="canEditFinancialInstitutions" class="btn btn-primary float-right" type="button"
                                (click)="addMaaPoa()">
                            Add {{ form.get('financialInstitutionTypeId').value == 8 ? 'MAA' : 'POA' }}
                        </button>
                        <br>
                        <br>
                        <div class="row"
                             *ngIf="form.get('financialInstitutionTypeId').errors != null && form.get('financialInstitutionTypeId').errors['serverErrors'] != null">
                            <div class="col-md-5">
                                <br>
                                <div class="alert alert-danger validation">
                                    {{form.get('financialInstitutionTypeId').errors['serverErrors']}}
                                </div>
                            </div>
                        </div>
                        <div formArrayName="maaPoas">
                            <div [formGroupName]="i"
                                 *ngFor="let maaPoa of form.get('maaPoas').controls; let i = index;">

                                <div *ngIf="maaPoa.value['deleted'] != true">
                                    <div class="row">
                                        <div class="col-2">
                                            <label
                                                class="col-md-8 col-form-label maapoa_title {{maaPoaTitleClass(maaPoa.value['expirationDate'])}}">
                                                {{ form.get('financialInstitutionTypeId').value == 8 ? 'MAA' : 'POA' }}
                                                {{ maaPoa.value['id'] != null ? maaPoa.value['maaPoaSequence'] : '' }}
                                            </label>
                                            <div class="input-group">
                                                <input type="hidden" class="form-control" formControlName="id"
                                                       showValidation/>
                                            </div>
                                        </div>
                                        <div class="col-7">
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label font-weight-bold">Expiration
                                                    Date:</label>
                                                <div class="col-md-8">
                                                    <div *ngIf="(hasPermissionForDeleteEditMaaPoa() == true || maaPoa.value['id'] == null) ? true : false"
                                                        class="input-group">
                                                        <input class="form-control" placeholder="yyyy-mm-dd"
                                                               formControlName="expirationDate"
                                                               (focus)="expirationDate.toggle()" ngbDatepicker
                                                               [firstDayOfWeek]="7"
                                                               #expirationDate="ngbDatepicker" ngbDatepicker
                                                               #d="ngbDatepicker"
                                                               [minDate]="{year: 1900, month: 1, day: 1}"
                                                               [maxDate]="{year: 2099, month: 12, day: 31}"
                                                               weekStartsOn="4" showValidation>
                                                        <div class="input-group-append">
                                                            <div class="input-group-text">
																<span class="oi oi-calendar" (click)="expirationDate.toggle()" title="Open Calendar" aria-hidden="true" style="cursor: pointer"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        *ngIf="(hasPermissionForDeleteEditMaaPoa() != true && maaPoa.value['id'] != null) ? true : false"
                                                        class="input-group">
                                                        <input [attr.disabled]="disabled" class="form-control"
                                                               [readonly]="true" ngbDatepicker placeholder="yyyy-mm-dd"
                                                               formControlName="expirationDate">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <button
                                                [disabled]="(hasPermissionForDeleteEditMaaPoa() == true || maaPoa.value['id'] == null) ? false : true"
                                                (click)="addMaaPoaInstitution(i)" type="button"
                                                class="btn btn-primary form-control">
                                                Add Surety Company
                                            </button>
                                        </div>
                                        <div class="col-1">
                                            <button
                                                [disabled]="(hasPermissionForDeleteEditMaaPoa() == true || maaPoa.value['id'] == null) ? false : true"
                                                (click)="deleteMaaPoa(i)" type="button"
                                                class="btn btn-primary form-control float-right">
                                                <span class="oi oi-trash"></span>
                                            </button>
                                        </div>
                                    </div>

                                    <ngx-datatable class="bootstrap table-bordered table-hover table-striped"
                                                   [rows]="form.get('maaPoas').controls[i].get('maaPoaInstitutions').value"
                                                   [limit]="50" [columnMode]="'flex'" [headerHeight]="'auto'"
                                                   [footerHeight]="'auto'" [rowHeight]="'auto'" [externalSorting]="true"
                                                   (sort)="onSort($event)"
                                                   formArrayName="maaPoaInstitutions"
                                                   *ngIf="form.get('maaPoas').controls[i].get('maaPoaInstitutions').value!=null
															&& form.get('maaPoas').controls[i].get('maaPoaInstitutions').value.length > 0">

                                        <ngx-datatable-column [flexGrow]="2" name="Name" prop="name">
                                            <ng-template let-row="row" let-rowIndex="rowIndex"
                                                         ngx-datatable-cell-template>
                                                <ng-container [formGroupName]="rowIndex" *ngIf="row.deleted != true">
													<span
														*ngIf="row.financialInstitution!=null && row.financialInstitution.id!=null && contentNavigatorUrl!=null && contentNavigatorUrl!='' ? true : false">
														<a href="{{contentNavigatorUrl + row.financialInstitution.id}}"
															target="_blank"><span
															class="oi oi-folder"></span> </a>
													</span>
													<span>
														{{ row.financialInstitution != null ? row.financialInstitution.name : '' }}
													</span>
                                                </ng-container>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [flexGrow]="1" name="Code" prop="id">
                                            <ng-template let-row="row" let-rowIndex="rowIndex"
                                                         ngx-datatable-cell-template>
                                                <ng-container [formGroupName]="rowIndex" *ngIf="row.deleted != true">
													<span>
														{{ row.financialInstitution != null ? row.financialInstitution.id : ''  }}
													</span>
                                                </ng-container>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [flexGrow]="6" name="Branch" prop="branch">
                                            <ng-template let-row="row" let-rowIndex="rowIndex"
                                                         ngx-datatable-cell-template>
                                                <ng-container [formGroupName]="rowIndex" *ngIf="row.deleted != true">
                                                    <div class="input-group">
                                                        <select *ngIf="availableBranchesInFinancialInstitution.get(row.financialInstitution.id) != null 
																					&& availableBranchesInFinancialInstitution.get(row.financialInstitution.id).length > 0"
                                                                [attr.disabled]="(hasPermissionForDeleteEditMaaPoa() != true && row.id != null) ? 'true' : null"
                                                                class="form-control" [compareWith]="compareBranch"
                                                                formControlName="branch" showValidation>
                                                            <option *ngIf="availableBranchesInFinancialInstitution.get(row.financialInstitution.id) != null && availableBranchesInFinancialInstitution.get(row.financialInstitution.id).length > 1" [ngValue]="null" selected>Select...
                                                            </option>
                                                            <option
                                                                *ngFor="let branch of availableBranchesInFinancialInstitution.get(row.financialInstitution.id)" [ngValue]="branch">{{branch.id}} - {{branch.addressConcat}}</option>
                                                        </select>
                                                    </div>
                                                </ng-container>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [flexGrow]="2" name="Type" prop="id">
                                            <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                                <ng-container [formGroupName]="rowIndex" *ngIf="row.deleted != true">
													<span>
														{{ row.financialInstitution != null ? getFinancialInstitutionTypeName(row.financialInstitution.financialInstitutionTypeId) : ''  }}
													</span>
                                                </ng-container>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [flexGrow]="1" name="Percentage" prop="percentage">
                                            <ng-template let-row="row" let-rowIndex="rowIndex"
                                                         ngx-datatable-cell-template>
                                                <ng-container [formGroupName]="rowIndex" *ngIf="row.deleted != true">
                                                    <div class="input-group">
                                                        <input
                                                            [attr.disabled]="(hasPermissionForDeleteEditMaaPoa() != true && row.id != null) ? 'true' : null"
                                                            type="text" class="form-control"
                                                            formControlName="percentage" currencyFormatter
                                                            showValidation>
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">%</span>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [flexGrow]="1">
                                            <ng-template let-row="row" let-rowIndex="rowIndex"
                                                         ngx-datatable-cell-template>
                                                <ng-container [formGroupName]="rowIndex" *ngIf="row.deleted != true">
                                                    <div class="col-lg-8">
                                                        <button
                                                            [disabled]="(hasPermissionForDeleteEditMaaPoa() == true || row.id == null) ? false : true"
                                                            (click)="deleteMaaPoaInstitution(i, rowIndex)" type="button"
                                                            class="btn btn-secondary form-control float-right">
                                                            <span class="oi oi-trash"></span>
                                                        </button>
                                                    </div>
                                                </ng-container>
                                            </ng-template>
                                        </ngx-datatable-column>
                                    </ngx-datatable>

                                    <ng-container *ngIf="form.get('financialInstitutionTypeId').value == 9">
                                        <div class="row">
                                            <label class="col-md-4 col-form-label font-weight-bold">Signing
                                                Officers</label>
                                            <div class="col-md-6"></div>
                                            <div class="col-2"  *ngIf="showAddButtons()">
                                                <button
                                                    [disabled]="(hasPermissionForDeleteEditMaaPoa() == true || maaPoa.value['id'] == null) ? false : true"
                                                    (click)="addSigningOfficer(i)" type="button"
                                                    class="btn btn-primary form-control">
                                                    Add Signing Officer
                                                </button>
                                            </div>
                                        </div>
                                        <ngx-datatable class="bootstrap table-bordered table-hover table-striped"
                                                       [rows]="form.get('maaPoas').controls[i].get('signingOfficers').value"
                                                       [limit]="50" [columnMode]="'flex'" [headerHeight]="'auto'"
                                                       [footerHeight]="'auto'" [rowHeight]="'auto'"
                                                       [externalSorting]="true" (sort)="onSort($event)"
                                                       formArrayName="signingOfficers"
                                                       *ngIf="form.get('maaPoas').controls[i].get('signingOfficers').value!=null && form.get('maaPoas').controls[i].get('signingOfficers').value.length > 0">
                                            <ngx-datatable-column [flexGrow]="3" name="Company Name" prop="companyName">
                                                <ng-template let-row="row" let-rowIndex="rowIndex"
                                                             ngx-datatable-cell-template>
                                                    <ng-container [formGroupName]="rowIndex"
                                                                  *ngIf="row.deleted != true">
                                                        <div class="input-group">
                                                            <input
                                                                [attr.disabled]="(hasPermissionForDeleteEditMaaPoa() != true && row.id != null) ? 'true' : null"
                                                                type="text" class="form-control"
                                                                formControlName="companyName" showValidation>
                                                        </div>
                                                    </ng-container>
                                                </ng-template>
                                            </ngx-datatable-column>

                                            <ngx-datatable-column [flexGrow]="3" name="Contact Name" prop="contactName">
                                                <ng-template let-row="row" let-rowIndex="rowIndex"
                                                             ngx-datatable-cell-template>
                                                    <ng-container [formGroupName]="rowIndex" *ngIf="row.deleted != true">
                                                        <div class="input-group">
                                                            <input
                                                                [attr.disabled]="(hasPermissionForDeleteEditMaaPoa() != true && row.id != null) ? 'true' : null"  type="text" class="form-control" formControlName="contactName" showValidation>
                                                        </div>
                                                    </ng-container>
                                                </ng-template>
                                            </ngx-datatable-column>

                                            <ngx-datatable-column [flexGrow]="1">
                                                <ng-template let-row="row" let-rowIndex="rowIndex"
                                                             ngx-datatable-cell-template>
                                                    <ng-container [formGroupName]="rowIndex" *ngIf="row.deleted != true">
                                                        <div class="col-lg-7">
                                                            <button
                                                                [disabled]="(hasPermissionForDeleteEditMaaPoa() == true || row.id == null) ? false : true"
                                                                (click)="deleteSigningOfficer(i, rowIndex)"
                                                                type="button" class="btn btn-secondary form-control">
                                                                <span class="oi oi-trash"></span>
                                                            </button>
                                                        </div>
                                                    </ng-container>
                                                </ng-template>
                                            </ngx-datatable-column>
                                        </ngx-datatable>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        </ng-container>
                    </div>
                </div>
                <hr *ngIf="financialInstitution  && (form.get('financialInstitutionTypeId').value == 8 || form.get('financialInstitutionTypeId').value == 9)" />
                <header>
                    <h4>
                        Alerts
                        <a href="#" (click)="toggleVisibility(1)"><span class="oi oi-{{visible[1] ? 'minus' : 'plus'}} plus-resize"></span></a>
                    </h4>
                </header>
                <app-financial-institution-alert *ngIf="visible[1]"
                        [financialInstitution]="financialInstitution"></app-financial-institution-alert>

                <hr/>
                <header>
                    <h4>
                        Contacts
                        <a href="#" (click)="toggleVisibility(2)"><span class="oi oi-{{visible[2] ? 'minus' : 'plus'}} plus-resize"></span></a>
                    </h4>
                </header>
                <div class="row" *ngIf="visible[2]">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-9">

                            </div>
                            <div class="col-3" *ngIf="showAddButtons()">
                                <button *ngIf="canEditFinancialInstitutions" class="btn btn-primary float-right mb-1" type="button"
                                        (click)="showContactSearchModal()">
                                    Add Contact To Financial Institution
                                </button>
                                <a href="{{session.getProperty('crmCreatePersonUrl') == null ? '#' : session.getProperty('crmCreatePersonUrl')}}"
                                   class="btn btn-secondary float-right mb-3" target="_blank">Add New Contact</a><br/><br/>
                            </div>
                        </div>
                        <ngx-datatable class="bootstrap table-bordered table-hover table-striped table-overflow"
									   [rows]="form.get('contacts').value" 
									   [limit]="50" 
									   [columnMode]="'flex'"
                                       [headerHeight]="'auto'"
									   [footerHeight]="'auto'" 
									   [rowHeight]="'auto'" 
									   [externalSorting]="true"
                                       (sort)="onSort($event)"
                                       formArrayName="contacts" *ngIf="form.get('contacts').value!=null && form.get('contacts').value.length > 0">

                            <ngx-datatable-column [flexGrow]="1" name="CRM Contact ID" prop="crmContactId">
                                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                    <ng-container [formGroupName]="rowIndex" *ngIf="row.deleted != true">
                                        <div class="input-group">
                                            {{ row.contact.crmContactId }}
                                        </div>
                                    </ng-container>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [flexGrow]="1" name="Contact Name" prop="contactName">
                                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                    <ng-container [formGroupName]="rowIndex" *ngIf="row.deleted != true">
                                        <div class="input-group">
                                            {{ row.contact.firstName != null && row.contact.lastName != null ? row.contact.firstName + ' ' + row.contact.lastName : row.contact.companyName }}
                                        </div>
                                    </ng-container>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [flexGrow]="1" name="Contact information" prop="address">
                                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                    <ng-container [formGroupName]="rowIndex" *ngIf="row.deleted != true">
                                        <div class="input-group contact_information" [innerHtml]="getContactAddresText(row.contact)"></div>
                                    </ng-container>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [flexGrow]="1" name="Start Date" prop="startDate">
                                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                    <ng-container [formGroupName]="rowIndex" *ngIf="row.deleted != true">
                                        <div class="input-group">
                                            <input class="form-control" placeholder="yyyy-mm-dd"
                                                   formControlName="startDate"
                                                   (focus)="startDate.toggle()" ngbDatepicker [firstDayOfWeek]="7"
                                                   #startDate="ngbDatepicker" ngbDatepicker #d="ngbDatepicker"
                                                   [minDate]="{year: 1900, month: 1, day: 1}"
                                                   [maxDate]="{year: 2099, month: 12, day: 31}"
                                                   weekStartsOn="4" showValidation>
                                            <div class="input-group-append">
                                                <div class="input-group-text">
													<span class="oi oi-calendar" (click)="startDate.toggle()" title="Open Calendar" aria-hidden="true" style="cursor: pointer"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column [flexGrow]="1" name="End Date" prop="endDate">
                                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                    <ng-container [formGroupName]="rowIndex" *ngIf="row.deleted != true">
                                        <div class="input-group">
                                            <input class="form-control" placeholder="yyyy-mm-dd"
                                                   formControlName="endDate"
                                                   (focus)="endDate.toggle()" ngbDatepicker [firstDayOfWeek]="7"
                                                   #endDate="ngbDatepicker" ngbDatepicker #d="ngbDatepicker"
                                                   [minDate]="{year: 1900, month: 1, day: 1}"
                                                   [maxDate]="{year: 2099, month: 12, day: 31}"
                                                   weekStartsOn="4" showValidation>
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="oi oi-calendar" (click)="endDate.toggle()" title="Open Calendar" aria-hidden="true" style="cursor: pointer"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column [flexGrow]="1">
                                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                    <ng-container [formGroupName]="rowIndex" *ngIf="row.deleted != true">
                                        <div class="col-lg-5">
                                            <button (click)="deleteContact(rowIndex)" type="button"
                                                    class="btn btn-secondary form-control" [disabled]="false">
                                                <span class="oi oi-trash"></span>
                                            </button>
                                        </div>
                                    </ng-container>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>

                    </div>
                </div>
                <hr/>
                <header>
                    <h4>
                        Branches
                        <a href="#" (click)="toggleVisibility(3)"><span class="oi oi-{{visible[3] ? 'minus' : 'plus'}} plus-resize"></span></a>
                    </h4>
                </header>
                <div *ngIf="branches && financialInstitution.id > 0 && visible[3]" class="results">
                    <div class="row">
                        <div class="col-12">
							<span *ngIf="branches.length == 0" class="float-left">
									No branch exist for financial institution
							</span>
                            <div *ngIf="showAddButtons()">
                                <a href="{{crmCreateCompanyUrl}}" target="_blank" class="btn btn-primary float-right mb-3">Add Branch</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ngx-datatable *ngIf="branches.length > 0;else noresults"
                                           class="bootstrap table-bordered table-hover table-striped" [rows]="branches"
                                           [limit]="25"
                                           [columnMode]="'flex'" [headerHeight]="'auto'" [footerHeight]="'auto'"
                                           [rowHeight]="'auto'">
                                <ngx-datatable-column name="Branch Code" [flexGrow]="1" prop="id">
                                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                        <a href="{{crmCompanyUrl+row.id}}" target="_blank">{{row.id}}</a>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Branch Name" [flexGrow]="2" prop="name">
                                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                        <a href="{{crmCompanyUrl+row.id}}" target="_blank">{{row.name}}</a>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Branch Address" [flexGrow]="7" prop="name">
                                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                        <a href="{{crmCompanyUrl+row.id}}" target="_blank">{{row.addressConcat}}</a>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>

        <ngb-tab id="tab-activities">
            <ng-template ngbTabTitle>
                <span class="title">Activities</span>
            </ng-template>
            <ng-template ngbTabContent>
                <div class="row">
                    <ng-template #noresults>
                        <div class="col-12">No activities found</div>
                    </ng-template>
                    <div class="col-12" *ngIf="activities && activities.length > 0;else noresults">
                        <ngx-datatable class="bootstrap table-bordered table-hover table-striped"
                                       [rows]="activities"
                                       [columnMode]="'force'"
                                       [headerHeight]="'auto'"
                                       [footerHeight]="'auto'"
                                       [rowHeight]="'auto'" #datatable>
                            <ngx-datatable-column name="Description">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.subject}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Old Value">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.oldValue}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="New Value">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.newValue}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="User" [width]="150" [maxWidth]="150">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.user}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Update Date" [width]="175" [maxWidth]="175">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.updateDate | dateFormat}} {{row.updateDate | date : 'shortTime'}}
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
    <div class="row" *ngIf="form.get('updateUser').value != null && form.get('updateDate').value">
        <div class="form-group col-md-3">
            <label class="form-group font-weight-bold small">Created By:</label>
            <div class="row">
                <div class="col-md-11 small">
                    {{form.get('createUser').value}}
                </div>
            </div>
        </div>
        <div class="form-group col-md-3">
            <label class="form-group font-weight-bold small">Date:</label>
            <div class="row">
                <div class="col-md-11 small">
                    {{form.get('createDate').value | dateFormat}}
                    {{form.get('createDate').value | date : 'shortTime'}}
                </div>
            </div>
        </div>
        <div class="form-group col-md-3 small">
            <label class="form-group font-weight-bold">Modified By:</label>
            <div class="row">
                <div class="col-md-11 small">
                    {{form.get('updateUser').value}}
                </div>
            </div>
        </div>
        <div class="form-group col-md-3 small">
            <label class="form-group font-weight-bold">Date:</label>
            <div class="row">
                <div class="col-md-11">
                    {{form.get('updateDate').value | dateFormat}}
                    {{form.get('updateDate').value | date : 'shortTime'}}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div *ngIf="canEditFinancialInstitutions" class="col-md-3">
            <button type="button" (click)="validateAndSave()" class="btn btn-primary"
                    [disabled]="saving">{{getSaveButtonText}}</button>
        </div>
        <div class="col-md-2">
            <button type="button" [routerLink]="['/financialInstitutionSearch']" class="btn btn-secondary"
                    [disabled]="saving">Cancel
            </button>
        </div>
        <div class="col-md-2">
            <a [routerLink]="['/financialInstitutionSearch']" class="btn btn-secondary">Return To Search</a>
        </div>
        <div
            *ngIf="financialInstitution!=null && financialInstitution.id!=null && contentNavigatorUrl!=null && contentNavigatorUrl!='' ? true : false"
            class="col-md-2">
            <a href="{{contentNavigatorUrl + financialInstitution.id}}" target="_blank" class="btn btn-secondary"><span
                class="oi oi-folder"></span> Content Navigator</a>
        </div>
    </div>
</form>
