<h3>Generate Correspondence</h3>
<br/>

<form [formGroup]="form" #f="ngForm">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group row">
				<label class="col-md-4 col-form-label">Template</label>
				<div class="col-md-8">
					<select class="form-control" formControlName="templateId" >
						<option *ngFor="let template of templates" [ngValue]="template.id" >{{template.name}}</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group row">
				<label class="col-md-4 col-form-label">Security Number</label>
				<div class="col-md-8">
					<input class="form-control" formControlName="securityId" type="number" min="1" showValidation />
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="form-group row">
				<div class="col-md-4" >
					<button type="button" (click)="generate()" class="btn btn-secondary" [disabled]="generating">{{generating ? 'Generating' : 'Generate'}}</button>
				</div>
			</div>
		</div>
	</div>
</form>