
<div class="row">
    <div class="col">
        <h3>Auto Security Release Run</h3>
    </div>
</div>
<br />

<ng-template #loadingTemplate>
    <div class="row">
        <div class="col">
            Loading Auto Release...
            <br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="progress col">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                style="width: 100%"></div>
        </div>
    </div>
</ng-template>

<form *ngIf="autoReleaseResults != null ;else loadingTemplate">

    <div class="row">
        <div class="col-md-3">
            <label class="font-weight-bold ">Created By:</label>
            {{autoReleaseResults.autoReleaseRun.createUser}}
        </div>
        <div class="col-md-3">
            <label class="font-weight-bold ">Date:</label>
            {{autoReleaseResults.autoReleaseRun.createDate | dateFormat}} {{autoReleaseResults.autoReleaseRun.createDate | date : 'shortTime'}}
        </div>
    </div>
    <div class="row" *ngIf="autoReleaseResults.autoReleaseRun.runStatusId == 5">
        <div class="col-md-3 " >
            <label class="font-weight-bold">Final step initiated by:</label>
            {{autoReleaseResults.autoReleaseRun.updateUser}}
        </div>
        <div class="col-md-3 " >
            <label class="font-weight-bold">Date:</label>
            {{autoReleaseResults.autoReleaseRun.updateDate | dateFormat}} {{autoReleaseResults.autoReleaseRun.updateDate | date : 'shortTime'}}
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-md-4">
            <div class="form-group row">
                <div class="col-lg-2">
                    <button type="button" (click)="save()" class="btn btn-primary"
                        [disabled]="disableSave">Save</button>
                </div>
                <div *ngIf="autoReleaseResults.autoReleaseRun.runStatusId == 3" class="col-lg-4">
                    <button type="button" (click)="initiateFinalStep()" class="btn btn-primary"
                        [disabled]="saving">Initiate Final step</button>
                </div>
                <div class="col-md-4">
                    <button type="button" [routerLink]="['/autoRelease']" [queryParams]="{saved: true}" class="btn btn-secondary"
                        [disabled]="saving">Return to Search</button>
                </div>
            </div>
        </div>
    </div>


    <div class="results">
        <div class="row" *ngIf="autoReleaseResults.autoReleasePassedResults ;else noresults">
            <div class="col-12">
                <div class="row">
                    <div class="col-7">
                        <h4>Security Instruments that passed all criteria</h4>
                    </div>
                    <label class="col-lg-2 col-form-label text-right font-weight-bold">Rows per page:</label>
                    <div class="col-lg-1 col-md-4 form-group">
                        <select (change)="changePassedLimit($event)" class="form-control" [(value)]="passedLimit">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="col-1">
                        <button class="btn btn-secondary float-right" (click)="viewAllPassed()">View All</button>
                    </div>
                    <div *ngIf="autoReleaseResults.autoReleasePassedResults != null && autoReleaseResults.autoReleasePassedResults.length > 0"
                        class="col-1">
                        <button class="btn btn-secondary float-right" (click)="exportToExcelPassedResults()"
                            [disabled]="downloadingExcelPassedResults">{{(downloadingExcelPassedResults) ? 'Downloading...' : 'Download'}}</button>
                    </div>
                </div>
                <br />

                <ngx-datatable class="bootstrap table-bordered table-hover table-striped"
                    [rows]="autoReleaseResults.autoReleasePassedResults" [limit]="passedLimit" [columnMode]="'flex'"
                    [headerHeight]="'auto'" [footerHeight]="'auto'" [rowHeight]="'auto'">
                    <ngx-datatable-column name="" [flexGrow]="1">
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            {{rowIndex + 1}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="VB" [flexGrow]="2" prop="vNumber">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <a href="{{session.getProperty('crmCompanyUrl', 'B'+row.vNumber)}}" target="_blank">B{{row.vNumber}} - {{row.vName}}</a>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="License Status" [flexGrow]="2" prop="licenseStatus">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.licenseStatus}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Security Received Date" [flexGrow]="2" [comparator]="compareDate" prop="securityReceivedDate">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.securityReceivedDate | dateFormat}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Instrument #" [flexGrow]="2" prop="instrumentNumber">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <a [routerLink]="['/security']" [queryParams]="{id: row.securityId}" target="_blank">{{row.instrumentNumber}}</a>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Enrolment #" [flexGrow]="2" prop="enrolmentNumber">
                        <ng-template let-row="row" ngx-datatable-cell-template >
                            <a href="{{session.getProperty('crmEnrolmentUrl', 'H'+row.enrolmentNumber)}}" target="_blank">H{{row.enrolmentNumber}}</a>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="WSD (YYYY-MM-DD)" [flexGrow]="2" [comparator]="compareDate" prop="warrantyStartDate">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.warrantyStartDate | dateFormat}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Address" [flexGrow]="2" prop="enrolmentAddress">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.enrolmentAddress}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Security Type" [flexGrow]="2" prop="securityType">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.securityType}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Release Timing Type" [flexGrow]="2" prop="releaseTimingType">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.releaseTimingType}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Deleted By" [flexGrow]="2" prop="deletedBy">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.deletedBy}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Delete" [flexGrow]="1">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <button type="button" (click)="delete(row.id)" class="btn btn-secondary form-control"
                                [disabled]="disableSave"><span class="oi oi-trash"></span>
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
        <ng-template #noresults>
            <p>No results found.</p>
        </ng-template>
    </div>


    <div class="results">
        <div class="row" *ngIf="autoReleaseResults.autoReleaseFailedResults ;else noresults">
            <div class="col-12">

                <div class="row">
                    <div class="col-7">
                        <h4>Security Instruments that were deleted due to criteria</h4>
                    </div>
                    <label class="col-lg-2 col-form-label text-right font-weight-bold">Rows per page:</label>
                    <div class="col-lg-1 col-md-4 form-group">
                        <select (change)="changeFailedLimit($event)" class="form-control" [(value)]="limit">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="col-1">
                        <button class="btn btn-secondary float-right" (click)="viewAllFailed()">View All</button>
                    </div>
                    <div *ngIf="autoReleaseResults.autoReleaseFailedResults != null && autoReleaseResults.autoReleaseFailedResults.length > 0"
                        class="col-1">
                        <button class="btn btn-secondary float-right" (click)="exportToExcelFailedResults()"
                            [disabled]="downloadingExcelFailedResults">{{(downloadingExcelFailedResults) ? 'Downloading...' : 'Download'}}</button>
                    </div>
                </div>
            <br/>
                <ngx-datatable class="bootstrap table-bordered table-hover table-striped"
                    [rows]="autoReleaseResults.autoReleaseFailedResults" [limit]="limit" [columnMode]="'flex'"
                    [headerHeight]="'auto'" [footerHeight]="'auto'" [rowHeight]="'auto'" (page)="onPage($event)">
                    <ngx-datatable-column name="" [flexGrow]="1">
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            {{rowIndex + 1}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="VB" [flexGrow]="2" prop="vNumber">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <a href="{{session.getProperty('crmCompanyUrl', 'B'+row.vNumber)}}" target="_blank">B{{row.vNumber}} - {{row.vName}}</a>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="License Status" [flexGrow]="2" prop="licenseStatus">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.licenseStatus}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Security Received Date" [flexGrow]="2" prop="securityReceivedDate" [comparator]="compareDate">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.securityReceivedDate | dateFormat}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Instrument #" [flexGrow]="2" prop="instrumentNumber">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <a [routerLink]="['/security']" [queryParams]="{id: row.securityId}" target="_blank">{{row.instrumentNumber}}</a>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Enrolment #" [flexGrow]="2" prop="enrolmentNumber">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <a href="{{session.getProperty('crmEnrolmentUrl', 'H'+row.enrolmentNumber)}}" target="_blank">H{{row.enrolmentNumber}}</a>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="WSD (YYYY-MM-DD)" [flexGrow]="2" prop="warrantyStartDate" [comparator]="compareDate">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.warrantyStartDate | dateFormat}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Address" [flexGrow]="2" prop="enrolmentAddress">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.enrolmentAddress}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Security Type" [flexGrow]="2" prop="securityType">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.securityType}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Release Timing Type" [flexGrow]="2" prop="releaseTimingType">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.releaseTimingType}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Eliminated Due to Criteria" [flexGrow]="2" prop="eliminationCriteria">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.eliminationCriteria}}
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
        <ng-template #noresults>
            <p>No results found.</p>
        </ng-template>
    </div>
</form>

