<form [formGroup]="form" #f="ngForm">
    <div class="row">
        <div class="col-md-12" *ngIf = "session.getUser().hasPermission('AUTO_RELEASE')">
            <button class="btn btn-primary" (click)="startAutoReleaseProcess()" [disabled]="saving || !allowStart">Start Auto Release Process</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group row">
                <label class="col-md-1 col-form-label font-weight-bold">Run Date</label>
                <div ngbDropdown class="input-group col-md-5">
                    <div class="input-group-prepend">
                        <button class="btn input-group-text dropdown-toggle" type="button" id="codeTypeDD" ngbDropdownToggle>{{textForSearchType(form.controls['dateSearchType'].value)}}</button>
                        <div ngbDropdownMenu aria-labelledby="codeTypeDD">
                            <button class="dropdown-item" (click)="form.controls['dateSearchType'].patchValue('EQUALS')">=</button>
                            <button class="dropdown-item" (click)="form.controls['dateSearchType'].patchValue('BETWEEN')">Between</button>
                            <button class="dropdown-item" (click)="form.controls['dateSearchType'].patchValue('LESS_THAN')">&lt;</button>
                            <button class="dropdown-item" (click)="form.controls['dateSearchType'].patchValue('EQUALS_LESS_THAN')">&le;</button>
                            <button class="dropdown-item" (click)="form.controls['dateSearchType'].patchValue('GREATER_THAN')">&gt;</button>
                            <button class="dropdown-item" (click)="form.controls['dateSearchType'].patchValue('EQUALS_GREATER_THAN')">&ge;</button>
                        </div>
                    </div>
                    <input class="form-control" [attr.data-label]="'Run Date'" formControlName="startDate" (focus)="startDate.toggle()" ngbDatepicker [firstDayOfWeek]="7" #startDate="ngbDatepicker" [minDate]="{year: 1900, month: 1, day: 1}" weekStartsOn="4" placeholder="{{(form.controls['startDate'].value != null && form.controls['startDate'].value == 'IN') ? '1,2,3' : '' }}" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="oi oi-calendar" (click)="startDate.toggle()" title="Open Calendar" aria-hidden="true" style="cursor: pointer"></span>
                        </div>
                    </div>
                    <div class="input-group-append" *ngIf="form.controls['dateSearchType'].value == 'BETWEEN'">
                        <span class="input-group-text"> and </span>
                        <input class="form-control" placeholder="yyyy-mm-dd" [attr.data-label]="'Run Date'" formControlName="endDate" (focus)="endDate.toggle()" ngbDatepicker [firstDayOfWeek]="7" #endDate="ngbDatepicker" [minDate]="{year: 1900, month: 1, day: 1}" weekStartsOn="4" showValidation>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="oi oi-calendar" (click)="endDate.toggle()" title="Open Calendar" aria-hidden="true" style="cursor: pointer"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group row">
                <div class="col-md-1">
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-primary" (click)="search()" [disabled]="!form.valid || searching">{{searching ? 'Searching...' : 'Search'}}</button>
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-secondary" (click)="clear()">Clear</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div *ngIf="searched ==true" class="results">
    <div class="row" *ngIf="results;else noresults">
        <div class="col-12">
            <ngx-datatable class="bootstrap table-bordered table-hover table-striped"
            [rows]="results"
            [limit]="10"
            [columnMode]="'flex'"
            [headerHeight]="'auto'"
            [footerHeight]="'auto'"
            [rowHeight]="'auto'"
            (page)="onPage()" #datatable>
                <ngx-datatable-column name="Run Date" [flexGrow]="1">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <a *ngIf="row.runStatusId == 5 || row.runStatusId == 3; else createDate" [routerLink]="['/autoReleaseResult']" [queryParams]="{runId: row.id}">{{row.createDate | dateFormat}}</a>
                        <ng-template #createDate>{{row.createDate | dateFormat}}</ng-template>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Auto Security Release Number" [flexGrow]="1">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <a *ngIf="row.runStatusId == 5 || row.runStatusId == 3; else runId" [routerLink]="['/autoReleaseResult']" [queryParams]="{runId: row.id}">{{row.id}}</a>
                        <ng-template #runId>{{row.id}}</ng-template>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Created By User" [flexGrow]="1">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <a *ngIf="row.runStatusId == 5 || row.runStatusId == 3" [routerLink]="['/autoReleaseResult']" [queryParams]="{runId: row.id}">{{row.createUser}}</a>
                        <span *ngIf="row.runStatusId == 1 || row.runStatusId == 2">Processing...</span>
                        <span *ngIf="row.runStatusId == 4">{{row.createUser}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Final step Initiated by User" [flexGrow]="1">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <a *ngIf="row.runStatusId == 5" [routerLink]="['/autoReleaseResult']" [queryParams]="{runId: row.id}">{{row.updateUser}}</a>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>

    </div>
    <ng-template #noresults><p>No results found.</p></ng-template>
</div>
