<form [formGroup]="form" novalidate class="row">

    <div class="from-group row col-12">
      <h2 class="col-12 text-center">{{modeTitle}}</h2>
    </div>

  <div class="from-group row col-12">
    <label class="col-2 col-form-label font-weight-bold">Date created:</label>
    <div class="col-4 form-control-plaintext">
      {{ alert.createDate | dateFormat}}
    </div>
    <label class="col-2 col-form-label">Created by:</label>
    <div class="col-4 form-control-plaintext">
      {{ alert.createUser }}
    </div>
  </div>

  <div class="from-group row col-12">    
    <div class="col-2">
      <label for="alertType" class="col-form-label font-weight-bold" >Alert Type:</label>
    </div>     
    <div class="col-6"> 
      <select class="col-6" id="alertType" formControlName="alertType" required showValidation>
        <option *ngFor="let alertType of alertTypes; let i = index;" [ngValue]="alertType.id">{{alertType.description}}</option>
      </select>
    </div>    
  </div>

  <div class="from-group row col-12">
      <div class="col-2">
        <label for="description" class="col-form-label font-weight-bold" >Description:</label>
      </div>
      <div class="col-10">
        <textarea id="description" rows="6" formControlName="description" class="form-control"></textarea>
      </div>
  </div>

  <div class="from-group row col-12">
    <label for="startDate" class="col-2 col-form-label">Start date:</label>
    <div class="col-2 input-group">
      <input id="startDate" class="form-control" placeholder="yyyy-mm-dd" formControlName="startDate" (focus)="startDate.toggle()"
            [firstDayOfWeek]="7" #startDate="ngbDatepicker" ngbDatepicker [minDate]="{year: 1900, month: 1, day: 1}" required showValidation>
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="oi oi-calendar" (click)="startDate.toggle()" title="Open Calendar" aria-hidden="true" style="cursor: pointer"></span>
        </div>
      </div>
    </div>

    <div class="col-2">
      <button type="button" class="btn btn-secondary" (click)="toggleActive()">{{activateButtonText}}</button>
    </div>


      <label *ngIf="alert.endUser != null" class="col-1 col-form-label">End date:</label>
      <div class="col-2 input-group">
          <div class="form-control-plaintext">
              {{ alert.endDate | dateFormat}}
          </div>  
      </div>    
      <label *ngIf="alert.endUser != null" class="col-1 col-form-label">End by:</label>
      <div class="col-2">
          <div class="form-control-plaintext">
              {{ alert.endUser }}
          </div>  
      </div>  

    </div>


  <div class="row col-6">
    <div class="col-2">
      <button type="button" (click)="save()" class="btn btn-secondary" [disabled]="saving || form.controls['alertType'].value==null">Apply</button>
    </div>
    <div class="col-2">
      <button type="button" (click)="cancel()" class="btn btn-secondary" [disabled]="saving">Cancel</button>
    </div>
  </div>
  <br /><br />
</form>
