<h3>VB Securities</h3>
<br>
<div class="row">
	<div class="col-lg-4 col-md-6" *hasPermission="'CREATE_SECURITY'">
		<a [routerLink]="null" (click)="$event.preventDefault();chooseTypePurpose()">
			<span class="t-icon t-icon-web-page-lg"></span>
			<strong>New Security</strong>
		</a><br>
		Add New Security
	</div>
	<div class="col-lg-4 col-md-6">
		<a [routerLink]="['/searchSecurity']" [queryParams]="{reset: true}">
			<span class="t-icon t-icon-web-page-lg"></span>
			<strong>Search Security</strong>
		</a><br>
		VB Security
	</div>
	<div class="col-lg-4 col-md-6">
		<a [routerLink]="['/autoRelease']">
			<span class="t-icon t-icon-web-page-lg"></span>
			<strong>Auto Security Release Run</strong>
		</a><br>
		Automatic Freehold Security Release Selection Run		
	</div>
	<div class="col-lg-4 col-md-6">
		<a [routerLink]="['/financialInstitution']">
			<span class="t-icon t-icon-web-page-lg"></span>
			<strong>Financial Institution</strong>
		</a><br>
		Financial Institution Code Maintenance
	</div>
	<div class="col-lg-4 col-md-6">
		<a [routerLink]="['/searchSecurity']">
			<span class="t-icon t-icon-web-page-lg"></span>
			<strong>Security by Type</strong>
		</a><br>
		Security Information by Security Type
	</div>
</div>
