<form [formGroup]="form" #f="ngForm">

    <div class="row">
        <div class="col-md-12 section-color font-weight-bold">
            Releases Report
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group row">
                <label class="col-md-2 col-form-label font-weight-bold">Release Update Date</label>
                <div ngbDropdown class="input-group col-md-5">
                    <div class="input-group-prepend">
                        <button class="btn input-group-text dropdown-toggle" type="button" id="codeTypeDD" ngbDropdownToggle>{{textForSearchType(form.controls['dateSearchType'].value)}}</button>
                        <div ngbDropdownMenu aria-labelledby="codeTypeDD">
                            <button class="dropdown-item" (click)="form.controls['dateSearchType'].patchValue('EQUALS')">=</button>
                            <button class="dropdown-item" (click)="form.controls['dateSearchType'].patchValue('BETWEEN')">Between</button>
                            <button class="dropdown-item" (click)="form.controls['dateSearchType'].patchValue('LESS_THAN')">&lt;</button>
                            <button class="dropdown-item" (click)="form.controls['dateSearchType'].patchValue('EQUALS_LESS_THAN')">&le;</button>
                            <button class="dropdown-item" (click)="form.controls['dateSearchType'].patchValue('GREATER_THAN')">&gt;</button>
                            <button class="dropdown-item" (click)="form.controls['dateSearchType'].patchValue('EQUALS_GREATER_THAN')">&ge;</button>
                        </div>
                    </div>
                    <input class="form-control" [attr.data-label]="'Release Update Date'" formControlName="releaseUpdateStartDate" (focus)="startDate.toggle()" ngbDatepicker [firstDayOfWeek]="7" #startDate="ngbDatepicker" [minDate]="{year: 1900, month: 1, day: 1}" weekStartsOn="4" placeholder="{{(form.controls['releaseUpdateStartDate'].value != null && form.controls['releaseUpdateStartDate'].value == 'IN') ? '1,2,3' : '' }}" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="oi oi-calendar" (click)="startDate.toggle()" title="Open Calendar" aria-hidden="true" style="cursor: pointer"></span>
                        </div>
                    </div>
                    <div class="input-group-append" *ngIf="form.controls['dateSearchType'].value == 'BETWEEN'">
                        <span class="input-group-text"> and </span>
                        <input class="form-control" placeholder="yyyy-mm-dd" [attr.data-label]="'Release Update Date'" formControlName="releaseUpdateEndDate" (focus)="endDate.toggle()" ngbDatepicker [firstDayOfWeek]="7" #endDate="ngbDatepicker" [minDate]="{year: 1900, month: 1, day: 1}" weekStartsOn="4" showValidation>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="oi oi-calendar" (click)="endDate.toggle()" title="Open Calendar" aria-hidden="true" style="cursor: pointer"></span>
                            </div>
                        </div>
                    </div>			
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label font-weight-bold">Release Types</label>
                <div class="col-md-2" *ngFor='let releaseType of availableReleaseTypes; let i=index'>
                    <input type="checkbox" [checked]="isCheckedReleaseType(releaseType.id)" (change)="onSelectReleaseType(releaseType.id, $event.target.checked)"> {{releaseType.description}}
                </div>
            </div>
            <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="releaseStatus" class="col-md-4 col-form-label font-weight-bold" >Release Status:</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <select class="form-control" id="releaseStatus" formControlName="releaseStatus">
                                        <option [ngValue]="null"></option>
                                        <option value="PENDING">Pending</option>
                                        <option value="SENT">Sent</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-md-12">
            <div class="form-group row">
                <div class="col-md-2">
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-primary" (click)="reload()" [disabled]="loading || downloadingExcelPendingSentReleases">{{loading ? 'Searching...' : 'Search'}}</button>
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-secondary" (click)="clear()">Clear</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div *ngIf="!loading" class="results">
    <div class="row" *ngIf="pendingReleases;else noresults">
        <div class="col-12">
            <div class="row">
                <div class="col-11">
                  
                </div>
        
                <div *ngIf="pendingReleases != null && pendingReleases.length > 0" class="col-1">
                  <button class="btn btn-secondary float-right" (click)="exportToExcelPendingSentReleases()" [disabled]="downloadingExcelPendingSentReleases">{{(downloadingExcelPendingSentReleases) ? 'Downloading...' : 'Download'}}</button>
                </div>
              </div>
      
      
              <ngx-datatable class="bootstrap table-bordered table-hover table-striped pending-release-report-content"
              [rows]="pendingReleases"
              [limit]="50"
              [columnMode]="'force'"
              [headerHeight]="'auto'"
              [footerHeight]="'auto'"
              [rowHeight]="'auto'" 
              [scrollbarH]="true"
              (page)="onPage()" #datatable>
                  <ngx-datatable-column name="VB" [minWidth]="150" [maxWidth]="150" prop="vbNumber">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          {{row.vbNumber}} - {{row.vbName}}
                      </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Instrument Number" [minWidth]="80" [width]="80" [maxWidth]="80" prop="instrumentNumber">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          {{row.instrumentNumber}}
                      </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Security Type" [minWidth]="70" [width]="70" [maxWidth]="70" prop="securityTypeName">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          {{row.securityTypeName}}
                      </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Release Type" [minWidth]="70" [width]="70" [maxWidth]="70" prop="releaseTypeName" >
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          {{row.releaseTypeName}}
                      </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Reference Number" [minWidth]="80" [width]="80" [maxWidth]="80">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          <a [routerLink]="['/security']" [queryParams]="{id: row.securityId, tab: 'tab-release', referenceNumber: row.referenceNumber}" target="_blank" >{{row.referenceNumber}}</a>
                      </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Payee" [minWidth]="80" [width]="80" [maxWidth]="170" prop="payeeName">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          {{row.payeeName}}
                      </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Rcvd Before Nov 2004" [minWidth]="80" [width]="80" [maxWidth]="80" prop="receivedPriorNov2004">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          {{row.receivedPriorNov2004 ? 'Yes' : 'No'}}
                      </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Original Amount" [minWidth]="100" [width]="100" [maxWidth]="100" prop="originalAmount">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          ${{row.originalAmount | vbsCurrency}}
                      </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Current Amount" [minWidth]="100" [width]="100" [maxWidth]="100" prop="currentAmount">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                         ${{row.currentAmount | vbsCurrency}}
                      </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Current Interest Amount" [minWidth]="90" [width]="90" [maxWidth]="90" prop="currentInterestAmount">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          {{row.currentInterestAmount != null ? '$' : ''}}{{row.currentInterestAmount | vbsCurrency}}
                      </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Current Amount (incl interest)" [minWidth]="110" [width]="110" [maxWidth]="110" prop="interestCurrentAmountTotal">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          ${{row.interestCurrentAmountTotal | vbsCurrency}}
                      </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Released Amount" [minWidth]="100" [width]="100" [maxWidth]="100" prop="authorizedAmount">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          {{row.authorizedAmount != null ? '$' : ''}}{{row.authorizedAmount | vbsCurrency}}
                      </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Released Interest Amount" [minWidth]="100" [width]="100" [maxWidth]="100" prop="interestAmount">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          {{row.interestAmount != null ? '$' : ''}}{{row.interestAmount | vbsCurrency}}
                      </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Released Amount (incl interest)" [minWidth]="120" [width]="120" [maxWidth]="120" prop="interestAuthorizedAmountTotal">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          ${{row.interestAuthorizedAmountTotal | vbsCurrency}}
                      </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Release Percentage" [minWidth]="80" [width]="80" [maxWidth]="80" prop="releasePercentage">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          {{row.releasePercentage | number:'1.2-2'}}%
                      </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Manager Approval Date" [minWidth]="80" [width]="80" [maxWidth]="170" prop="managerApprovalDate">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          {{row.managerApprovalDate | dateFormat}}
                      </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Approval Manager" [minWidth]="80" [width]="80" [maxWidth]="170" prop="approvalManager">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          {{row.approvalManager}}
                      </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Comment" [minWidth]="80" [width]="200" [maxWidth]="400" prop="comment">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          {{row.comment}}
                      </ng-template>
                  </ngx-datatable-column>
              </ngx-datatable>
        </div>
    </div>
</div>

<ng-template #noresults><p>No results found.</p></ng-template>