<div class="row">
  <div class="col-xl-8 offset-xl-2">
    <form [formGroup]="form" #f="ngForm" novalidate *ngIf="form != undefined && form != null && minDate != null">
      <div class="row" >
        <div class="col-md-12 section-color font-weight-bold">
          {{(form.controls['id'].value == null) ? 'Add Interest Rate' : 'Edit Interest Rate'}}
          <hr/>
        </div>

        <div class="col-lg-6 col-md-12">
          <div class="form-group row">
            <label class="col-md-3 col-form-label font-weight-bold">Start Date</label>
            <div class="col-md-6">
              <div class="input-group">
                <input class="form-control" formControlName="interestStartDate" showValidation placeholder="yyyy-mm-dd" (focus)="receivedDate.toggle()"
                       ngbDatepicker [firstDayOfWeek]="7" #receivedDate="ngbDatepicker" ngbDatepicker #d="ngbDatepicker" [minDate]="minDate" weekStartsOn="4" required showValidation>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="oi oi-calendar" (click)="receivedDate.toggle()" title="Open Calendar" aria-hidden="true" style="cursor: pointer"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="form-group row">
            <label class="col-md-3 col-form-label font-weight-bold">Interest Rate</label>
            <div class="col-md-6">
              <div class="input-group">
                <input class="form-control" formControlName="annualRate" type="text" required showValidation currencyFormatter />
                <div class="input-group-append">
                  <span class="input-group-text"> % </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <button type="button" class="btn btn-secondary" (click)="form=null" [disabled]="saving">Cancel</button>
          <span>&nbsp;</span>
          <button type="button" class="btn btn-primary" (click)="save()" [disabled]="saving">
            {{(form.controls['id'].value == null) ? 'Add Interest Rate' : 'Save Interest Rate'}}
          </button>
          <span>&nbsp;</span>
          <button type="button" class="btn btn-danger" (click)="delete()" [disabled]="saving"
                  *ngIf="form.controls['id'].value != null && form.controls['canEdit'].value">Delete Interest Rate</button>
        </div>
      </div>
      <div class="col-12">
        <br>
      </div>
    </form>

    <div class="row">
      <div class="col-md-12 section-color font-weight-bold">
        Search Interest
        <hr/>
      </div>
    </div>
    <div class="row" *ngIf="ratesLoaded;else loading">
      <div class="col-12 input-group" *ngIf="rates.length > 0">
        <input class="form-control" type="text" placeholder="Filter" [formControl]="filterInput" />
        <div class="input-group-append" *ngIf="filterInput.value.length > 0">
          <button class="btn input-group-text" type="button" (click)="filterInput.setValue('');"> Clear </button>
        </div>
      </div>
      <div class="col-12"><br></div>
      <div class="col-12">
        <ngx-datatable class="bootstrap table-bordered table-hover table-striped"
                       [rows]="filteredRates"
                       [limit]="50"
                       [columnMode]="'flex'"
                       [headerHeight]="'auto'"
                       [footerHeight]="'auto'"
                       [rowHeight]="'auto'" *ngIf="filteredRates.length > 0;else noMatches">
          <ngx-datatable-column name="Start Date" [flexGrow]="1" prop='interestStartDate'>
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span *ngIf="!row.canEdit">{{row.interestStartDate | dateFormat}}</span>
              <a [routerLink]="" (click)="setupForm(row)" *ngIf="row.canEdit">
                {{row.interestStartDate | dateFormat}}
              </a>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Rate" [flexGrow]="1" prop='annualRate'>
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.annualRate | vbsCurrency}} %
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Create User" [flexGrow]="1" prop='createUser'>
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.createUser}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Create Date" [flexGrow]="1" prop='createDate'>
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.createDate | dateFormat}}
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>

<ng-template #noMatches><p>No Interest Rates match the current filter.</p></ng-template>

<ng-template #loading>
  <div class="row">
    <div class="col-12 progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
    </div>
  </div>
</ng-template>

