<div class="modal-header">
    <h4 class="modal-title">Are you sure you want to delete this VB?</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col" *ngIf="securityPurposeId == 2">
            Note: If the VB's projects are completed or cancelled, choose the appropriate reason below.
            <br/><br/>
        </div>
        <div class="col">
            Delete reason:
        </div>
    </div>
    <form [formGroup]="form">
        <div class="row">
            <div class="col">
                <select class="form-control" formControlName="deleteReason" >
                    <option *ngFor="let reason of deleteReasons" [value]="reason.id">{{reason.description}}</option>
                </select>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="save()">OK</button>
    <button type="button" class="btn btn-secondary" (click)="dismiss()">Cancel</button>
</div>
