<form [formGroup]="form" novalidate *ngIf="form != null">
	<div class="row">	
		<div class="col-md-12 section-color font-weight-bold">
			Estimated Interest Accruals<hr/>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group row">
				<label class="col-md-2 col-form-label font-weight-bold" for="periodType">Periods</label>
				<div class="col-md-9">
					<select class="form-control" id="periodType" formControlName="periodType">
						<option value=""></option>
						<option value="DAILY">Daily</option>
						<option value="WEEKLY">Weekly</option>
						<option value="MONTHLY">Monthly</option>
						<option value="QUARTERLY">Quarterly</option>
                        <option value="YEARLY">Annually</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group row">
				<label class="col-md-2 col-form-label font-weight-bold" for="fromDate">From Date</label>
				<div class="col-md-9">
					<div class="input-group">
						<input class="form-control" placeholder="yyyy-mm-dd" id="fromDate" formControlName="fromDate"  (focus)="fromDate.toggle()" [firstDayOfWeek]="7" #fromDate="ngbDatepicker" ngbDatepicker #d="ngbDatepicker" [minDate]="{year: 1900, month: 1, day: 1}" required showValidation>
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="oi oi-calendar" (click)="fromDate.toggle()" title="Open Calendar" aria-hidden="true" style="cursor: pointer"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group row">
				<label class="col-md-2 col-form-label font-weight-bold" for="toDate">To Date</label>
				<div class="col-md-9">
					<div class="input-group">
						<input class="form-control" formControlName="toDate" id="toDate" placeholder="yyyy-mm-dd" (focus)="toDate.toggle()" [firstDayOfWeek]="7" #toDate="ngbDatepicker" ngbDatepicker #d="ngbDatepicker" [minDate]="{year: 1900, month: 1, day: 1}" required showValidation>
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="oi oi-calendar" (click)="toDate.toggle()" title="Open Calendar" aria-hidden="true" style="cursor: pointer"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group row">
				<label class="col-md-2 col-form-label font-weight-bold"></label>
				<div class="col-md-9">
					<button type="button" class="btn btn-primary" (click)="searchInterest()" [disabled]="searching && results == null">Fetch Interest</button>
				</div>
			</div>
		</div>
	</div>
</form>


<div class="col-12" *ngIf="searching">
    <br><br>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%">
        </div>
    </div>
</div>

<div *ngIf="!searching && results != null" class="results">
    <div class="row" *ngIf="results.length;else noResults">
		<div class="col-2 offset-10">
            <button type="button" class="btn btn-secondary float-right" (click)="exportToExcel()">Download Excel</button>
            <br><br>
        </div>
        <div class="col-12">
			<ngx-datatable class="bootstrap table-bordered table-hover table-striped"
			[rows]="results"
			[limit]="50"			
			[columnMode]="'flex'"
			[headerHeight]="'auto'"
			[footerHeight]="'auto'"
			[rowHeight]="'auto'">
				<ngx-datatable-column name="Year" [flexGrow]="1" prop='year'></ngx-datatable-column>
				<ngx-datatable-column name="From Date" [flexGrow]="1" prop='fromDate'>
					<ng-template let-value="value" ngx-datatable-cell-template>
						{{value | dateFormat}}
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column name="To Date" [flexGrow]="1" prop='toDate'>
					<ng-template let-value="value" ngx-datatable-cell-template>
						{{value | dateFormat}}
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column name="Accrued Interest" [flexGrow]="1" prop='accruedInterest'></ngx-datatable-column>
				<ngx-datatable-column name="Discount Amount" [flexGrow]="1" prop='discountAmount'></ngx-datatable-column>
			</ngx-datatable>
		</div>
	</div>		
</div>
	
<ng-template #noResults>No Interest Found.</ng-template>
