<div class="modal-header">
	<h4 class="modal-title">Create Security</h4>
	<button type="button" class="close" aria-label="Close" (click)="d()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<form [formGroup]="form" #f="ngForm">
		<label>Security Type</label>
		<select class="form-control" formControlName="securityTypeId">
			<option *ngFor="let type of securityTypes" [value]="type.id">{{type.description}}</option>
		</select>
		<label>Security Purpose</label>
		<select class="form-control" formControlName="securityPurposeId">
			<option *ngFor="let purpose of securityPurposes" [value]="purpose.id">{{purpose.description}}</option>
		</select>
		<div *ngIf="form.controls.securityPurposeId.value == 2">
			<label>Identity Type</label>
			<select class="form-control" formControlName="identityTypeId">
                <option [ngValue]="null"></option>
				<option *ngFor="let identityType of identityTypes" [value]="identityType.id">{{identityType.description}}</option>
			</select>	
		</div>
		
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" (click)="submitForm(f)">Create Security</button>
	<button type="button" class="btn btn-secondary" (click)="d()">Close</button>
</div>
