<div class="row" [formGroup]="form" *ngIf="editForm == null">
    <div class="col-12" *ngIf="showAddButtons()">
        <button (click)="newAlert()" type="button" title="Add Alert" class="btn btn-primary">
            Add Alert
        </button>
        <br/><br/>
    </div>

    <div class="col-12">
        <ngx-datatable class="bootstrap table-bordered table-hover table-striped" *ngIf="form.get('alerts.0') != null"
            [rows]="form.get('alerts').value"
            [limit]="50"
            [columnMode]="'flex'"
            [headerHeight]="'auto'"
            [rowHeight]="'auto'"
            [footerHeight]="'auto'">

            <ngx-datatable-column [flexGrow]="1" prop="createDate" name="Date created">
                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <ng-container  *ngIf="row.createDate != null">
                        <a [href]="null" (click)="$event.preventDefault();loadAlert(rowIndex)">
                            {{row.createDate | dateFormat}}
                        </a>
                    </ng-container>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [flexGrow]="1" prop="createUser" name="Created by">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <ng-container *ngIf="row.createUser != null">
                        {{row.createUser}}
                    </ng-container>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [flexGrow]="1" name="Alert Type">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{getDescriptionForAlertType(row.alertTypeId)}}
                    <span class="{{getNameForAlertType(row.alertTypeId)}}"></span>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [flexGrow]="1" prop="status" name="Status">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <ng-container *ngIf="row.status != null">
                        {{row.status}}
                    </ng-container>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [flexGrow]="1" prop="updateDate" name="Last modified">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <ng-container  *ngIf="row.updateDate != null">
                        {{row.updateDate | dateFormat}} {{row.updateDate | date : 'shortTime'}}
                    </ng-container>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [flexGrow]="1" prop="updateUser" name="Modified by">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <ng-container *ngIf="row.updateUser != null">
                        {{row.updateUser}}
                    </ng-container>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [flexGrow]="1" prop="endDate" name="Start date">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <ng-container  *ngIf="row.startDate != null">
                        {{row.startDate | dateFormat}}
                    </ng-container>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [flexGrow]="1" prop="endDate" name="End date">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <ng-container  *ngIf="row.endDate != null">
                        {{row.endDate | dateFormat}}
                    </ng-container>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [flexGrow]="1" prop="updateUser" name="End by">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <ng-container  *ngIf="row.endDate != null">
                        {{row.updateUser}}
                    </ng-container>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [flexGrow]="3" prop="description" name="Description">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <ng-container *ngIf="row.description != null">
                        <div [innerHTML]="getAlertDescription(row.description)"></div>
                    </ng-container>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [flexGrow]="0.5" *ngIf="showAddButtons()">
                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <button *ngIf="row.alertTypeId==4 || row.id == null" (click)="deleteAlert(rowIndex)" type="button" class="btn btn-secondary form-control">
                        <span class="oi oi-trash"></span>
                    </button>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>

<div class="col-12" *ngIf="editForm != null">
    <form [formGroup]="editForm" noValidate>
        <div class="row">
            <div class="col-12">
                <h3>{{(editForm.get('id').value == null) ? 'Add an Alert' : 'Update an Alert'}}</h3>
                <br/>
            </div>
            <div class="col-12">
                <div class="form-group row">
                    <label class="col-2 col-form-label font-weight-bold">Date created:</label>
                    <div class="col-4">
                        <p class="form-control-plaintext">{{editForm.get('createDate').value | dateFormat}}</p>
                    </div>
                    <label class="col-2 col-form-label">Created by:</label>
                    <div class="col-4">
                        <p class="form-control-plaintext">{{editForm.get('createUser').value}}</p>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="form-group row">
                    <div class="col-2">
                        <label for="alertTypeId" class="col-form-label font-weight-bold" >Alert Type:</label>
                    </div>
                    <div class="col-4">
                        <select class="form-control" id="alertTypeId" formControlName="alertTypeId" showValidation>
                            <option *ngFor="let type of alertTypes" [ngValue]="type.id">{{type.description}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="form-group row">
                    <div class="col-2">
                        <label for="description" class="col-form-label font-weight-bold" >Description:</label>
                    </div>
                    <div class="col-10">
                        <textarea id="description" rows="6" formControlName="description" class="form-control"></textarea>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group row">
                    <label for="startDate" class="col-4 col-form-label">Start date:</label>
                    <div class="col-8 input-group">
                        <input class="form-control" id="startDate" formControlName="startDate" (focus)="startDate.toggle()"
                               ngbDatepicker [firstDayOfWeek]="7" #startDate="ngbDatepicker" [minDate]="{year: 1900, month: 1, day: 1}"
                               required showValidation placeholder="yyyy-mm-dd" >
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="oi oi-calendar" (click)="startDate.toggle()" title="Open Calendar" aria-hidden="true" style="cursor: pointer"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group row">
                    <label class="col-4 col-form-label" for="endDate">End date:</label>
                    <div class="col-8 input-group">
                        <input class="form-control" id="endDate" showValidation placeholder="yyyy-mm-dd" formControlName="endDate" (focus)="endDate.toggle()"
                               [firstDayOfWeek]="7" #endDate="ngbDatepicker" ngbDatepicker [minDate]="{year: 1900, month: 1, day: 1}">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="oi oi-calendar" (click)="endDate.toggle()" title="Open Calendar" aria-hidden="true" style="cursor: pointer"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 buttons" *ngIf="showAddButtons()">
                <button type="button" (click)="save()" class="btn btn-primary">
                    {{(editForm.get('id').value==null) ? 'Add' : 'Update'}}
                </button>
                <button type="button" (click)="cancel()" class="btn btn-secondary">Cancel</button>
            </div>
        </div>
    </form>
</div>
