<div class="modal-header">
	<h4 class="modal-title">Financial Institution Search</h4>
	<button type="button" class="close" aria-label="Close" (click)="d()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<form [formGroup]="form" (submit)="search()">
		<div class="row">
			<div class="col-md-12">
				<div class="form-group row">
					<label class="col-md-4 col-form-label font-weight-bold" for="code">Institution Code</label>
					<div ngbDropdown class="input-group col-md-8">
						<div class="input-group-prepend">
							<button class="btn input-group-text dropdown-toggle" type="button" id="codeTypeDD" ngbDropdownToggle>{{textForSearchType(form.controls['codeType'].value)}}</button>
							<div ngbDropdownMenu aria-labelledby="codeTypeDD">
								<button type="button" class="dropdown-item" (click)="form.controls['codeType'].patchValue('EQUALS')">=</button>
								<button type="button" class="dropdown-item" (click)="form.controls['codeType'].patchValue('NOT_EQUALS')">!=</button>
								<button type="button" class="dropdown-item" (click)="form.controls['codeType'].patchValue('BETWEEN')">Between</button>
								<button type="button" class="dropdown-item" (click)="form.controls['codeType'].patchValue('LESS_THAN')">&lt;</button>
								<button type="button" class="dropdown-item" (click)="form.controls['codeType'].patchValue('GREATER_THAN')">&gt;</button>
								<button type="button" class="dropdown-item" (click)="form.controls['codeType'].patchValue('IN')">In</button>
							</div>
						</div>
						<input class="form-control" id="code" formControlName="code" type="text" placeholder="{{(form.controls['codeType'].value != null && form.controls['codeType'].value == 'IN') ? '1,2,3' : '' }}" />
						<div class="input-group-append" *ngIf="form.controls['codeType'].value == 'BETWEEN'">
							<span class="input-group-text"> and </span>
						</div>
						<input class="form-control" formControlName="codeTo" type="text" *ngIf="form.controls['codeType'].value == 'BETWEEN'" />
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group row">
					<label class="col-md-4 col-form-label font-weight-bold" for="name">Financial Institution Name</label>
					<div ngbDropdown class="input-group col-md-8">
						<div class="input-group-prepend">
							<button class="btn input-group-text dropdown-toggle" type="button" id="nameTypeDD" ngbDropdownToggle>{{textForSearchType(form.controls['nameType'].value)}}</button>
							<div ngbDropdownMenu aria-labelledby="nameTypeDD">
								<button type="button" class="dropdown-item" (click)="form.controls['nameType'].patchValue('BEGINS_WITH')">Begins With</button>
								<button type="button" class="dropdown-item" (click)="form.controls['nameType'].patchValue('CONTAINS')">Contains</button>
								<button type="button" class="dropdown-item" (click)="form.controls['nameType'].patchValue('EQUALS')">=</button>
								<button type="button" class="dropdown-item" (click)="form.controls['nameType'].patchValue('LESS_THAN')">&lt;</button>
								<button type="button" class="dropdown-item" (click)="form.controls['nameType'].patchValue('GREATER_THAN')">&gt;</button>
								<button type="button" class="dropdown-item" (click)="form.controls['nameType'].patchValue('BETWEEN')">Between</button>
							</div>
						</div>
						<input class="form-control" id="name" formControlName="name" type="text" />
						<div class="input-group-append" *ngIf="form.controls['nameType'].value == 'BETWEEN'">
							<span class="input-group-text"> and </span>
						</div>
						<input class="form-control" formControlName="nameTo" type="text" *ngIf="form.controls['nameType'].value == 'BETWEEN'" />
					</div>
				</div>
			</div>
			<div class="col-md-12">
						<div class="form-group row">
							<label for="financialInstitutionTypeId" class="col-md-4 col-form-label font-weight-bold">Financial
								Institution Type:</label>
							<div class="col-md-8">
								<div class="input-group">
									<select class="form-control"
										id="financialInstitutionTypeId" formControlName="financialInstitutionTypeId">
										<option [ngValue]="null"></option>
										<option *ngFor="let financialInstitutionType of types"
											[value]="financialInstitutionType.id">{{financialInstitutionType.name}}</option>
									</select>
								</div>
							</div>
						</div>
			</div>
			<div class="col-md-2">
				<button type="submit" class="btn btn-primary" [disabled]="!form.valid || searching">{{searching ? 'Searching...' : 'Search'}}</button>
			</div>
			<div class="col-md-2">
				<button type="button" class="btn btn-secondary" (click)="clear()">Clear</button>
			</div>
		</div>
	</form>
	
	<div *ngIf="searched" class="results">
		<hr/>
		<div class="row" *ngIf="results.length > 0;else noresults">
			<div class="col-12">
				<h4>Search Results</h4>
				<ngx-datatable class="bootstrap table-bordered table-hover table-striped"
				[rows]="results"
				[limit]="25"			
				[columnMode]="'flex'"
				[headerHeight]="'auto'"
				[footerHeight]="'auto'"
				[rowHeight]="'auto'" >
					<ngx-datatable-column name="Institution Code" [flexGrow]="1" prop="id">
						<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
							<a href="#" (click)="$event.preventDefault();select(row)" class="{{fiClass(row.expiryDate)}}">{{row.id}}</a>
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="Financial Institution Name" [flexGrow]="3" prop="name">
						<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
							<a href="#" (click)="$event.preventDefault();select(row)" class="{{fiClass(row.expiryDate)}}">{{row.name}}</a>
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="Expiration Date" [flexGrow]="1" [comparator]="compareDate" prop="expiryDate">
						<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
							<a href="#" (click)="$event.preventDefault();select(row)" class="{{fiClass(row.expiryDate)}}">{{row.expiryDate | dateFormat}}</a>
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="Financial Insitution Type" [flexGrow]="2" prop="financialInstitutionTypeId">
						<ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
							<a href="#" (click)="$event.preventDefault();select(row)" class="{{fiClass(row.expiryDate)}}">{{getFinancialInstitutionTypeName(row.financialInstitutionTypeId)}}</a>
						</ng-template>
					</ngx-datatable-column>
				</ngx-datatable>
			</div>
		
		</div>
		
		<ng-template #noresults><p>No results found.</p></ng-template>
	</div>

</div>

<div class="modal-footer"> 
	<button type="button" class="btn btn-primary" (click)="c()">Close</button>
</div>
