<div class="navbar-top">
	<div class="row page-header">
		<div class="col-md-7 col-sm-8">
			<a href="http://www.tarion.com" class="logo"></a>
			<h2 class="align-top">VB Securities</h2>
		</div>
		<div class="col-md-3 text-md-right col-sm-4" *ngIf="getSession().getUser().userId">
			<span class="align-bottom">
				{{getSession().getUser().firstName}} {{getSession().getUser().lastName}}&nbsp;&nbsp;&nbsp;
				({{getSession().getUser().userId}})
			</span>
		</div>
		<div class="col-md-2 text-center col-sm-12" *ngIf="getSession().getUser().userId">
			<span class="align-bottom">
				<button class="btn btn-secondary" (click)="logout()">Logout</button>
			</span>
		</div>
	</div>
</div>

<nav class="navbar navbar-expand-md">
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div *ngIf="getSession().getUser().userId" class="navbar-nav">
			<a class="nav-item nav-link {{linkClass('')}}" [routerLink]="['']">Home</a><span class="nav-divider"></span>
			<a class="nav-item nav-link {{linkClass('security')}}" [routerLink]="['/createSecurity']" *hasPermission="'CREATE_SECURITY'">Create Security</a>
			<a class="nav-item nav-link {{linkClass('searchSecurity')}}" [routerLink]="['/searchSecurity']" [queryParams]="{reset:true}">Search</a>
			<div ngbDropdown class="d-inline-block">
				<a class="nav-item nav-link {{linkClass('searchInterest')}} {{linkClass('addInterest')}}"  id="financialInstitutionDropdown" ngbDropdownToggle>Financial Institutions</a>
				<div ngbDropdownMenu aria-labelledby="financialInstitutionDropdown">
					<a class="dropdown-item" [routerLink]="['/financialInstitution']" *hasPermission="'CREATE_EDIT_FINANCIAL_INSTITUTIONS'" >Add Financial Institutions</a>
					<a class="dropdown-item" [routerLink]="['/financialInstitutionSearch']" [queryParams]="{reset:'true'}">Search Financial Institutions</a>
				</div>
			</div>
			<div ngbDropdown class="d-inline-block" *hasPermission="'ADD_EDIT_INTEREST'">
				<a class="nav-item nav-link {{linkClass('searchInterest')}} {{linkClass('addInterest')}}" *hasPermission="'FINANCE_PERMISSION'" id="interestDropdown" ngbDropdownToggle>Interest</a>
				<div ngbDropdownMenu aria-labelledby="interestDropdown">
					<a class="dropdown-item" [routerLink]="['/interest']" [queryParams]="{add: ''}">Add Interest Rate</a>
					<a class="dropdown-item" [routerLink]="['/interest']">Search Interest Rates</a>
					<a class="dropdown-item" [routerLink]="['/interestReport']">Interest Report</a>
				</div>
			</div>
			<div ngbDropdown class="d-inline-block">
				<a class="nav-item nav-link {{linkClass('pendingReleaseSummary')}}" ngbDropdownToggle *hasPermission="'PENDING_RELEASE'" >Pending Releases</a>
				<div ngbDropdownMenu aria-labelledby="financialInstitutionDropdown">
					<a class="dropdown-item" [routerLink]="['/pendingReleaseSummary']" *hasPermission="'PENDING_RELEASE'" >Pending Releases</a>
					<a class="dropdown-item" [routerLink]="['/pendingReleaseReport']" *hasPermission="'PENDING_RELEASE'">Releases Report</a>
				</div>
			</div>
			<a class="nav-item nav-link {{linkClass('autoRelease')}}" *hasPermission="'CREATE_SECURITY'" [routerLink]="['/autoRelease']">Auto Freehold Release</a>
			<a class="nav-item nav-link {{linkClass('searchDeletedSecurity')}}" [routerLink]="['/searchDeletedSecurity']" *ngIf="session.getUser().hasPermission('FINANCE_PERMISSION') || session.getUser().hasPermission('DELETE_SECURITY_CANCEL_RELEASE')">Deleted Securities</a>
		</div>

		<a *ngIf="getSession().getUser().userId" target="_blank" class="float-right nav-item nav-link" [routerLink]="['/searchSecurity']" [queryParams]="{reset:true}">New Window</a>
	</div>
</nav>
