@import 'styles/variables';
@import 'styles/bootstrap-overrides';
@import "bootstrap/scss/bootstrap";
@import "openiconic/font/css/open-iconic-bootstrap";
@import "assets/fonts/roboto";
@import 'styles/defaults';
@import 'styles/datatables-bootstrap';
@import 'styles/icons';
/* Navbar */
@import 'styles/navbar';
/* Footer */
@import 'styles/footer';


.highlight {
    width: 100%;
    background-color: #8ab1e4;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.25rem;
}

.alert-fixed {
    position: fixed;
    top: 10px;
    width: 100vw;
	z-index: 1500;
}

.alert-danger-fixed {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
	width: 80vw;
	padding: 1.5rem 1.25rem;
	margin: 5px 10vw ;
	z-index: 1500;
}

.alert-success-fixed {
	color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
	width: 80vw;
	padding: 1.5rem 1.25rem;
	margin: 5px 10vw ;
	z-index: 1500;
}


span.error {
	color: red;
}

div.tab-content {
	border-left: 1px solid $tarionBlue;
	border-right: 1px solid $tarionBlue;
	border-bottom: 1px solid $tarionBlue;
	padding: 20px;
	margin-top: 1px;
}

ul.nav{
	margin-bottom: -1px;
}

.nav-tabs {
	border-bottom: 1px solid $tarionBlue;
}

.nav-tabs .nav-link {
	background-color: #eeeeee;
	border-color: #cccccc;
	border-bottom: 1px solid $tarionBlue;
}

.nav-tabs .nav-link:not(.disabled, .active):hover  {
	background-color: $tarionYellow;
	border-color: #cccccc;
	border-bottom: 1px solid $tarionBlue;
}

.nav-tabs .nav-link.active {
	background-color: $tarionBlue;
	border-color: $tarionBlue;
	color: $white;
}

.results {
    margin-top: 2rem;
}

label > span.oi {
	cursor: pointer;
}

hr {
	display: block;
	margin-top: 0rem;
    margin-bottom: 2rem;
	border-width: 2px;
	background-color: #cccccc;
  }

.section-color {
    color: #8ab1e4;
}

a.disabled {
	pointer-events: all !important;
	cursor: not-allowed;
}

.modified {
	@extend .small;
}
.col-form-label, .modified label {
	font-weight: 700;
}

.datatable-body-cell a.expired{
	color: #ed3737;
}

.custom-invalid-feedback{
	width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.bs-tooltip-top{
  z-index: 9999;
}


.red {
	color: red;
	text-decoration: none;
}

.orange {
	color: darkorange;
	text-decoration: none;
}

.darkorange {
    color: darkorange;
    text-decoration: none;
}

.yellow {
	color: #f7e226;
	text-decoration: none;
}

.green {
	color: green;
	text-decoration: none;
}


div.buttons button {
    margin-right: 10px;
}

datatable-body-row.vbHidden {
    background-color: #000000;
    display: none !important
}


select.form-control-sm:not([size]):not([multiple]) {
    height: calc(1.5rem + 2px) !important;
}

.input-group-sm > .input-group-prepend > .input-group-text, .form-control-sm, .input-group-sm > .form-control {
    padding: 0.15rem 0.35rem !important;
}

.form-control-sm {
    font-size: 0.8rem !important;
}

datatable-scroller{
    width:100% !important;
}

.datatable-row-odd {
    background-color: #F1F4F7;
}

.datatable-row-even {
    background-color: #F9F9F9;
}
