
<div class="modal-header">
	<h4 class="modal-title">Security Search</h4>
	<button type="button" class="close" aria-label="Close" (click)="d()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<form [formGroup]="form" #f="ngForm">
		<div class="row">
			<div class="col-md-12">
				<div class="form-group row">
					<label class="col-md-4 col-form-label font-weight-bold">Instrument Number</label>
					<div ngbDropdown class="input-group col-md-8">
						<div class="input-group-prepend">
							<button class="btn input-group-text dropdown-toggle" type="button" id="codeTypeDD" ngbDropdownToggle>{{textForSearchType(form.controls['instrumentNumberSearchType'].value)}}</button>
							<div ngbDropdownMenu aria-labelledby="codeTypeDD">
								<button class="dropdown-item" (click)="form.controls['instrumentNumberSearchType'].patchValue('EQUALS')">=</button>
								<button class="dropdown-item" (click)="form.controls['instrumentNumberSearchType'].patchValue('NOT_EQUALS')">!=</button>
								<button class="dropdown-item" (click)="form.controls['instrumentNumberSearchType'].patchValue('BETWEEN')">Between</button>
								<button class="dropdown-item" (click)="form.controls['instrumentNumberSearchType'].patchValue('LESS_THAN')">&lt;</button>
								<button class="dropdown-item" (click)="form.controls['instrumentNumberSearchType'].patchValue('EQUALS_LESS_THAN')">&le;</button>
								<button class="dropdown-item" (click)="form.controls['instrumentNumberSearchType'].patchValue('GREATER_THAN')">&gt;</button>
								<button class="dropdown-item" (click)="form.controls['instrumentNumberSearchType'].patchValue('EQUALS_GREATER_THAN')">&ge;</button>
								<button class="dropdown-item" (click)="form.controls['instrumentNumberSearchType'].patchValue('IN')">In</button>
							</div>
						</div>
						<input class="form-control" formControlName="instrumentNumber" type="text" placeholder="{{(form.controls['instrumentNumberSearchType'].value != null && form.controls['instrumentNumberSearchType'].value == 'IN') ? '1,2,3' : '' }}" />
						<div class="input-group-append" *ngIf="form.controls['instrumentNumberSearchType'].value == 'BETWEEN'">
							<span class="input-group-text"> and </span>
						</div>
						<input class="form-control" formControlName="instrumentNumberTo" type="text" *ngIf="form.controls['instrumentNumberSearchType'].value == 'BETWEEN'" />
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group row">
					<label class="col-md-4 col-form-label font-weight-bold">Security Number</label>
					<div ngbDropdown class="input-group col-md-8">
						<div class="input-group-prepend">
							<button class="btn input-group-text dropdown-toggle" type="button" id="codeTypeSecNo" ngbDropdownToggle>{{textForSearchType(form.controls['securityNumberSearchType'].value)}}</button>
							<div ngbDropdownMenu aria-labelledby="codeTypeSecNo">
								<button class="dropdown-item" (click)="form.controls['securityNumberSearchType'].patchValue('EQUALS')">=</button>
								<button class="dropdown-item" (click)="form.controls['securityNumberSearchType'].patchValue('NOT_EQUALS')">!=</button>
								<button class="dropdown-item" (click)="form.controls['securityNumberSearchType'].patchValue('BETWEEN')">Between</button>
								<button class="dropdown-item" (click)="form.controls['securityNumberSearchType'].patchValue('LESS_THAN')">&lt;</button>
								<button class="dropdown-item" (click)="form.controls['securityNumberSearchType'].patchValue('EQUALS_LESS_THAN')">&le;</button>
								<button class="dropdown-item" (click)="form.controls['securityNumberSearchType'].patchValue('GREATER_THAN')">&gt;</button>
								<button class="dropdown-item" (click)="form.controls['securityNumberSearchType'].patchValue('EQUALS_GREATER_THAN')">&ge;</button>
								<button class="dropdown-item" (click)="form.controls['securityNumberSearchType'].patchValue('IN')">In</button>
								<button class="dropdown-item" (click)="form.controls['securityNumberSearchType'].patchValue('BEGIN_WITH')">Begins With</button>
								<button class="dropdown-item" (click)="form.controls['securityNumberSearchType'].patchValue('CONTAINS')">Contains</button>
							</div>
						</div>
						<input class="form-control" formControlName="securityNumber" type="text" showvalidation placeholder="{{(form.controls['securityNumberSearchType'].value != null && form.controls['securityNumberSearchType'].value == 'IN') ? '1,2,3' : '' }}" />
						<div class="input-group-append" *ngIf="form.controls['securityNumberSearchType'].value == 'BETWEEN'">
							<span class="input-group-text"> and </span>
						</div>
						<input class="form-control" formControlName="securityNumberTo" type="text" *ngIf="form.controls['securityNumberSearchType'].value == 'BETWEEN'" />
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group row">
					<label class="col-md-4 col-form-label font-weight-bold">VB Number</label>
					<div ngbDropdown class="input-group col-md-8">
						<div class="input-group-prepend">
							<button class="btn input-group-text dropdown-toggle" type="button" id="codeTypeDD" ngbDropdownToggle>{{textForSearchType(form.controls['vbNumberType'].value)}}</button>
							<div ngbDropdownMenu aria-labelledby="codeTypeDD">
								<button class="dropdown-item" (click)="form.controls['vbNumberType'].patchValue('EQUALS')">=</button>
								<button class="dropdown-item" (click)="form.controls['vbNumberType'].patchValue('LESS_THAN')">&lt;</button>
								<button class="dropdown-item" (click)="form.controls['vbNumberType'].patchValue('EQUALS_LESS_THAN')">&le;</button>
								<button class="dropdown-item" (click)="form.controls['vbNumberType'].patchValue('GREATER_THAN')">&gt;</button>
								<button class="dropdown-item" (click)="form.controls['vbNumberType'].patchValue('EQUALS_GREATER_THAN')">&ge;</button>
								<button class="dropdown-item" (click)="form.controls['vbNumberType'].patchValue('IN')">In</button>
								<button class="dropdown-item" (click)="form.controls['vbNumberType'].patchValue('BEGIN_WITH')">Begins With</button>
								<button class="dropdown-item" (click)="form.controls['vbNumberType'].patchValue('CONTAINS')">Contains</button>
							</div>
						</div>
						<input class="form-control" formControlName="vbNumber" type="text" placeholder="{{(form.controls['vbNumberType'].value != null && form.controls['vbNumberType'].value == 'IN') ? '1,2,3' : '' }}" />
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group row">
					<label class="col-md-4 col-form-label font-weight-bold">Recieved Date</label>
					<div ngbDropdown class="input-group col-md-8">
						<div class="input-group-prepend">
							<button class="btn input-group-text dropdown-toggle" type="button" id="codeTypeDD" ngbDropdownToggle>{{textForSearchType(form.controls['receivedDateType'].value)}}</button>
							<div ngbDropdownMenu aria-labelledby="codeTypeDD">
								<button class="dropdown-item" (click)="form.controls['receivedDateType'].patchValue('EQUALS')">=</button>
								<button class="dropdown-item" (click)="form.controls['receivedDateType'].patchValue('NOT_EQUALS')">!=</button>
								<button class="dropdown-item" (click)="form.controls['receivedDateType'].patchValue('BETWEEN')">Between</button>
								<button class="dropdown-item" (click)="form.controls['receivedDateType'].patchValue('LESS_THAN')">&lt;</button>
								<button class="dropdown-item" (click)="form.controls['receivedDateType'].patchValue('EQUALS_LESS_THAN')">&le;</button>
								<button class="dropdown-item" (click)="form.controls['receivedDateType'].patchValue('GREATER_THAN')">&gt;</button>
								<button class="dropdown-item" (click)="form.controls['receivedDateType'].patchValue('EQUALS_GREATER_THAN')">&ge;</button>
								<button class="dropdown-item" (click)="form.controls['receivedDateType'].patchValue('IN')">In</button>
							</div>
						</div>
						<input class="form-control" [attr.data-label]="'Received Date'" formControlName="receivedDate" (focus)="receivedDate.toggle()" ngbDatepicker [firstDayOfWeek]="7" #receivedDate="ngbDatepicker" [minDate]="{year: 1900, month: 1, day: 1}" weekStartsOn="4" placeholder="{{(form.controls['receivedDateType'].value != null && form.controls['receivedDateType'].value == 'IN') ? '1,2,3' : '' }}" />
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="oi oi-calendar" (click)="receivedDate.toggle()" title="Open Calendar" aria-hidden="true" style="cursor: pointer"></span>
							</div>
						</div>
						<div class="input-group-append" *ngIf="form.controls['receivedDateType'].value == 'BETWEEN'">
							<span class="input-group-text"> and </span>
							<input class="form-control" placeholder="yyyy-mm-dd" [attr.data-label]="'Received Date'" formControlName="receivedDateBetweenTo" (focus)="receivedDateBetweenTo.toggle()" ngbDatepicker [firstDayOfWeek]="7" #receivedDateBetweenTo="ngbDatepicker" [minDate]="{year: 1900, month: 1, day: 1}" weekStartsOn="4" showValidation>
							<div class="input-group-append">
								<div class="input-group-text">
									<span class="oi oi-calendar" (click)="receivedDateBetweenTo.toggle()" title="Open Calendar" aria-hidden="true" style="cursor: pointer"></span>
								</div>
							</div>
						</div>			
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group row">
					<label class="col-md-4 col-form-label font-weight-bold">Current Amount</label>
					<div ngbDropdown class="input-group col-md-8">
						<div class="input-group-prepend">
							<button class="btn input-group-text dropdown-toggle" type="button" id="codeTypeDD" ngbDropdownToggle>{{textForSearchType(form.controls['currentAmountType'].value)}}</button>
							<div ngbDropdownMenu aria-labelledby="codeTypeDD">
								<button class="dropdown-item" (click)="form.controls['currentAmountType'].patchValue('EQUALS')">=</button>
								<button class="dropdown-item" (click)="form.controls['currentAmountType'].patchValue('NOT_EQUALS')">!=</button>
								<button class="dropdown-item" (click)="form.controls['currentAmountType'].patchValue('BETWEEN')">Between</button>
								<button class="dropdown-item" (click)="form.controls['currentAmountType'].patchValue('LESS_THAN')">&lt;</button>
								<button class="dropdown-item" (click)="form.controls['currentAmountType'].patchValue('EQUALS_LESS_THAN')">&le;</button>
								<button class="dropdown-item" (click)="form.controls['currentAmountType'].patchValue('GREATER_THAN')">&gt;</button>
								<button class="dropdown-item" (click)="form.controls['currentAmountType'].patchValue('EQUALS_GREATER_THAN')">&ge;</button>
								<button class="dropdown-item" (click)="form.controls['currentAmountType'].patchValue('IN')">In</button>
							</div>
						</div>
						<input class="form-control" formControlName="currentAmount" type="text" placeholder="{{(form.controls['currentAmountType'].value != null && form.controls['currentAmountType'].value == 'IN') ? '1,2,3' : '' }}" />
						<div class="input-group-append" *ngIf="form.controls['currentAmountType'].value == 'BETWEEN'">
							<span class="input-group-text"> and </span>
						</div>
						<input class="form-control" formControlName="currentAmountTo" type="text" *ngIf="form.controls['currentAmountType'].value == 'BETWEEN'" />
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<button type="button" (click)="search()" class="btn btn-primary" [disabled]="!form.valid || searchingForm">{{searchingForm ? 'Searching...' : 'Search'}}</button>
			</div>
			<div class="col-md-2">
				<button type="button" class="btn btn-secondary" (click)="clear()" [disabled]="searchingForm">Clear</button>
			</div>
		</div>
	</form>
	
	<div *ngIf="searched ==true" class="results">
		<div class="row" *ngIf="results.securities;else noresults">
			<div class="col-12">
				<ngx-datatable class="bootstrap table-bordered table-hover table-striped"
				[rows]="results.securities"
				[limit]="50"
				[columnMode]="'flex'"
				[headerHeight]="'auto'"
				[footerHeight]="'auto'"
				[rowHeight]="'auto'" 
				(page)="onPage()" #datatable>
					<ngx-datatable-column name="Security Number" [flexGrow]="1">
						<ng-template let-row="row" ngx-datatable-cell-template>
							<a href="#" (click)="$event.preventDefault();select(row)" *ngIf="!currentAmountZero(row.currentAmount)">{{row.securityNumber}}</a>
							<span class="expired" *ngIf="currentAmountZero(row.currentAmount)">{{row.securityNumber}}</span>
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="Instrument Number" [flexGrow]="1">
						<ng-template let-row="row" ngx-datatable-cell-template>
							<a href="#" (click)="$event.preventDefault();select(row)" *ngIf="!currentAmountZero(row.currentAmount)">{{row.instrumentNumber}}</a>
							<span class="expired" *ngIf="currentAmountZero(row.currentAmount)">{{row.instrumentNumber}}</span>
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="Received Date" [flexGrow]="1" [comparator]="compareDate" prop="receivedDate">
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{row.receivedDate | dateFormat }}
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="VB Number" [flexGrow]="1">
						<ng-template let-row="row" ngx-datatable-cell-template>
							<a href="{{crmVbUrl}}B{{row.vbNumber}}" target="_blank" *ngIf="!currentAmountZero(row.currentAmount)">B{{row.vbNumber}}</a>
							<span class="expired" *ngIf="currentAmountZero(row.currentAmount)">B{{row.vbNumber}}</span>
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="Current Amount" [flexGrow]="1">
						<ng-template let-row="row" ngx-datatable-cell-template>
							<a href="#" (click)="$event.preventDefault();select(row)" *ngIf="!currentAmountZero(row.currentAmount)">{{row.currentAmount}}</a>
							<span class="expired" *ngIf="currentAmountZero(row.currentAmount)">{{row.currentAmount}}</span>
						</ng-template>
					</ngx-datatable-column>
				</ngx-datatable>
			</div>
		
		</div>
		
		<ng-template #noresults><p>No results found.</p></ng-template>
	</div>

</div>

<div class="modal-footer"> 
	<button type="button" class="btn btn-primary" (click)="c()">Close</button>
</div>
