<ng-container [formGroup]="form">
    <div class="row">
        <div class="font-weight-bold col-2">{{unitText}}</div>
        <div class="col-1">{{form.get('securityTypeId').value == 5 ? totalUNIT : totalFH}}</div>
        <div class="col text-right">
            <strong class="float-right" *ngIf="crmDataLoading">Loading Enrolment Information from CRM</strong>
            <strong class="float-right red" *ngIf="crmDataError">Failed to load Enrolment Information from CRM!</strong>
        </div>
    </div>
    <div class="row">
        <div class="font-weight-bold col-md-2 col-6">Total # of CEs </div>
        <div class="col-1">{{totalCE}}</div>
    </div>
    <br/>

    <div class="row">
        <div class="col-12 btns">
            <button [ngClass]="selected == 'HOMES_COVERED' ? 'btn btn-primary' : 'btn btn-secondary'" (click)="changeSelected('HOMES_COVERED')">{{coveredButtonText}}</button>
            <button *ngIf="showFH" [ngClass]="selected == 'FH' ? 'btn btn-primary' : 'btn btn-secondary'" (click)="changeSelected('FH')">FH</button>
            <button *ngIf="totalCE > 0" [ngClass]="selected == 'CE' ? 'btn btn-primary' : 'btn btn-secondary'" (click)="changeSelected('CE')">CE</button>
            <button [ngClass]="selected == 'ALL' ? 'btn btn-primary' : 'btn btn-secondary'" (click)="changeSelected('ALL')">All Columns</button>
            <button [ngClass]="'btn btn-secondary float-right'" (click)="openEnrolmentsActivitesModal()">VB & Home Covered Remove Details</button>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <ngx-datatable #dataTable
               class="bootstrap table-bordered table-hover table-small-font"
               [rows]="filteredEnrolmentList"
               [limit]="50"
               [columnMode]="'force'"
               [headerHeight]="'auto'"
               [footerHeight]="'auto'"
               [rowHeight]="'auto'"
               [scrollbarH]="true"
               [reorderable]="false"
               [virtualization]="true"
               formArrayName="enrolments">

                <ngx-datatable-column name="VB #" [resizeable]="false" [canAutoResize]="false" [width]="52" [minWidth]="52" [maxWidth]="52" prop="enrollingVb">
                    <ng-template let-row="row" ngx-datatable-cell-template>{{row.enrollingVb}}</ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Enrollment #" [resizeable]="false" [canAutoResize]="true" [width]="77" [minWidth]="77" [maxWidth]="118" prop="enrolmentNumber">
                    <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <span *ngIf="row.enrolmentNumber != null"><a href="{{session.getProperty('crmEnrolmentUrl', row.enrolmentNumber)}}" target="_blank">{{row.enrolmentNumber}} {{row.isCe}}</a></span>
                        <span *ngIf="row.enrolmentNumber != null" class="icons"><a href="{{session.getProperty('ceViewerUrl', row.enrolmentNumber)}}" target="_blank" title="CE Viewer"><span class="oi oi-browser"></span></a></span>
                        <span *ngIf="row.enrolmentNumber != null" class="icons"><a href="{{session.getProperty('viewer360Url', row.enrolmentNumber)}}" target="_blank"><span class="t-icon t-icon-view-360" data-toggle="tooltip" data-placement="top"  title="360 view"> </span></a></span>
                        <span *ngIf="row.enrolmentNumber != null && !row.isCE" class="icons"><a [href]="null" (click)="$event.preventDefault();openEnrolmentsIndicatorsModal(rowIndex)" ><span class="oi oi-cog" data-toggle="tooltip" data-placement="top" title="Change Enrolments indicators"> </span></a></span>
                        <span class="error" *ngIf="getErrorsForRow(rowIndex) != null"><br/>{{getErrorsForRow(rowIndex).serverErrors[0]}}</span>
                    </ng-template>
                </ngx-datatable-column>

                <ng-container *ngIf="selected == 'ALL' || selected == 'HOMES_COVERED'">
                    <ngx-datatable-column name="Multi Security" [resizeable]="false" [canAutoResize]="true" [width]="57" [minWidth]="57" [maxWidth]="85" prop="multiSecurity">
                        <ng-template let-row="row" ngx-datatable-cell-template>{{(row.multiSecurity == null || row.enrolmentNumber == null) ? '': (row.multiSecurity) ? 'Yes':'No'}}</ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="CE/Unit" [resizeable]="false" [canAutoResize]="false" [width]="52" [minWidth]="52" [maxWidth]="52" prop="unitType">
                        <ng-template let-row="row" ngx-datatable-cell-template>{{(row.unitType == '001') ? 'CE': (row.unitType == '002') ? 'FH': (row.unitType == '003') ? 'Unit' : '' }}</ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="RA Amount" [resizeable]="false" [canAutoResize]="false" [width]="104" [minWidth]="104" [maxWidth]="104" prop="raAmount">
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            <ng-container [formGroupName]="rowIndex" *ngIf="row.enrolmentNumber != null">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input class="form-control form-control-sm" formControlName="raAmount" type="text" currencyFormatter required showValidation />
                                </div>
                            </ng-container>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Max Deposit Per Unit" [resizeable]="false" [canAutoResize]="true" [width]="104" [minWidth]="104" [maxWidth]="122" prop="maxUnitDeposit">
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            <ng-container [formGroupName]="rowIndex" *ngIf="row.enrolmentNumber != null">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input class="form-control form-control-sm" formControlName="maxUnitDeposit" type="text" currencyFormatter required showValidation />
                                </div>
                            </ng-container>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Original Allocated Amount" [resizeable]="false" [canAutoResize]="true" [width]="111" [minWidth]="111" [maxWidth]="150" prop="allocatedAmount">
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            <ng-container [formGroupName]="rowIndex" *ngIf="row.enrolmentNumber != null">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input class="form-control form-control-sm" formControlName="allocatedAmount" type="text" currencyFormatter required showValidation />
                                </div>
                            </ng-container>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Current Allocated Amount" [resizeable]="false" [canAutoResize]="true" [width]="111" [minWidth]="111" [maxWidth]="150" prop="currentAllocatedAmount">
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            <ng-container [formGroupName]="rowIndex" *ngIf="row.enrolmentNumber != null">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input class="form-control form-control-sm" formControlName="currentAllocatedAmount" type="text" currencyFormatter required showValidation />
                                </div>
                            </ng-container>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Release per BB28" [resizeable]="false" [canAutoResize]="true" [width]="60" [minWidth]="60"  [maxWidth]="104" >
                        <ng-template let-row="row" ngx-datatable-cell-template>{{(crmEnrolment(row.enrolmentNumber).releasePerBB28 == null) ? '': (crmEnrolment(row.enrolmentNumber).releasePerBB28) ? 'Yes':'No'}}</ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Enrolment Status" [resizeable]="false" [canAutoResize]="true" [width]="80" [minWidth]="80" [maxWidth]="102">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <span *ngIf="row.enrolmentStatus === 'CANCELLED'" class="enrollment-status cancelled">{{row.enrolmentStatus | capitalCase}}</span>
                            <span *ngIf="row.enrolmentStatus !== 'CANCELLED'" >{{row.enrolmentStatus | capitalCase}}</span>
                        </ng-template>
                    </ngx-datatable-column>

                    <ng-container *ngIf="form.get('securityTypeId').value == 5">
                        <ngx-datatable-column name="PEF Amt at Condo Registration" prop="pefAmount">
                            <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                <ng-container [formGroupName]="rowIndex" *ngIf="row.enrolmentNumber != null">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input class="form-control form-control-sm" formControlName="pefAmount" type="text" currencyFormatter />
                                    </div>
                                </ng-container>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Clearance Letter Issued" prop="clearanceLetterIssued">
                            <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                <ng-container [formGroupName]="rowIndex" *ngIf="row.enrolmentNumber != null">
                                    <div class="input-group input-group-sm">
                                        <input class="form-control form-control-sm" formControlName="clearanceLetterIssued" type="checkbox"  />
                                    </div>
                                </ng-container>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Date of Clearance to Transfer PEF to Condo Corp" prop="clearanceDate">
                            <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                <ng-container [formGroupName]="rowIndex" *ngIf="row.enrolmentNumber != null">
                                    <div class="input-group input-group-sm" #datepickerContainer>
                                        <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" id="clearanceDate" formControlName="clearanceDate" (focus)="clearanceDate.toggle()" ngbDatepicker [positionTarget]="datepickerContainer" container="body" [firstDayOfWeek]="7" #clearanceDate="ngbDatepicker" [minDate]="{year: 1900, month: 1, day: 1}" required showValidation>
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="oi oi-calendar" (click)="clearanceDate.toggle()" title="Open Calendar" aria-hidden="true" style="cursor: pointer"></span>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-template>
                        </ngx-datatable-column>
                    </ng-container>

                    <ngx-datatable-column name="DOP/WSD" [resizeable]="false" [canAutoResize]="true" [width]="67" [minWidth]="67" [maxWidth]="76">
                        <ng-template ngx-datatable-header-template let-column="column" let-sort="sortFn">
                            <span class="datatable-header-cell-wrapper">
                                <span class="datatable-header-cell-label" (click)="sort()">
                                    DOP/WSD<br><small>YYYY-MM-DD</small>
                                </span>
                            </span>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>{{crmEnrolment(row.enrolmentNumber).dopWsd | dateFormat}}</ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="RA Home Category" [resizeable]="false" [canAutoResize]="true" [width]="62" [minWidth]="62" [maxWidth]="112">
                        <ng-template let-row="row" ngx-datatable-cell-template>{{crmEnrolment(row.enrolmentNumber).raHomeCategory}}</ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Open Cases" [resizeable]="false" [canAutoResize]="true" [width]="45" [minWidth]="45" [maxWidth]="74">
                        <ng-template let-row="row" ngx-datatable-cell-template>{{(crmEnrolment(row.enrolmentNumber).openCases == null) ? '': (crmEnrolment(row.enrolmentNumber).openCases) ? 'Yes':'No'}}</ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Address" prop="address" [resizeable]="false" [canAutoResize]="true" [minWidth]="fieldMinSize">
                        <ng-template let-row="row" ngx-datatable-cell-template>{{crmEnrolment(row.enrolmentNumber).address}}</ng-template>
                    </ngx-datatable-column>
                </ng-container>

                <ng-container *ngIf="selected == 'FH' || (selected == 'ALL' && totalFH > 0)">
                    <ngx-datatable-column name="Inventory Home" [resizeable]="false" [canAutoResize]="true" [width]="60" [minWidth]="60" [maxWidth]="95">
                        <ng-template let-row="row" ngx-datatable-cell-template>{{(crmEnrolment(row.enrolmentNumber).inventoryItem == null) ? '': (crmEnrolment(row.enrolmentNumber).inventoryItem) ? 'Yes':'No'}}</ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Inventory Amount" prop="inventoryAmount" [resizeable]="false" [canAutoResize]="true" [width]="104" [minWidth]="88" [maxWidth]="104">
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            <ng-container [formGroupName]="rowIndex" *ngIf="row.enrolmentNumber != null">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input class="form-control form-control-sm" formControlName="inventoryAmount" type="text" currencyFormatter required showValidation />
                                </div>
                            </ng-container>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Excess Deposit" prop="excessDeposit" [resizeable]="false" [canAutoResize]="true" [width]="55" [minWidth]="55" [maxWidth]="90">
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            <ng-container [formGroupName]="rowIndex" *ngIf="row.enrolmentNumber != null">
                                <select class="form-control form-control-sm" formControlName="excessDeposit" required showValidation>
                                    <option [ngValue]="false">No</option>
                                    <option [ngValue]="true">Yes</option>
                                </select>
                            </ng-container>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="2 Yrs from DOP" prop="twoYearsAfter" [resizeable]="false" [canAutoResize]="true" [minWidth]="fieldMinSize">
                        <ng-template let-row="row" ngx-datatable-cell-template>{{(crmEnrolment(row.enrolmentNumber).twoYearsAfter == null) ? '': (crmEnrolment(row.enrolmentNumber).twoYearsAfter) ? 'Yes':'No'}}</ng-template>
                    </ngx-datatable-column>
                </ng-container>

                <ng-container *ngIf="selected == 'CE' || (selected == 'ALL' && (totalCE > 0 || totalUNIT > 0))">
                    <ngx-datatable-column name="Condo Corp / Homeowner Name" [resizeable]="false" [canAutoResize]="true" [minWidth]="136" [maxWidth]="164">
                        <ng-template let-row="row" ngx-datatable-cell-template>{{crmEnrolment(row.enrolmentNumber).condoCorpHomeOwnerName}}</ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="T&T Received %" [resizeable]="false" [canAutoResize]="true" [width]="54" [minWidth]="54" [maxWidth]="95">
                        <ng-template let-row="row" ngx-datatable-cell-template>{{crmEnrolment(row.enrolmentNumber).tntReceivedPercentage}}</ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="LU Reviewed D&D" [resizeable]="false" [canAutoResize]="true" [width]="56" [minWidth]="56" [maxWidth]="100">
                        <ng-template let-row="row" ngx-datatable-cell-template>{{(crmEnrolment(row.enrolmentNumber).luReviewedDnd == null) ? '': (crmEnrolment(row.enrolmentNumber).luReviewedDnd) ? 'Yes':'No'}}</ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Final B19 Accepted" [resizeable]="false" [canAutoResize]="true" [width]="57" [minWidth]="57" [maxWidth]="110">
                        <ng-template let-row="row" ngx-datatable-cell-template>{{(crmEnrolment(row.enrolmentNumber).finalB19Accepted == null) ? '': (crmEnrolment(row.enrolmentNumber).finalB19Accepted) ? 'Yes':'No'}}</ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Total # of CU Enrolled" [resizeable]="false" [canAutoResize]="true" [width]="47" [minWidth]="47" [maxWidth]="122">
                        <ng-template let-row="row" ngx-datatable-cell-template>{{crmEnrolment(row.enrolmentNumber).totalNumberOfCuEnrolled}}</ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="# of Units o/s CCP" [resizeable]="false" [canAutoResize]="true" [width]="37" [minWidth]="37" [maxWidth]="105">
                        <ng-template let-row="row" ngx-datatable-cell-template>{{crmEnrolment(row.enrolmentNumber).numberOfUnitsOsCcp}}</ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="2 Yrs After Condo Reg." [resizeable]="false" [canAutoResize]="true" [width]="38" [minWidth]="38" [maxWidth]="127">
                        <ng-template let-row="row" ngx-datatable-cell-template>{{(crmEnrolment(row.enrolmentNumber).twoYearsAfter == null) ? '': (crmEnrolment(row.enrolmentNumber).twoYearsAfter) ? 'Yes':'No'}}</ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="WS Input Requested" prop="wsInputRequested" [resizeable]="false" [canAutoResize]="true" [width]="60" [minWidth]="60" [maxWidth]="113">
                        <ng-template let-row="row" ngx-datatable-cell-template>{{row.wsInputRequested}}</ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="WS Input Received" prop="wsInputReceived" [resizeable]="false" [canAutoResize]="true" [width]="56" [minWidth]="56" [maxWidth]="106">
                        <ng-template let-row="row" ngx-datatable-cell-template>{{row.wsInputReceived | dateFormat}}</ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="FCM Amount Retained" [resizeable]="false" [canAutoResize]="true" [width]="56" [minWidth]="56" [maxWidth]="126">
                        <ng-template let-row="row" ngx-datatable-cell-template><ng-container *ngIf="row.fcmAmountRetained != null">${{row.fcmAmountRetained | vbsCurrency}}</ng-container></ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="WS FCR" [resizeable]="false" [canAutoResize]="true" [minWidth]="fieldMinSize">
                        <ng-template let-row="row" ngx-datatable-cell-template>{{crmEnrolment(row.enrolmentNumber).wsFcr}}</ng-template>
                    </ngx-datatable-column>
                </ng-container>

                <ngx-datatable-column name="" [resizeable]="false" [canAutoResize]="true" [width]="48" [minWidth]="48" [maxWidth]="56">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <button (click)="openSearch()" type="button" [disabled]="!canAdd" class="btn btn-secondary form-control">
                            <span class="oi oi-plus"></span>
                        </button>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="" [resizeable]="false" [canAutoResize]="true" [width]="48" [minWidth]="48" [maxWidth]="56">
                    <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <button (click)="delete(rowIndex)" type="button" class="btn btn-secondary form-control" [disabled]="!row.canDelete || !this.session.getUser().hasPermission('CREATE_SECURITY')">
                            <span class="oi oi-trash"></span>
                        </button>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-footer>
                    <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                                 let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                        <div class="page-count">
                            <ng-container *ngIf="(totalCE+totalFH > 0);else zeroTotal">
                                {{rowCount}} total
                            </ng-container>
                            <ng-template #zeroTotal>
                                0 total
                            </ng-template>
                        </div>
                    </ng-template>
                </ngx-datatable-footer>
            </ngx-datatable>
        </div>
    </div>
</ng-container>
