.btns .btn {
	margin-right: 0.5em;
	margin-bottom: 0.5em;
}

a.hover {
    color: #8ab1e4;
	text-decoration: none;
}

a.hover:hover {
    text-decoration: underline;
}

.icons {
	margin-left: 0.5em;
}

.enrollment-status {
	font-weight: bold;
}

.enrollment-status.cancelled {
	color: red;
}