<div class="row">
    <div class="col-md-12 section-color font-weight-bold">
        Pending Releases
        <hr/>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            <label for="" class="col-md-2 col-form-label font-weight-bold">Release Types</label>
            <div class="col-md-2" *ngFor='let releaseType of availableReleaseTypes; let i=index'>
                <label><input type="checkbox" [checked]="isCheckedReleaseType(releaseType.id)" (change)="onSelectReleaseType(releaseType.id, $event.target.checked)"> {{releaseType.description}}</label>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-2">
        <button type="button" class="btn btn-primary" (click)="reload()" [disabled]="loading || sending">
            {{loading ? 'Loading' : 'Reload'}} 
        </button>
    </div>
    <div class="col-2">
        <button type="button" class="btn btn-primary" (click)="sendToFMS()" [disabled]="loading || sending || !pendingReleases || pendingReleases.length == 0">
            {{sending ? 'Sending' : 'Send releases to FMS'}}
        </button>
    </div>
    <div class="col-2">
            <button type="button" class="btn btn-primary" (click)="downloadToExcel()">
                {{downloading ? 'Downloading' : 'Download'}}
            </button>
        </div>
</div>
<div *ngIf="sent" class="row">
    <div class="col-12">The releases below have been sent to FMS</div>
</div>
<div *ngIf="errors" class="row">
    <div class="col-12">
        <div class="alert alert-danger validation fms-validation">
            <span *ngFor="let error of errors">
                {{error.errorMessage}}
            </span>
        </div>
    </div>
</div>
<div *ngIf="!loading" class="results">
    <div class="row" *ngIf="pendingReleases;else noresults">
        <div class="col-12">
            <ngx-datatable class="bootstrap table-bordered table-hover table-striped pending-release-content"
            [rows]="pendingReleases"
            [limit]="50"
            [columnMode]="'force'"
            [headerHeight]="'auto'"
            [footerHeight]="'auto'"
            [rowHeight]="'auto'" 
            [scrollbarH]="true"
            (page)="onPage()" #datatable>
                <ngx-datatable-column name="" [minWidth]="35" [maxWidth]="35" *ngIf="!sent">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <input type="checkbox" id="selectPrendingRelease" class="" [(ngModel)]="row.selected">
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="VB" [minWidth]="150" [maxWidth]="150" prop="vbNumber">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.vbNumber}} - {{row.vbName}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Instrument Number" [minWidth]="80" [width]="80" [maxWidth]="80" prop="instrumentNumber">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.instrumentNumber}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Security Type" [minWidth]="70" [width]="70" [maxWidth]="70" prop="securityTypeName">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.securityTypeName}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Release Type" [minWidth]="70" [width]="70" [maxWidth]="70" prop="releaseTypeName" >
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.releaseTypeName}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Reference Number" [minWidth]="80" [width]="80" [maxWidth]="80">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <a [routerLink]="['/security']" [queryParams]="{id: row.securityId, tab: 'tab-release', referenceNumber: row.referenceNumber}" target="_blank" >{{row.referenceNumber}}</a>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Payee" [minWidth]="80" [width]="80" [maxWidth]="170" prop="payeeName">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.payeeName}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Rcvd Before Nov 2004" [minWidth]="80" [width]="80" [maxWidth]="80" prop="receivedPriorNov2004">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.receivedPriorNov2004 ? 'Yes' : 'No'}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Original Amount" [minWidth]="100" [width]="100" [maxWidth]="100" prop="originalAmount">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        ${{row.originalAmount | vbsCurrency}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Current Amount" [minWidth]="100" [width]="100" [maxWidth]="100" prop="currentAmount">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                       ${{row.currentAmount | vbsCurrency}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Current Interest Amount" [minWidth]="90" [width]="90" [maxWidth]="90" prop="currentInterestAmount">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.currentInterestAmount != null ? '$' : ''}}{{row.currentInterestAmount | vbsCurrency}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Current Amount (incl interest)" [minWidth]="110" [width]="110" [maxWidth]="110" prop="interestCurrentAmountTotal">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        ${{row.interestCurrentAmountTotal | vbsCurrency}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Released Amount" [minWidth]="100" [width]="100" [maxWidth]="100" prop="authorizedAmount">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.authorizedAmount != null ? '$' : ''}}{{row.authorizedAmount | vbsCurrency}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Released Interest Amount" [minWidth]="100" [width]="100" [maxWidth]="100" prop="interestAmount">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.interestAmount != null ? '$' : ''}}{{row.interestAmount | vbsCurrency}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Released Amount (incl interest)" [minWidth]="120" [width]="120" [maxWidth]="120" prop="interestAuthorizedAmountTotal">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        ${{row.interestAuthorizedAmountTotal | vbsCurrency}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Release Percentage" [minWidth]="80" [width]="80" [maxWidth]="80" prop="releasePercentage">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.releasePercentage | number:'1.2-2'}}%
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Manager Approval Date" [minWidth]="80" [width]="80" [maxWidth]="170" prop="managerApprovalDate">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.managerApprovalDate | dateFormat}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Approval Manager" [minWidth]="80" [width]="80" [maxWidth]="170" prop="approvalManager">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.approvalManager}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Comment" [minWidth]="80" [width]="150" [maxWidth]="150" prop="comment">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.comment}}
                    </ng-template>
				</ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>

<ng-template #noresults><p>No results found.</p></ng-template>
