<div class="modal-header">
    <h4 class="modal-title">Escrow Agent Search</h4>
    <button (click)="d()" aria-label="Close" class="close" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form (submit)="search()" [formGroup]="form">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-md-4 col-form-label font-weight-bold" for="contactId">Contact Id</label>
                    <div class="input-group col-md-8" ngbDropdown>
                        <div class="input-group-prepend">
                            <button class="btn input-group-text dropdown-toggle" id="codeTypeDD" ngbDropdownToggle type="button">{{textForSearchType(form.controls['contactIdSearchType'].value)}}</button>
                            <div aria-labelledby="codeTypeDD" ngbDropdownMenu>
                                <button (click)="form.controls['contactIdSearchType'].patchValue('BEGIN_WITH')" class="dropdown-item" type="button">Begins With</button>
                                <button (click)="form.controls['contactIdSearchType'].patchValue('CONTAINS')" class="dropdown-item" type="button">Contains</button>
                                <button (click)="form.controls['contactIdSearchType'].patchValue('EQUALS')" class="dropdown-item" type="button">=</button>
                                <button (click)="form.controls['contactIdSearchType'].patchValue('NOT_EQUAL')" class="dropdown-item" type="button">!=</button>
                                <button (click)="form.controls['contactIdSearchType'].patchValue('BETWEEN')" class="dropdown-item" type="button">Between</button>
                                <button (click)="form.controls['contactIdSearchType'].patchValue('LESS_THAN')" class="dropdown-item" type="button">&lt;</button>
                                <button (click)="form.controls['contactIdSearchType'].patchValue('GREATER_THAN')" class="dropdown-item" type="button">&gt;</button>
                                <button (click)="form.controls['contactIdSearchType'].patchValue('IN')" class="dropdown-item" type="button">In</button>
                            </div>
                        </div>
                        <input class="form-control" id="contactId" formControlName="contactId" placeholder="{{(form.controls['contactIdSearchType'].value != null && form.controls['contactIdSearchType'].value == 'IN') ? '1,2,3' : '' }}" type="text"/>
                        <div *ngIf="form.controls['contactIdSearchType'].value == 'BETWEEN'" class="input-group-append">
                            <span class="input-group-text"> and </span>
                        </div>
                        <input *ngIf="form.controls['contactIdSearchType'].value == 'BETWEEN'" class="form-control" formControlName="contactIdTo" type="text"/>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-md-4 col-form-label font-weight-bold" for="escrowAgentName">Escrow Agent</label>
                    <div class="input-group col-md-8" ngbDropdown>
                        <div class="input-group-prepend">
                            <button class="btn input-group-text dropdown-toggle" id="nameTypeDD" ngbDropdownToggle type="button">{{textForSearchType(form.controls['escrowAgentNameSearchType'].value)}}</button>
                            <div aria-labelledby="nameTypeDD" ngbDropdownMenu>
                                <button (click)="form.controls['escrowAgentNameSearchType'].patchValue('BEGIN_WITH')" class="dropdown-item" type="button">Begins With</button>
                                <button (click)="form.controls['escrowAgentNameSearchType'].patchValue('EQUALS')" class="dropdown-item" type="button">=</button>
                                <button (click)="form.controls['escrowAgentNameSearchType'].patchValue('CONTAINS')" class="dropdown-item" type="button">Contains</button>
                            </div>
                        </div>
                        <input class="form-control" id="escrowAgentName" formControlName="escrowAgentName" type="text"/>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-md-4 col-form-label font-weight-bold" for="escrowAgentLicensStatusId">Escrow Agent Licence Status</label>
                    <div class="input-group col-md-8" ngbDropdown>
                        <div class="input-group-prepend">
                            <button class="btn input-group-text dropdown-toggle" id="licenceStatusDD" ngbDropdownToggle type="button">{{textForSearchType(form.controls['escrowAgentLicensStatusSearchType'].value)}}</button>
                            <div aria-labelledby="licenceStatusDD" ngbDropdownMenu>
                                <button (click)="form.controls['escrowAgentLicensStatusSearchType'].patchValue('EQUALS')" class="dropdown-item" type="button">=</button>
                                <button (click)="form.controls['escrowAgentLicensStatusSearchType'].patchValue('NOT_EQUAL')" class="dropdown-item" type="button">!=</button>
                            </div>
                        </div>
                        <select class="form-control" id="escrowAgentLicensStatusId" formControlName="escrowAgentLicensStatusId">
                            <option [ngValue]="null"></option>
                            <option [ngValue]="9">Active</option>
                            <option [ngValue]="10">Inactive</option>
                            <option [ngValue]="11">Rescind</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-md-4 col-form-label font-weight-bold" for="licensApplicationStatusId">Licence Application Status</label>
                    <div class="input-group col-md-8" ngbDropdown>
                        <div class="input-group-prepend">
                            <button class="btn input-group-text dropdown-toggle" id="applicationStatusDD" ngbDropdownToggle type="button">{{textForSearchType(form.controls['licensApplicationStatusSearchType'].value)}}</button>
                            <div aria-labelledby="applicationStatusDD" ngbDropdownMenu>
                                <button (click)="form.controls['licensApplicationStatusSearchType'].patchValue('EQUALS')" class="dropdown-item" type="button">=</button>
                                <button (click)="form.controls['licensApplicationStatusSearchType'].patchValue('NOT_EQUAL')" class="dropdown-item" type="button">!=</button>
                            </div>
                        </div>
                        <select class="form-control" id="licensApplicationStatusId" formControlName="licensApplicationStatusId">
                            <option [ngValue]="null"></option>
                            <option [ngValue]="1">Approved</option>
                            <option [ngValue]="2">Expired</option>
                            <option [ngValue]="3">New</option>
                            <option [ngValue]="4">Pending</option>
                            <option [ngValue]="5">Warning</option>
                            <option [ngValue]="6">Only For PEF</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <button [disabled]="!form.valid || searching" class="btn btn-primary" type="submit">{{searching ? 'Searching...' : 'Search'}}</button>
            </div>
            <div class="col-md-2">
                <button (click)="clear()" class="btn btn-secondary" type="button">Clear</button>
            </div>
        </div>
    </form>
    <div *ngIf="searched" class="results">
        <hr/>
        <div *ngIf="results.escrowAgents.length > 0;else noResults" class="row">
            <div class="col-12">
                <h4>Search Results</h4>
                <ngx-datatable
                    [columnMode]="'flex'"
                    [footerHeight]="'auto'"
                    [headerHeight]="'auto'"
                    [limit]="25"
                    [rowHeight]="'auto'"
                    [rows]="results.escrowAgents"
                    class="bootstrap table-bordered table-hover table-striped">

                    <ngx-datatable-column [flexGrow]="1" name="Escrow Agent Id" prop="crmContactId">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <a (click)="$event.preventDefault();select(row)" class="{{eaClass(row)}}" href="#">{{row.crmContactId}}</a>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [flexGrow]="3" name="Escrow Agent Name" prop="escrowAgent">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <a (click)="$event.preventDefault();select(row)" class="{{eaClass(row)}}" href="#">{{row.escrowAgent}}</a>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [draggable]="false" [flexGrow]="3" name="Flags" prop="flags">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <span *ngIf="row.escrowAgent != null && row.alert == '1'" class="oi oi-flag red" data-placement="top" data-toggle="tooltip" title="Red Flag"></span>
                            <span *ngIf="row.escrowAgent != null && row.alert == '2'" class="oi oi-flag orange" data-placement="top" data-toggle="tooltip" title="Orange Flag"></span>
                            <span *ngIf="row.escrowAgent != null && row.alert == '3'" class="oi oi-flag yellow" data-placement="top" data-toggle="tooltip" title="Yellow Flag"></span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [flexGrow]="1" name="Licence Status" prop="escrowAgentLicenceStatus">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <a (click)="$event.preventDefault();select(row)" class="{{eaClass(row)}}" href="#">{{row.escrowAgentLicenceStatus}}</a>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [flexGrow]="2" name="Licence Application Status" prop="licenceApplicationStatus">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <a (click)="$event.preventDefault();select(row)" class="{{eaClass(row)}}" href="#">{{row.licenceApplicationStatus}}</a>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
        <ng-template #noResults><p>No results found.</p></ng-template>
    </div>
</div>

<div class="modal-footer">
    <button (click)="c()" class="btn btn-primary" type="button">Close</button>
</div>
