<form [formGroup]="form" novalidate (ngSubmit)="addVb()">
    <div class="modal-header">
        <h4 class="modal-title">Search V/B</h4>
        <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <label for="vbNumber">V/B Number</label>
        <input id="vbNumber" type="text" class="form-control vbNumber" formControlName="vbNumber" [ngbTypeahead]="typeahead"
               [inputFormatter]="companyContactFormatter" [resultTemplate]="rtContact" required showValidation>

        <div *ngIf="showProgress" class="progress">
            <br/>
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addVb()" [disabled]="disableAddButton">Select V/B</button>
        <button type="button" class="btn btn-secondary" (click)="d()">Close</button>
    </div>
</form>

<ng-template #rtContact let-r="result" let-t="term">
    {{r.crmContactId}} - {{r.companyName}}
</ng-template>
