<div class="row" *ngIf="form == null">
    <div class="col-12">
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%">
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="form != null">
    <div class="col-12">
        <form [formGroup]="form" novalidate>
            <div class="highlight">
                <div class="row">
                    <div class="col-3 form-control-plaintext">
                        <button type="button" [routerLink]="['/searchSecurity']" [queryParams]="{reset: false}" class="btn btn-secondary" [disabled]="saving">Return to Search</button>
                        &nbsp;
                        <button *ngIf="showSaveButton()" type="button" class="btn btn-primary" (click)="validate()" [disabled]="saving">
                            {{saving ? 'Saving' : 'Save'}}
                        </button>
                    </div>
                    <div class="col-2 form-control-plaintext font-weight-bold">
                        <a href="{{session.getProperty('financialHistoryUrl', form.get('id').value)}}" target="_blank">
                            <span data-toggle="tooltip" data-placement="top" title="Transactions History"></span>
                            <span class="d-none d-md-none d-lg-inline">Transactions History</span>
                        </a>
                    </div>
                    <div class="col-2 form-control-plaintext font-weight-bold">
                        <a href="{{session.getProperty('financialTransactionUrl', primaryVbNumber, encodeURI(form.get('instrumentNumber').value), isSecurityType(1) ? 'FIT' : 'DTA')}}" target="_blank">
                            <span class="oi oi-dollar" data-toggle="tooltip" data-placement="top" title="Financial Transactions"></span>
                            <span class="d-none d-md-none d-lg-inline">Financial Transactions</span>
                        </a>
                    </div>
                    <div class="col-2 form-control-plaintext font-weight-bold">
                        <a href="{{session.getProperty('contentNavigatorUrl', form.get('id').value)}}" target="_blank">
                            <span class="oi oi-folder" data-toggle="tooltip" data-placement="top" title="Content Manager"></span>
                            <span class="d-none d-md-none d-lg-inline">Content Navigator</span>
                        </a>
					</div>
					<div class="col-1 form-control-plaintext font-weight-bold">
                        <a href="{{session.getProperty('iaActivitiesUrl', form.get('id').value)}}" target="_blank">
                            <span class="oi oi-flash" data-toggle="tooltip" data-placement="top" title="Activities"></span>
                            <span class="d-none d-md-none d-lg-inline">Activities</span>
                        </a>
                    </div>
                    <div class="col-1 form-control-plaintext font-weight-bold">
                        <span *ngIf="form.get('unpostReason').value == 'NSF' || form.get('unpostReason').value == 'Non-Sufficient Funds'" [ngbTooltip]="fullUnpostReason">NSF&nbsp;</span>
                        <span *ngIf="form.get('writeOff').value != null && form.get('writeOff').value != ''" [ngbTooltip]="fullWriteOffReason">WO</span>
                    </div>
                    <div class="col-1 form-control-plaintext font-weight-bold" >
                        <div class="rightFloatDiv">
                            <ul class="list-inline">
                                <li *ngIf="hasAlertType(1)" class="oi oi-flag red">&nbsp;&nbsp;</li>
                                <li *ngIf="hasAlertType(2)" class="oi oi-flag orange">&nbsp;&nbsp;</li>
                                <li *ngIf="hasAlertType(3)" class="oi oi-flag yellow">&nbsp;&nbsp;</li>
                                <li *ngIf="hasAlertType(4)" class="t-icon t-icon-sticky-note" >&nbsp;&nbsp;</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 offset-3 form-control-plaintext font-weight-bold">
                        <a href="{{session.getProperty('refundsUrl', primaryVbNumber)}}" target="_blank">
                            <span data-toggle="tooltip" data-placement="top" title="Cash Security Refunds"></span>
                            <span class="d-none d-md-none d-lg-inline">Cash Security Refunds</span>
                        </a>
                    </div>
                    <div class="col-1 offset-5 form-control-plaintext" >
                        <span class="red" data-toggle="tooltip" data-placement="top" title="Interest Period start date is earlier than 2004-11-01"
                          *ngIf="hasPermission('FINANCE_PERMISSION') && form.get('interestPeriodStartWarning').value != null && form.get('interestPeriodStartWarning').value">Conv04</span>
                    </div>
                    <div class="col-1 form-control-plaintext">
                        <span *ngIf="form.get('deleted').value == true" class="red" data-toggle="tooltip" data-placement="top" title="Security is deleted">Deleted</span>
                    </div>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="row">
                    <div class="col-2 offset-1 form-control-plaintext font-weight-bold">
                        <label>Security Number</label>
                    </div>
                    <div class="col-2 form-control-plaintext">
                        {{form.get('id').value}}
                    </div>
                    <div class="col-2 offset-1 form-control-plaintext font-weight-bold">
                        <label for="securityTypeId">Security Type</label>
                    </div>
                    <div class="col-2">
                        <select class="form-control" id="securityTypeId" formControlName="securityTypeId">
                            <option *ngFor="let type of securityTypes" [value]="type.id">{{type.description}}</option>
                        </select>
                    </div>
                    <div class="col-2 offset-1 form-control-plaintext font-weight-bold">
                        <label>Instrument #</label>
                    </div>
                    <div class="col-2 form-control-plaintext">
                        {{form.get('instrumentNumber').value}}
                    </div>
                    <div class="col-2 offset-1 form-control-plaintext font-weight-bold">
                        <label for="securityPurposeId">Security Purpose</label>
                    </div>
                    <div class="col-2">
                        <select class="form-control" id="securityPurposeId" formControlName="securityPurposeId">
                            <option *ngFor="let purpose of securityPurposes" [value]="purpose.id" >{{purpose.description}}</option>
                        </select>
                    </div>
                    <div class="col-2 offset-1 form-control-plaintext font-weight-bold">
                        <label>Original Amount</label>
                    </div>
                    <div class="col-2 form-control-plaintext">
                        <!-- //TODO create currency display directive -->
                        <span *ngIf="form.get('originalAmount').value != null">$ {{form.get('originalAmount').value | vbsCurrency}}</span>
                    </div>
                    <div class="col-2 offset-1 form-control-plaintext font-weight-bold">
                        <label>{{isSecurityType(1) ? 'Current cash on-hand' : 'Current Amount'}}</label>
                    </div>
                    <div class="col-2 form-control-plaintext">
                        <span *ngIf="form.get('currentAmount').value != null">$ {{form.get('currentAmount').value | vbsCurrency}}</span>
                    </div>
                </div>
                <div class="row" *ngIf="isSecurityType(1)">
                    <div class="col-2 offset-1 form-control-plaintext font-weight-bold">
                        <label>Current interest on-hand</label>
                    </div>
                    <div class="col-2">
                        <span *ngIf="form.get('currentInterest').value != null">$ {{form.get('currentInterest').value | vbsCurrency}}</span>
                    </div>
                    <div class="col-2 offset-1 form-control-plaintext font-weight-bold">
                        <label>Current Amount + Interest</label>
                    </div>
                    <div class="col-2 form-control-plaintext">
                        <span *ngIf="form.get('currentAmount').value != null && form.get('currentInterest').value != null">
                            $ {{(form.get('currentAmount').value + form.get('currentInterest').value) | vbsCurrency}}
                        </span>
                    </div>
                </div>
                <div class="row" *ngIf="isSecurityType(1)">
                    <div class="col-2 offset-1 form-control-plaintext font-weight-bold">
                        <label>Cash Interest</label>
                    </div>
                    <div class="col-2">
                        <span *ngIf="form.get('availableInterest').value != null">$ {{form.get('availableInterest').value | vbsCurrency}}</span>
                    </div>
                    <div class="col-2 offset-1 form-control-plaintext font-weight-bold">
                        <label>Current Amount</label>
                    </div>
                    <div class="col-2 form-control-plaintext">
                        <span *ngIf="form.get('availableAmount').value != null">$ {{(form.get('availableAmount').value) | vbsCurrency}}</span>
                    </div>
                </div>
                <div class="row" *ngIf="hasPermission('FINANCE_PERMISSION')">
                    <div class="col-2 offset-1 form-control-plaintext font-weight-bold">
                        <label>Status</label>
                    </div>
                    <div class="col-2">
                        {{getSecurityStatus()}}
                    </div>
                </div>
            </div>
        </form>
    </div>


    <div class="col-12">
        <ngb-tabset #tabs [destroyOnHide]="false" justify="fill" (tabChange)="onTabChange($event)">
            <ngb-tab id="tab-security">
                <ng-template ngbTabTitle>
                    <span class="title" *ngIf="tabErrors['tab-security'] == undefined || tabErrors['tab-security'] == 0; else securityErrors">{{isSecurityType(5) ? 'PEF Details' : 'Security' }}</span>
                    <ng-template #securityErrors>
                        <span class="error">
                            {{isSecurityType(5) ? 'PEF Details' : 'Security' }} ({{tabErrors['tab-security']}})
                        </span>
                    </ng-template>
                </ng-template>
                <ng-template ngbTabContent>
                    <app-security [form]="form" [activeTab]="currentTab"></app-security>
                </ng-template>
            </ngb-tab>
            <ngb-tab id="tab-homes-covered" [disabled]="!securityHasId">
                <ng-template ngbTabTitle>
                    <span class="title" *ngIf="tabErrors['tab-homes-covered'] == undefined || tabErrors['tab-homes-covered'] == 0; else homesErrors">{{isSecurityType(5) ? 'PEF Tracking' : 'Homes Covered' }}</span>
                    <ng-template #homesErrors>
				<span class="error">
					{{isSecurityType(5) ? 'PEF Tracking' : 'Homes Covered' }} ({{tabErrors['tab-homes-covered']}})
				</span>
                    </ng-template>
                </ng-template>
                <ng-template ngbTabContent>
                    <app-homes-covered [form]="form" [tabChange]="currentTab"></app-homes-covered>
                </ng-template>
            </ngb-tab>
            <ngb-tab id="tab-release" [disabled]="!securityHasId"> <!-- //TODO re-add once migration issues with allocated become less prevalent.  || (isSecurityType(1) && !form.get('allocated').value) -->
                <ng-template ngbTabTitle>
                    <span class="title" *ngIf="tabErrors['tab-release'] == undefined || tabErrors['tab-release'] == 0; else releaseErrors">Release</span>
                    <ng-template #releaseErrors>
				<span class="error">
					Release ({{tabErrors['tab-release']}})
				</span>
                    </ng-template>
                </ng-template>
                <ng-template ngbTabContent>
                    <app-release [securityId]="form.get('id').value" [currentAmount]="form.get('currentAmount').value"
                                 [poolId]="form.get('poolId').value" [securityTypeId]="form.get('securityTypeId').value"
                                 [canDeactivate]="canDeactivate" [validateSaveResult]="validateSaveResult"
                                 [securityStatusId]="form.get('securityStatusId').value" [availableAmount]="form.get('availableAmount').value"
                                 [notAllowRelease]="!securityHasId || (isSecurityType(1) && !form.get('allocated').value)"
                                 [homesCoveredEnrolments]="form.get('enrolments').value" [securityPurposeId]="form.get('securityPurposeId').value"
                                 [tabChange]="currentTab" (triggerReload)="triggerReload()" (triggerSave)="triggerSave()">
                    </app-release>
                </ng-template>
            </ngb-tab>
            <ngb-tab id="tab-alerts" [disabled]="!securityHasId">
                <ng-template ngbTabTitle>
                    <span class="title" *ngIf="tabErrors['tab-alerts'] == undefined || tabErrors['tab-alerts'] == 0; else alertsErrors">Alerts/Notes</span>
                    <ng-template #alertsErrors>
				<span class="error">
					Alerts/Notes ({{tabErrors['tab-alerts']}})
				</span>
                    </ng-template>
                </ng-template>
                <ng-template ngbTabContent>
                    <app-alert [form]="form" (alertOpen)="alertOpen = $event"></app-alert>
                </ng-template>
            </ngb-tab>
            <ngb-tab *ngIf="hasPermission('FINANCE_PERMISSION') && isSecurityType(1)" id="tab-interest" [disabled]="!securityHasId">
                <ng-template ngbTabTitle>
                    <span class="title">Estimated Interest</span>
                </ng-template>
                <ng-template ngbTabContent>
                    <app-estimated-interest-accruals [securityId]="form.get('id').value" [receivedDate]="form.get('receivedDate').value"></app-estimated-interest-accruals>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>

    <ng-container *ngIf="showSaveButton()">
        <div class="col-12 buttons">
            <br/>
            <button type="button" [routerLink]="['/searchSecurity']" [queryParams]="{reset: false}" class="btn btn-secondary" [disabled]="saving">Return to Search</button>
            <button type="button" class="btn btn-primary" (click)="validate()" [disabled]="saving">{{saving ? 'Saving' : 'Save'}}</button>
            <button type="button" *ngIf="hasPermission('DELETE_SECURITY_CANCEL_RELEASE') && ((!isSecurityType(1) && !isSecurityType(3)) || form.get('writeOff').value)" class="btn btn-danger" (click)="validateDeleteSecurity()" style="float:right;">Delete</button>
        </div>
    </ng-container>
</div>



<ng-template #fullUnpostReason>
    <div class="pre-line">{{form.get('unpostReason').value}}</div>
</ng-template>

<ng-template #fullWriteOffReason><div class="pre-line">{{form.get('writeOffReason').value}}</div></ng-template>

<ng-template #securityTypeModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Security Type</h4>
        <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col">Are you sure you want to edit:
            </div>
        </div>
        <div class="row" *ngIf="!isSecurityType(originalSecurityTypeId)">
            <div class="col">
                Security Type from <strong>{{securityTypeDescription(originalSecurityTypeId)}}</strong> to <strong>{{securityTypeDescription(form.get('securityTypeId').value)}}</strong>?
            </div>
        </div>
        <div class="row" *ngIf="!isSecurityPurpose(originalSecurityPurposeId)">
            <div class="col">
                Security purpose from <strong>{{securityPurposeDescription(originalSecurityPurposeId)}}</strong> to <strong>{{securityPurposeDescription(form.get('securityPurposeId').value)}}</strong>?
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="c()">Yes</button>
        <button type="button" class="btn btn-secondary" (click)="d()">No</button>
    </div>
</ng-template>
