<div class="row">
	<div class="col-md-12">
		<form [formGroup]="form" #f="ngForm" (keydown)="formKeyDown($event)" novalidate>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group row">
						<label class="col-md-4 col-form-label font-weight-bold">Security Number</label>
            <div ngbDropdown class="input-group col-md-8">
              <div class="input-group-prepend">
                <button class="btn input-group-text dropdown-toggle" type="button" id="securityNumTypeDD" ngbDropdownToggle>{{textForSearchType(searchParams.securityNumberSearchType)}}</button>
                <div ngbDropdownMenu aria-labelledby="securityNumTypeDD">
                  <button class="dropdown-item" (click)="form.controls['securityNumberSearchType'].setValue('EQUALS')">=</button>
                  <button class="dropdown-item" (click)="form.controls['securityNumberSearchType'].setValue('LESS_THAN')">&lt;</button>
                  <button class="dropdown-item" (click)="form.controls['securityNumberSearchType'].setValue('GREATER_THAN')">&gt;</button>
                  <button class="dropdown-item" (click)="form.controls['securityNumberSearchType'].setValue('EQUALS_LESS_THAN')">&lt;=</button>
                  <button class="dropdown-item" (click)="form.controls['securityNumberSearchType'].setValue('EQUALS_GREATER_THAN')">&gt;=</button>
                  <button class="dropdown-item" (click)="form.controls['securityNumberSearchType'].setValue('IN')">In</button>
                  <button class="dropdown-item" (click)="form.controls['securityNumberSearchType'].setValue('BETWEEN')">Between</button>
                  <button class="dropdown-item" (click)="form.controls['securityNumberSearchType'].setValue('BEGIN_WITH')">Begins With</button>
                </div>
              </div>
              <input class="form-control" id="securityNumberInput" formControlName="securityNumber" type="text" showValidation
                  placeholder="{{(form.controls['securityNumberSearchType'].value != null && form.controls['securityNumberSearchType'].value == 'IN') ? '123,456,789' : '' }}" trim>
              <div class="input-group-append" *ngIf="form.controls['securityNumberSearchType'].value == 'BETWEEN'">
                <span class="input-group-text"> and </span>
              </div>
              <input class="form-control" formControlName="securityNumberTo" type="text" *ngIf="form.controls['securityNumberSearchType'].value == 'BETWEEN'" trim/>
            </div>
					</div>
				</div>
				<div class="col-md-6">
          <div class="form-group row">
            <label class="col-md-4 col-form-label font-weight-bold">Instrument Number</label>
            <div ngbDropdown class="input-group col-md-8">
              <div class="input-group-prepend">
                <button class="btn input-group-text dropdown-toggle" type="button" id="instrumentNumTypeDD" ngbDropdownToggle>{{textForSearchType(searchParams.instrumentNumberSearchType)}}</button>
                <div ngbDropdownMenu aria-labelledby="instrumentNumTypeDD">
                  <button class="dropdown-item" (click)="form.controls['instrumentNumberSearchType'].setValue('EQUALS')">=</button>
                  <button class="dropdown-item" (click)="form.controls['instrumentNumberSearchType'].setValue('LESS_THAN')">&lt;</button>
                  <button class="dropdown-item" (click)="form.controls['instrumentNumberSearchType'].setValue('GREATER_THAN')">&gt;</button>
                  <button class="dropdown-item" (click)="form.controls['instrumentNumberSearchType'].setValue('EQUALS_LESS_THAN')">&lt;=</button>
                  <button class="dropdown-item" (click)="form.controls['instrumentNumberSearchType'].setValue('EQUALS_GREATER_THAN')">&gt;=</button>
                  <button class="dropdown-item" (click)="form.controls['instrumentNumberSearchType'].setValue('CONTAINS')">Contains</button>
                  <button class="dropdown-item" (click)="form.controls['instrumentNumberSearchType'].setValue('IN')">In</button>
                  <button class="dropdown-item" (click)="form.controls['instrumentNumberSearchType'].setValue('BETWEEN')">Between</button>
                </div>
              </div>
              <input type="text" class="form-control" formControlName="instrumentNumber" [ngbTypeahead]="instrumentNumberTypeahead" [resultTemplate]="rti" [editable]="true"
                     placeholder="{{(form.controls['instrumentNumberSearchType'].value != null && form.controls['instrumentNumberSearchType'].value == 'IN') ? 'ABC 123,DEF-456' : '' }}"  trim="blur">
              <div class="input-group-append" *ngIf="form.controls['instrumentNumberSearchType'].value == 'BETWEEN'">
                <span class="input-group-text"> and </span>
              </div>
              <input class="form-control" formControlName="instrumentNumberTo" type="text" *ngIf="form.controls['instrumentNumberSearchType'].value == 'BETWEEN'" trim="blur"/>
            </div>
          </div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group row">
						<label class="col-md-4 col-form-label font-weight-bold">VB Number</label>
						<div ngbDropdown class="input-group col-md-8">
							<div class="input-group-prepend">
								<button class="btn input-group-text dropdown-toggle" type="button" id="vbNumTypeDD" ngbDropdownToggle>{{textForSearchType(searchParams.vbNumberType)}}</button>
								<div ngbDropdownMenu aria-labelledby="vbNumTypeDD">
									<button class="dropdown-item" (click)="form.controls['vbNumberType'].setValue('EQUALS')">=</button>
									<button class="dropdown-item" (click)="form.controls['vbNumberType'].setValue('LESS_THAN')">&lt;</button>
									<button class="dropdown-item" (click)="form.controls['vbNumberType'].setValue('GREATER_THAN')">&gt;</button>
                  <button class="dropdown-item" (click)="form.controls['vbNumberType'].setValue('EQUALS_LESS_THAN')">&lt;=</button>
                  <button class="dropdown-item" (click)="form.controls['vbNumberType'].setValue('EQUALS_GREATER_THAN')">&gt;=</button>
                  <button class="dropdown-item" (click)="form.controls['vbNumberType'].setValue('CONTAINS')">Contains</button>
								</div>
							</div>
							<input type="text" class="form-control" [inputFormatter]="contactFormatter" formControlName="vbNumber" [ngbTypeahead]="typeahead" [resultTemplate]="rtContact" trim>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group row">
						<label class="col-md-4 col-form-label font-weight-bold">Enrolment Number</label>
						<div class="col-md-8">
							<input class="form-control" formControlName="enrolmentNumber" type="text" showValidation trim="blur"/>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group row">
						<label class="col-md-4 col-form-label font-weight-bold">
							Financial Institution
							<span class="oi oi-magnifying-glass" title="Search" (click)="showSearchModal()"></span>
						</label>
						<div class="col-md-8">
							<input type="text" class="form-control" formControlName="financialInstitutionId" [inputFormatter]="financialInstitutionFormatter" [ngbTypeahead]="typeaheadFinancial" [resultTemplate]="rtf" trim="blur">
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group row">
						<label class="col-md-4 col-form-label font-weight-bold">Branch</label>
						<div class="col-md-8">
							<select class="form-control" formControlName="branchId">
								<option *ngFor="let branch of branches" [value]="branch.id" >{{branch.id + ' - '+ branch.addressConcat}}</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group row">
						<label class="col-md-4 col-form-label font-weight-bold">Financial Institution Type</label>
						<div class="col-md-8">
							<select class="form-control" formControlName="financialInstitutionTypeId">
								<option [ngValue]="null"></option>
								<option *ngFor="let financialInstitutionType of financialInstitutionTypes" [value]="financialInstitutionType.id">{{financialInstitutionType.name}}</option>
							</select>
						</div>
					</div>
				</div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label font-weight-bold">Escrow Agent
                            <span class="oi oi-magnifying-glass" title="Search" (click)="showEscrowSearchModal()"></span>
                        </label>
                        <div class="col-md-8">
                            <input #escrowAgent type="text" class="form-control" formControlName="escrowAgentContactId" [ngbTypeahead]="typeaheadEscrow" trim="blur"
                                   [inputFormatter]="contactFormatter" [resultTemplate]="rtContact" showValidation>
                        </div>
                    </div>
                </div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group row">
						<label class="col-md-4 col-form-label font-weight-bold">Pool Number</label>
						<div class="col-md-8">
							<input class="form-control" formControlName="poolId" type="number" min="1" showValidation trim="blur"/>
						</div>
					</div>
				</div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label font-weight-bold">Security Type</label>
                        <div class="col-md-8">
                            <select class="form-control" formControlName="securityTypeId">
                                <option value=""></option>
                                <option *ngFor="let type of types" [value]="type.id">{{type.description}}</option>
                            </select>
                        </div>
                    </div>
                </div>
			</div>
			<div class="row">

				<div class="col-md-6">
					<div class="form-group row">
						<label class="col-md-4 col-form-label font-weight-bold">Security Purpose</label>
						<div class="col-md-8">
							<select class="form-control" formControlName="securityPurposeId">
								<option value=""></option>
								<option *ngFor="let purpose of purposes" [value]="purpose.id" >{{purpose.description}}</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group row">
						<label class="col-md-4 col-form-label font-weight-bold">Received Date</label>
						<div ngbDropdown class="input-group col-md-8">
							<div class="input-group-prepend">
								<button class="btn input-group-text dropdown-toggle" type="button" id="receivedDateTypeDD" ngbDropdownToggle>{{textForSearchType(searchParams.receivedDateType)}}</button>
								<div ngbDropdownMenu aria-labelledby="receivedDateTypeDD">
									<button class="dropdown-item" (click)="form.controls['receivedDateType'].setValue('EQUALS')">=</button>
									<button class="dropdown-item" (click)="form.controls['receivedDateType'].setValue('BETWEEN')">Between</button>
									<button class="dropdown-item" (click)="form.controls['receivedDateType'].setValue('LESS_THAN')">&lt;</button>
									<button class="dropdown-item" (click)="form.controls['receivedDateType'].setValue('GREATER_THAN')">&gt;</button>
                                      <button class="dropdown-item" (click)="form.controls['receivedDateType'].setValue('EQUALS_LESS_THAN')">&lt;=</button>
                                      <button class="dropdown-item" (click)="form.controls['receivedDateType'].setValue('EQUALS_GREATER_THAN')">&gt;=</button>
								</div>
							</div>
							<input class="form-control" placeholder="yyyy-mm-dd" formControlName="receivedDate" (focus)="receivedDate.toggle()" ngbDatepicker [firstDayOfWeek]="7" #receivedDate="ngbDatepicker" [minDate]="{year: 1900, month: 1, day: 1}" weekStartsOn="4" showValidation>
							<div class="input-group-append">
								<div class="input-group-text">
									<span class="oi oi-calendar" (click)="receivedDate.toggle()" title="Open Calendar" aria-hidden="true" style="cursor: pointer"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group row" *ngIf="searchParams.receivedDateType == 'BETWEEN'">
						<label class="col-md-4 col-form-label font-weight-bold">and</label>
						<div class="col-md-8">
							<div class="input-group">
								<input class="form-control" placeholder="yyyy-mm-dd" [attr.data-label]="'Received Date'" formControlName="receivedDateBetweenTo" (focus)="receivedDateBetweenTo.toggle()" ngbDatepicker [firstDayOfWeek]="7" #receivedDateBetweenTo="ngbDatepicker" [minDate]="{year: 1900, month: 1, day: 1}" weekStartsOn="4" showValidation>
								<div class="input-group-append">
									<div class="input-group-text">
										<span class="oi oi-calendar" (click)="receivedDateBetweenTo.toggle()" title="Open Calendar" aria-hidden="true" style="cursor: pointer"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group row">
						<label class="col-md-4 col-form-label font-weight-bold">Current Amount</label>
						<div ngbDropdown class="input-group col-md-8">
							<div class="input-group-prepend">
								<button class="btn input-group-text dropdown-toggle" type="button" id="currentAmountTypeDD" ngbDropdownToggle>{{textForSearchType(searchParams.currentAmountType)}}</button>
								<div ngbDropdownMenu aria-labelledby="currentAmountTypeDD">
										<button class="dropdown-item" (click)="form.controls['currentAmountType'].setValue('EQUALS')">=</button>
										<button class="dropdown-item" (click)="form.controls['currentAmountType'].setValue('BETWEEN')">Between</button>
										<button class="dropdown-item" (click)="form.controls['currentAmountType'].setValue('LESS_THAN')">&lt;</button>
										<button class="dropdown-item" (click)="form.controls['currentAmountType'].setValue('GREATER_THAN')">&gt;</button>
                                        <button class="dropdown-item" (click)="form.controls['currentAmountType'].setValue('EQUALS_LESS_THAN')">&lt;=</button>
                                        <button class="dropdown-item" (click)="form.controls['currentAmountType'].setValue('EQUALS_GREATER_THAN')">&gt;=</button>
								</div>
							</div>
							<input class="form-control" formControlName="currentAmount" currencyFormatter type="text" showValidation #currentAmount/>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group row" *ngIf="searchParams.currentAmountType == 'BETWEEN'">
						<label class="col-md-4 col-form-label font-weight-bold">and</label>
						<div class="col-md-8">
							<input class="form-control" [attr.data-label]="'Current Amount'" formControlName="currentAmountTo" currencyFormatter type="text" showValidation/>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1">
					<button type="button" class="btn btn-primary" (click)="search()" [disabled]="form.invalid || searchingForm">
						{{searchingForm ? 'Searching' : 'Search'}}
					</button>
				</div>
				<div class="col-md-1">
					<button type="button" class="btn btn-secondary" (click)="clear()">Clear </button>
				</div>
				<div *ngIf="results != null && results.securities.length > 0" class="col-1 offset-9">
					<button  class="btn btn-secondary float-right" (click)="exportToExcel()" [disabled]="downloadingExcel">{{(downloadingExcel) ? 'Downloading...' : 'Download'}}</button>
				</div>
			</div>
		</form>
	</div>
</div>


<div *ngIf="searched ==true" class="results">

	<div class="row">
		<div class="col-md-5">
			<div class="form-group row" *ngIf="showPooling()">
				<label class="col-md-5 col-form-label" for="poolSecurityToBlanket">Pool Security to Blanket</label>
                <div class="form-control-plaintext custom-control custom-checkbox col-md-1">
					<input id="poolSecurityToBlanket" class="custom-checkbox" type="checkbox"
							[(ngModel)]="poolSecurityToBlanket">
                </div>
			</div>
		</div>
		<div class="col-md-6">
			<button type="button" class="btn btn-primary" (click)="completePool()" [disabled]="!selected.length>0">Complete Pool</button>
		</div>
	</div>


	<div class="row" *ngIf="results.securities;else noresults">
		<div class="col-12">
			{{results.queryString}}<br>
			<a href="#" (click)="$event.preventDefault();showInterest = !showInterest;datatable.recalculate()">{{(showInterest) ? 'Hide Principal/Interest Amounts' : 'View Principal/Interest Amounts'}}</a>
			<br><br>
		</div>
		<div class="col-2"><strong>Total Original Amount</strong></div>
		<div class="col-2">${{results.totals.totalOriginalAmount | vbsCurrency}}</div>
		<div class="col-2"><strong>Total Current Amount</strong></div>
		<div class="col-2">${{results.totals.totalCurrentAmount | vbsCurrency}}</div>
		<div class="col-2"><strong>Total Cash Amount (No Int)</strong></div>
		<div class="col-2">${{results.totals.totalCashAmount | vbsCurrency}}</div>

		<div class="col-2" *ngIf="showInterest"><strong>Total Current Interest Amount</strong></div>
		<div class="col-2" *ngIf="showInterest">${{results.totals.totalCurrentInterestAmount | vbsCurrency}}</div>
		<div class="col-2 offset-4" *ngIf="showInterest"><strong>Total Available Cash Amount (Inc Int)</strong></div>
		<div class="col-2" *ngIf="showInterest">${{results.totals.totalAvailableCashAmount | vbsCurrency}}</div>

        <ng-container *ngIf="searchParams.financialInstitutionId != null">
            <div class="col-2"><strong>Original Amount Excluding DTA/PEF</strong></div>
            <div class="col-2">${{results.totals.totalOriginalAmountExcludingDtaPef | vbsCurrency}}</div>
            <div class="col-2"><strong>Current Amount Excluding DTA/PEF</strong></div>
            <div class="col-2">${{results.totals.totalCurrentAmountExcludingDtaPef | vbsCurrency}}</div>
        </ng-container>

		<div class="col-12"><br></div>
		<div class="col-12">
			<ngx-datatable #datatable class="bootstrap table-bordered table-hover table-striped table-small-font"
			[rows]="results.securities"
			[limit]="100"
            [virtualization]="false"
            [reorderable]="false"
			[columnMode]="'force'"
			[headerHeight]="'auto'"
			[footerHeight]="'auto'"
			[rowHeight]="'auto'"
			[selectionType]="'checkbox'"
			[selectAllRowsOnPage]="true"
			[displayCheck]="displayCheck"
            [scrollbarH]="showScrollbar()"
			(select)="onSelect($event)"
			(page)="onPage()">
                <ngx-datatable-row-detail [rowHeight]="'auto'">
                    <ng-template let-row="row" ngx-datatable-row-detail-template>
                        <app-maa-details securityId="{{row.securityNumber}}" *ngIf="row.maaPoaId != null"></app-maa-details>
                    </ng-template>
                </ngx-datatable-row-detail>

                <ngx-datatable-column sortable="false" [headerCheckboxable]="true" [checkboxable]="true" *ngIf="poolSecurityToBlanket">
				</ngx-datatable-column>

				<ngx-datatable-column name="Security Number" [resizeable]="false" [maxWidth]="60">
					<ng-template let-row="row" ngx-datatable-cell-template>
						<a [routerLink]="['/security']" [queryParams]="{id: row.securityNumber}" >{{row.securityNumber}}</a>
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column name="Instrument Number" [resizeable]="false" [width]="80">
					<ng-template let-row="row" ngx-datatable-cell-template>
						<a [routerLink]="['/security']" [queryParams]="{id: row.securityNumber}" >{{row.instrumentNumber}}</a>
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column name="Received Date" [comparator]="compareDate" prop="receivedDate" [resizeable]="false" [maxWidth]="68">
					<ng-template let-row="row" ngx-datatable-cell-template>
						{{row.receivedDate | dateFormat }}
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column name="Pool Id" [resizeable]="false" [maxWidth]="50">
					<ng-template let-row="row" ngx-datatable-cell-template>
						{{row.poolId}}
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column name="JBA" [resizeable]="false" [maxWidth]="35">
					<ng-template let-row="row" ngx-datatable-cell-template>
						{{row.jba}}
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column name="Security Type" prop="securityTypeName" [resizeable]="false" [maxWidth]="86">
					<ng-template let-row="row" ngx-datatable-cell-template>
						{{row.securityTypeName}}
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column name="VB Number" [resizeable]="false" [maxWidth]="53">
					<ng-template let-row="row" ngx-datatable-cell-template>
						<a href="{{crmVbUrl}}B{{row.vbNumber}}" target="_blank" *ngIf="row.vbNumber != null">B{{row.vbNumber}}</a>
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column name="VB Name" [resizeable]="false" [canAutoResize]="true">
					<ng-template let-row="row" ngx-datatable-cell-template>
						<a href="{{crmVbUrl}}B{{row.vbNumber}}" target="_blank" *ngIf="row.vbNumber != null">{{row.vbName}}</a>
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column name="Multi Vb" [resizeable]="false" [maxWidth]="40">
					<ng-template let-row="row" ngx-datatable-cell-template>
						{{row.multiVb}}
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column name="Security Purpose" prop="securityPurposeName" [resizeable]="false" [maxWidth]="75">
					<ng-template let-row="row" ngx-datatable-cell-template>
						{{row.securityPurposeName}}
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column name="Identity Type" prop="identityTypeName" [resizeable]="false" [maxWidth]="75">
					<ng-template let-row="row" ngx-datatable-cell-template>
						{{row.identityTypeName}}
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column name="Original Amount" prop="originalAmount" [resizeable]="false" [maxWidth]="87">
					<ng-template let-row="row" ngx-datatable-cell-template>
						<div *ngIf="row.originalAmount != null" class="float-right">${{row.originalAmount | vbsCurrency}}</div>
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column name="Current Amount" prop="currentAmount" [resizeable]="false" [maxWidth]="87">
					<ng-template let-row="row" ngx-datatable-cell-template>
						<div *ngIf="row.currentAmount != null" class="float-right">${{row.currentAmount | vbsCurrency}}</div>
					</ng-template>
				</ngx-datatable-column>
                <ng-container *ngIf="showInterest">
                    <ngx-datatable-column name="Current Interest Amount"  prop="currentInterestAmount" [resizeable]="false" [maxWidth]="87">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div *ngIf="row.currentInterestAmount != null" class="float-right">${{row.currentInterestAmount | vbsCurrency}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Total Available Cash Amount (Inc Interest)"  prop="totalAvailableAmount" [resizeable]="false" [maxWidth]="87">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div *ngIf="row.totalAvailableAmount != null" class="float-right">${{row.totalAvailableAmount | vbsCurrency}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                </ng-container>
				<ngx-datatable-column name="Enrolment Numbers" [resizeable]="false" [width]="65">
					<ng-template let-row="row" ngx-datatable-cell-template>
						<span [innerHTML]="formatEnrollmentNumbers(row.enrolments)"></span>
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column name="DTA Status" [resizeable]="false" [maxWidth]="85">
					<ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.dtaStatus}}
                    </ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column name="DTA Account Number" [resizeable]="false" [width]="85">
					<ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.dtaAccountNumber}}
					</ng-template>
				</ngx-datatable-column>
			</ngx-datatable>
		</div>

	</div>

	<ng-template #noresults><p>No results found.</p></ng-template>
</div>
<ng-template #rti let-r="result" let-t="term">
	{{r}}
</ng-template>

<ng-template #rtf let-r="result" let-t="term">
	{{r.id}} - {{r.name}}
</ng-template>

<ng-template #rtContact let-r="result" let-t="term">
	{{r.crmContactId}} - {{r.companyName}}
</ng-template>

<ng-template #completePoolModal let-c="close" let-d="dismiss">

	<form [formGroup]="poolSecurityModalForm" novalidate>
		<div class="modal-header">
			<h4 class="modal-title">Complete Pool</h4>
			<button type="button" class="close" aria-label="Close" (click)="d()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<label>From all the selected security instruments, to which existing Pool ID you want to Pool/Merge into?</label>
			<div class="row form-group">
					<label class="col-md-6">Existing Pool Id Kept:</label>
					<input class="col-md-4 form-control" id="poolId" formControlName="poolId" type="number">
			</div>
			<div class="row form-group">
					<label class="col-md-6">Units Intended to Cover:</label>
					<input class="col-md-4 form-control" id="unitsIntendedToCover" formControlName="unitsIntendedToCover" type="number">
			</div>
			<p *ngFor="let message of poolingErrorMessages">
				{{message}}
			</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary" (click)="doCompletePool()" [disabled]="poolingSecurities || !poolSecurityModalForm.valid || securityPooled">{{poolingSecurities ? "Saving" : "Save"}}</button>
			<button type="button" class="btn btn-secondary" (click)="d()">Close</button>
		</div>
	</form>
</ng-template>
