<div class="alert-fixed" *ngIf="errors.length">
	<ngb-alert *ngFor="let error of errors" type="danger-fixed" (close)="close(error)">{{ error.message }}</ngb-alert>
</div>

<div class="alert-fixed" *ngIf="messages.length">
	<ngb-alert *ngFor="let message of messages" type="success-fixed" (close)="closeMessage(message)">{{ message }}</ngb-alert>
</div>

<app-navbar></app-navbar>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>