<button #openButton class="btn btn-default d-none" (click)="open(content)" >Open</button>  

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
        {{message}}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="c()">Delete</button>
        <button type="button" class="btn btn-secondary" (click)="d()">Cancel</button>
    </div>
</ng-template>