<div class="row no-gutters">
    <div class="col-6 offset-1" *ngIf="details !== undefined">
        <div class="row">
            <div class="col-12">
                <strong>{{(details.adminAgentBroker.financialInstitutionTypeId == 8) ? 'Administrative Agent' : 'Administrative Broker'}}</strong><br/>
                <a href="#" [routerLink]="['/financialInstitution']" [queryParams]="{id: details.adminAgentBroker.id, tab: 'tab-maapoa'}">
                    <strong>{{(details.adminAgentBroker.financialInstitutionTypeId == 8) ? 'MAA' : 'POA'}}{{details.maaPoaSequence}}</strong>
                </a> :
                <a href="#" [routerLink]="['/financialInstitution']" [queryParams]="{id: details.adminAgentBroker.id}">
                    {{details.adminAgentBroker.id}} - {{details.adminAgentBroker.name}}
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                &nbsp;
            </div>
            <div class="col-5">
                <strong>Financial Institution</strong>
            </div>
            <div class="col-2">
                <strong>Percentage</strong>
            </div>
            <div class="col-2">
                <strong>Original Amount</strong>
            </div>
            <div class="col-2">
                <strong>Current Amount</strong>
            </div>
        </div>
        <div class="row" *ngFor="let inst of details.maaPoaInstitutions">
            <div class="col-5">
                <a href="#" [routerLink]="['/financialInstitution']" [queryParams]="{id: inst.financialInstitution.id}">
                    {{inst.financialInstitution.id}} - {{inst.financialInstitution.name}}
                </a>
            </div>
            <div class="col-2">
                {{inst.percentage}}%
            </div>
            <div class="col-2">
                ${{inst.originalAmountOnInstitution | vbsCurrency}}
            </div>
            <div class="col-2">
                ${{inst.currentAmountOnInstitution | vbsCurrency}}
            </div>
        </div>
    </div>
    <div class="col-12">
        &nbsp;
    </div>
</div>
