<div class="modal-header">
    <h4 class="modal-title">VB & Home Covered Remove Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
	<h5>Deleted Enrolments</h5>
    <div class="row" *ngIf="activities != null && activities.length > 0;else progress">
        <div class="col-12">
            <br/>
            <ngx-datatable
                class="bootstrap table-bordered table-hover table-striped table-overflow table-small-font"
                [rows]="activities"
                [limit]="50"
                [columnMode]="'flex'"
                [headerHeight]="'auto'"
                [footerHeight]="'auto'"
                [rowHeight]="'auto'">

                <ngx-datatable-column [flexGrow]="2" name="Activity Time" prop="updateDate">
                    <ng-template let-row="row" ngx-datatable-cell-template>{{row.updateDate | dateFormat}} {{row.updateDate | date : 'shortTime'}}</ng-template>
                </ngx-datatable-column>
				<ngx-datatable-column [flexGrow]="1" name="VB Number" prop="enrollingVb">
                    <ng-template let-row="row" ngx-datatable-cell-template>{{row.enrollingVb}}</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column [flexGrow]="2" name="VB Name" prop="vbName">
                    <ng-template let-row="row" ngx-datatable-cell-template>{{row.vbName}}</ng-template>
				</ngx-datatable-column>				
				<ngx-datatable-column [flexGrow]="2" name="Enrolment Number" prop="enrolmentNumber">
                    <ng-template let-row="row" ngx-datatable-cell-template>{{row.enrolmentNumber}}</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column [flexGrow]="1" name="Type" prop="enrolmentType">
                    <ng-template let-row="row" ngx-datatable-cell-template>{{row.enrolmentType}}</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column [flexGrow]="3" name="Address" prop="enrolmentAddress">
                    <ng-template let-row="row" ngx-datatable-cell-template>{{row.enrolmentAddress}}</ng-template>
				</ngx-datatable-column>
                <ngx-datatable-column [flexGrow]="1" name="User ID" prop="user">
                    <ng-template let-row="row" ngx-datatable-cell-template>{{row.user}}</ng-template>
                </ngx-datatable-column>

            </ngx-datatable>
        </div>
        <div class="col-12" *ngIf="activities != null && activities.length == 0">
            <strong>{{status}}</strong>
        </div>
    </div>

	<h5>Deleted VBs</h5>
	<div class="row" *ngIf="vbActivities != null && vbActivities.length > 0;else progress">
        <div class="col-12">
            <br/>
            <ngx-datatable
                class="bootstrap table-bordered table-hover table-striped table-overflow table-small-font"
                [rows]="vbActivities"
                [limit]="50"
                [columnMode]="'flex'"
                [headerHeight]="'auto'"
                [footerHeight]="'auto'"
                [rowHeight]="'auto'">

                <ngx-datatable-column [flexGrow]="2" name="Activity Time" prop="updateDate">
                    <ng-template let-row="row" ngx-datatable-cell-template>{{row.updateDate | dateFormat}} {{row.updateDate | date : 'shortTime'}}</ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [flexGrow]="1" name="VB Number" prop="vbNumber">
                    <ng-template let-row="row" ngx-datatable-cell-template>{{row.vbNumber}}</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column [flexGrow]="3" name="VB Name" prop="vbName">
                    <ng-template let-row="row" ngx-datatable-cell-template>{{row.vbName}}</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column [flexGrow]="3" name="Vb Delete Reason" prop="vbDeleteReason">
                    <ng-template let-row="row" ngx-datatable-cell-template>{{row.vbDeleteReason}}</ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [flexGrow]="1" name="User ID" prop="user">
                    <ng-template let-row="row" ngx-datatable-cell-template>{{row.user}}</ng-template>
                </ngx-datatable-column>

            </ngx-datatable>
        </div>
        <div class="col-12" *ngIf="activities != null && activities.length == 0">
            <strong>{{status}}</strong>
        </div>
	</div>
	
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="dismiss()">OK</button>
</div>
<ng-template #progress>
    <div class="progress" *ngIf = "progressing">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
    </div>
</ng-template>