<div class="modal-header">
    <h4 class="modal-title">Auto Freehold Security Release Controls: {{form.get('enrolmentNumber').value}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" [formGroup]="form">
    <div class="row">
        <div class="form-group col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <label for="excessDeposit" class="form-group font-weight-bold">Excess Deposit:</label>
                </div>
                <div class="col-md-3">
                    <select class="form-control" id="excessDeposit" formControlName="excessDeposit">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="true">Yes</option>
                        <option [ngValue]="false">No</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <label for="excessDepositRelease" class="form-group font-weight-bold">Available for Excess Dep. Release:</label>
                </div>
                <div class="col-md-3">
                    <select class="form-control" id="excessDepositRelease" formControlName="excessDepositRelease">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="true">Yes</option>
                        <option [ngValue]="false">No</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <label for="autoOneYear" class="form-group font-weight-bold">Available for Automatic 1 Year:</label>
                </div>
                <div class="col-md-3">
                    <select class="form-control" id="autoOneYear" formControlName="autoOneYear">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="true">Yes</option>
                        <option [ngValue]="false">No</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <label for="autoOneYearRfc" class="form-group font-weight-bold">Available for Auto 1 Year + RFC:</label>
                </div>
                <div class="col-md-3">
                    <select class="form-control" id="autoOneYearRfc" formControlName="autoOneYearRfc">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="true">Yes</option>
                        <option [ngValue]="false">No</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <label for="autoTwoYear" class="form-group font-weight-bold">Available for Automatic 2 Year:</label>
                </div>
                <div class="col-md-3">
                    <select class="form-control" id="autoTwoYear" formControlName="autoTwoYear">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="true">Yes</option>
                        <option [ngValue]="false">No</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12" *ngIf="activities == null">
            <button class="btn btn-info" (click)="loadEnrolmentActivities()" #loadButton>Load Activities</button>
        </div>
        <div class="col-12" *ngIf="activities != null && activities.length > 0">
            <br/>
            <ngx-datatable
                class="bootstrap table-bordered table-hover table-striped table-overflow table-small-font"
                [rows]="activities"
                [limit]="50"
                [columnMode]="'flex'"
                [headerHeight]="'auto'"
                [footerHeight]="'auto'"
                [rowHeight]="'auto'">

                <ngx-datatable-column [flexGrow]="2" name="Activity Time" prop="activityTime">
                    <ng-template let-row="row" ngx-datatable-cell-template>{{row.activityTime | dateFormat}}</ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [flexGrow]="2" name="Field" prop="fieldName">
                    <ng-template let-row="row" ngx-datatable-cell-template>{{row.fieldName}}</ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [flexGrow]="1" name="Old Value" prop="oldValue">
                    <ng-template let-row="row" ngx-datatable-cell-template>{{row.oldValue}}</ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [flexGrow]="1" name="New Value" prop="newValue">
                    <ng-template let-row="row" ngx-datatable-cell-template>{{row.newValue}}</ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [flexGrow]="2" name="User ID" prop="userId">
                    <ng-template let-row="row" ngx-datatable-cell-template>{{row.userId}}</ng-template>
                </ngx-datatable-column>

            </ngx-datatable>
        </div>
        <div class="col-12" *ngIf="activities != null && activities.length == 0">
            <strong>No Activities have been recorded.</strong>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="save()">OK</button>
    <button type="button" class="btn btn-secondary" (click)="d()">Cancel</button>
</div>
