<p><br> </p>
<p><br> </p>

<div class="row justify-content-md-center">
    <div class="col-4 text-center">
        Branch: {{manifestUtil.getGitBranch()}}<br/>
        Commit SHA: {{manifestUtil.getGitSha()}}
    </div>
</div>
<div class="separator"></div>
<div class="bottom">
    <div class="row justify-content-md-center">
        <div class="col-4 text-center">
            <p class="align-middle">&copy; Copyright 2018-{{currentYear}} Tarion</p>
        </div>
    </div>
</div>
